In [3]:
import keyword

In [5]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
print(len(keyword.kwlist))

35

In [17]:
words = keyword.kwlist

index = 0 

while index < len(words):
    print(words[index])
    index+=1

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [20]:
for i in words:
    print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [30]:
x = 0o10
print(x)

8

In [33]:
for i in range(0,24):
    print("Octal number is :",oct(i))
#     if i == 8 or i == 9:
#         print(i," is not in octal number")
#         continue
#     else:
    print("octal to deciaml :",int(i))
    i+=1

Octal number is : 0o0
octal to deciaml : 0
Octal number is : 0o1
octal to deciaml : 1
Octal number is : 0o2
octal to deciaml : 2
Octal number is : 0o3
octal to deciaml : 3
Octal number is : 0o4
octal to deciaml : 4
Octal number is : 0o5
octal to deciaml : 5
Octal number is : 0o6
octal to deciaml : 6
Octal number is : 0o7
octal to deciaml : 7
Octal number is : 0o10
octal to deciaml : 8
Octal number is : 0o11
octal to deciaml : 9
Octal number is : 0o12
octal to deciaml : 10
Octal number is : 0o13
octal to deciaml : 11
Octal number is : 0o14
octal to deciaml : 12
Octal number is : 0o15
octal to deciaml : 13
Octal number is : 0o16
octal to deciaml : 14
Octal number is : 0o17
octal to deciaml : 15
Octal number is : 0o20
octal to deciaml : 16
Octal number is : 0o21
octal to deciaml : 17
Octal number is : 0o22
octal to deciaml : 18
Octal number is : 0o23
octal to deciaml : 19
Octal number is : 0o24
octal to deciaml : 20
Octal number is : 0o25
octal to deciaml : 21
Octal number is : 0o26
octal to deciaml : 22
Octal number is : 0o27
octal to deciaml : 23

In [34]:
for i in range(0,16):
    print(i,"in hex number is =",hex(i))

0 in hex number is = 0x0
1 in hex number is = 0x1
2 in hex number is = 0x2
3 in hex number is = 0x3
4 in hex number is = 0x4
5 in hex number is = 0x5
6 in hex number is = 0x6
7 in hex number is = 0x7
8 in hex number is = 0x8
9 in hex number is = 0x9
10 in hex number is = 0xa
11 in hex number is = 0xb
12 in hex number is = 0xc
13 in hex number is = 0xd
14 in hex number is = 0xe
15 in hex number is = 0xf

In [35]:
n = 10
print(complex(n))

(10+0j)

In [36]:
n.real

10

In [37]:
n.imag

0

In [38]:
a=True
b='True'
c=False
d='False'
print(type(a),type(b),type(c),type(d))

<class 'bool'> <class 'str'> <class 'bool'> <class 'str'>

In [39]:
print(True,False)

True False

In [40]:
print(True)

True

In [41]:
print(int(True), int(False))

1 0

In [42]:
print(complex(True), complex(False))

(1+0j) 0j

In [43]:
print(float(True), float(False))

1.0 0.0

In [45]:
print(bool(True), bool(False))

True False

In [55]:
x = "                   Digvijay"
print(x, id(x))

# x='d'
print(x, id(x))

                   Digvijay 2085040493696
                   Digvijay 2085040493696

In [58]:
print(x)

                   Digvijay

In [63]:
z = x.center(50) # 50 is width
print(z)

                              Digvijay

In [57]:
y = x.strip()
print(y)

Digvijay

In [65]:
str1 = "india is my country all indian are my brothers and sisters"
str1.find("my")

9

In [69]:
str1.endswith('s')

True

In [70]:
str1.startswith('i')

True

In [75]:
str1='Digvijay\tMohite'
str2 = str1.expandtabs(tabsize=100)
print(str2)

Digvijay                                                                                            Mohite

In [76]:
str1[0:4]

'Digv'

In [79]:
str1[:-1]

'Digvijay\tMohit'

In [82]:
str1='Digvijay Mohite'

In [83]:
str1[::-1]

'etihoM yajivgiD'

In [86]:
str1[-6:-1]

'Mohit'

In [87]:
a = 10
b = 10.10
c = '1000'
d = 10+4j

print(float(a),str(a),complex(a))

10.0 10 (10+0j)

In [88]:
print(int(b),str(b),complex(b))

10 10.1 (10.1+0j)

In [89]:
print(int(c),float(c),complex(c))

1000 1000.0 (1000+0j)

In [91]:
x=5
print(id(x))
x=10
print(id(x))

140707507069864
140707507070024

In [92]:
lst=[1,2,4]
print(lst)
print(id(lst))
lst[2]=3
print(lst)
print(id(lst))

[1, 2, 4]
2085034959168
[1, 2, 3]
2085034959168

In [101]:
a=100
a=b=c=d
print(id(a))
print(id(b))
print(id(c))
print(id(d))
a is b

2085036092336
2085036092336
2085036092336
2085036092336

True

In [100]:
a=100.1
b=100.1
c=100.1
d=100.1
print(id(a))
print(id(b))
print(id(c))
print(id(d))

2085045846160
2085027916784
2085041480656
2085036092336

In [104]:
l=[1,2,3,4,5,6,7,8,90]
b = bytes(l)
b

b'\x01\x02\x03\x04\x05\x06\x07\x08Z'

In [106]:
for i in b:
    print(i)

1
2
3
4
5
6
7
8
90

In [107]:
l=[1,2,3,4,5,6,7]
l.pop(2)

3

In [108]:
l

[1, 2, 4, 5, 6, 7]

In [109]:
s1={1,2,3,4}
s2={3,4,5,6,7}

In [110]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [111]:
s1.intersection(s2)

{3, 4}

In [112]:
s1.difference(s2)

{1, 2}

In [113]:
s1.symmetric_difference(s2)

{1, 2, 5, 6, 7}

In [114]:
a = frozenset({1, 2, 3, 4})
b = frozenset({3, 4, 5, 6})

print(a.union(b))  # Union of two frozensets
print(a.intersection(b))  # Intersection of two frozensets
print(a.difference(b))  # Difference between two frozensets
print(3 in a)  # Membership testing

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
True

In [1]:
# fuctuin 
# 1. Calling the function
def add():
    a = float(input('enter a ='))
    b = float(input('enter b ='))
    c = a+b
    print(c)
    
add()

enter a =10
enter b =20
30.0

In [2]:
# 2. argumennt in the function 
def add(a,b):
    c = a+b
    print(c)
    
add(100,200)

300

In [3]:
# 3. return the values

def add(a,b):
    result = a+b
    return result

add(100, 200)

300

In [7]:
# 4. unknown parameters

def my_function(*letter):
        print('All the letters :',letter)
        print("First position of letter :", letter[0])
        
my_function('A','B','C')

All the letters : ('A', 'B', 'C')
First position of letter : A

In [11]:
# 5. UNKNOWN KEY-VALUE PAIR PARAMETERS

def my_function(**letter):
        print('All the letters :',letter)
        print("First position of letter :", letter["A"])
        
my_function(A='A',B='B',C='C')

All the letters : {'A': 'A', 'B': 'B', 'C': 'C'}
First position of letter : A

In [12]:
# 6. Default value to parameter

def AltEmail(email='default@email.com'):
    print("Alternate email is : ",email)

print("Alternate email of student :")

AltEmail()
AltEmail('digvi@email.com')

Alternate email of student :
Alternate email is :  default@email.com
Alternate email is :  digvi@email.com

In [14]:
square = lambda x:x**2
square(4)

16

In [15]:
multiplication = lambda x,y : x*y

multiplication(4,5)

20

In [18]:
def add(n):
    print('value of n is :',n)
    
    return lambda x : x+n

add(1000)

other = add(1000)
print(other(100))

value of n is : 1000
value of n is : 1000
1100

In [22]:
class student:
    def __init__(self, name, branch):
        self.name = name
        self.branch = branch
        
    def display(self):
        print('Name of student :',self.name)
        print('Branch of student :',self.branch)
        
obj=student('Digvijay', 'IT')
obj.display()

Name of student : Digvijay
Branch of student : IT

In [36]:
class stud:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        
students = []

for i in range(1,4):
    name = input('Enter first name of student {} :'.format(i))
    marks = float(input('Enter total marks in percentage {} :'.format(i)))
    obj = stud(name, marks)
    students.append(obj)
    
print('Displaying the details of students :')

for obj in students:
    print("Name = {}, Marks = {}".format(obj.name, obj.marks))

Enter first name of student 1 :ABHI
Enter total marks in percentage 1 :100
Enter first name of student 2 :SHOURYA
Enter total marks in percentage 2 :99
Enter first name of student 3 :ATHARV
Enter total marks in percentage 3 :98
Displaying the details of students :
Name = ABHI, Marks = 100.0
Name = SHOURYA, Marks = 99.0
Name = ATHARV, Marks = 98.0

In [44]:
class base:
    
    def __init__(self, name, team):
        self.name = name
        self.team = team
        
    def bdisplay(self):
        print('DISPLAYING THROUGH BASE CLASS')
        print('Name of Player :',self.name)
        print('Team of Player :',self.team)
        
class derived(base):
    
    def __init__(self, name, team, jercy):
        self.name = name
        self.team = team
        self.jercy = jercy
        
    def ddisplay(self):
        print('DISPLAYING THROUGH DERIVED CLASS')
        print('Name of Player :', self.name)
        print('Team of Player :',self.team)
        print('Jercy of Player :',self.jercy)
        
obj_base = base('Virat', 'INDIA')
obj_derive = derived('Virat', 'INDIA', 18)

print(obj_base.bdisplay())
print('*'*100)
print(obj_derive.ddisplay())

DISPLAYING THROUGH BASE CLASS
Name of Player : Virat
Team of Player : INDIA
None
****************************************************************************************************
DISPLAYING THROUGH DERIVED CLASS
Name of Player : Virat
Team of Player : INDIA
Jercy of Player : 18
None

In [47]:
tup=(1,2,3,4,5)

itr = iter(tup)
print(next(itr))

1

In [49]:
tup=(1,2,3,4,5)

itr = iter(tup)
for i in itr:
    print(i)

1
2
3
4
5

In [50]:

string = "I love python"

itr = iter(string)

for i in itr:
    print(i)

I

l
o
v
e

p
y
t
h
o
n

In [55]:
import json

js = {
    "fname":'Digvijay',
    'lname':'Mohite'
}

json_obj = json.dumps(js, indent=4)
print(json_obj)

{
    "fname": "Digvijay",
    "lname": "Mohite"
}

In [57]:
import re

In [64]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.search("^The.*Rossom$",txt)
print(x)

<re.Match object; span=(0, 64), match='The python programming was developed in 1991 by G>

In [68]:
print(x.string)

The python programming was developed in 1991 by Guido Van Rossom

In [82]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.sub("\s","_",txt)
print(x)

The_python_programming_was_developed_in_1991_by_Guido_Van_Rossom

In [85]:
while True:
    try:
        x=int(input('Enter Number :'))
        break
    except ValueError:
        print('Not valid number')

Enter Number :99.99
Not valid number
Enter Number :100

In [86]:
x=-1

if x < 0:
    raise Exception("sorry no number below zero")

Exception: sorry no number below zero

In [2]:
var = 10
print(var)
print(type(var))
var2 = str(var)
print(var2)
print(type(var2))

10
<class 'int'>
10
<class 'str'>

In [4]:
# pip install jupyterlab

In [2]:
# pip install jupyter

In [3]:
a = "Dipak and Digvijay doing study"

In [5]:
print(a)

Dipak and Digvijay doing study

In [6]:
a.replace("doing",  "done")

'Dipak and Digvijay done study'

In [7]:
b = "            Dipak and Digvijay doing study         "

In [8]:
print(b)

            Dipak and Digvijay doing study

In [10]:
b.strip()

'Dipak and Digvijay doing study'

In [14]:
c = a.split("-")
c

['Dipak and Digvijay doing study']

In [46]:
# Splitting a string using a space as the delimiter
sentence = "Hello,World,How,Are,You"
words = sentence.split(",", 2)
print(words)

['Hello', 'World', 'How,Are,You']

In [49]:
"$".join(words)

'Hello$World$How,Are,You'

In [51]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [9]:
Str= "DIGvijay sopan mohite. Dipak Yeshwwant Jagdale"

In [10]:
Str

'DIGvijay sopan mohite. Dipak Yeshwwant Jagdale'

In [11]:
Str.casefold()

'digvijay sopan mohite. dipak yeshwwant jagdale'

In [12]:
Str.capitalize()

'Digvijay sopan mohite. dipak yeshwwant jagdale'

In [13]:
Str.title()

'Digvijay Sopan Mohite. Dipak Yeshwwant Jagdale'

In [19]:
Str.expandtabs()

'DIGvijay sopan mohite. Dipak Yeshwwant Jagdale'

In [23]:
text = "Hello\tWorld\t!"
print(text)
expanded_text = text.expandtabs()
print(expanded_text)

Hello	World	!
Hello   World   !

In [24]:
Str

'DIGvijay sopan mohite. Dipak Yeshwwant Jagdale'

In [29]:
Str.index('l')

44

In [31]:
Str.find('l')

44

In [32]:
Str.find('z')

-1

In [35]:
Str.swapcase()

'digVIJAY SOPAN MOHITE. dIPAK yESHWWANT jAGDALE'

In [41]:
Str.endswith('E')

False

In [42]:
Str

'DIGvijay sopan mohite. Dipak Yeshwwant Jagdale'

In [46]:
Str.index('Di')

23

In [57]:
Str[23::5]

'D w a'

In [58]:
Str*3

'DIGvijay sopan mohite. Dipak Yeshwwant JagdaleDIGvijay sopan mohite. Dipak Yeshwwant JagdaleDIGvijay sopan mohite. Dipak Yeshwwant Jagdale'

In [59]:
Str[::-1]

'eladgaJ tnawwhseY kapiD .etihom napos yajivGID'

In [60]:
Str[]

'ladgaJ tnawwhseY kapiD .etihom napos yajivGID'

In [61]:
Str[23::]

'Dipak Yeshwwant Jagdale'

In [65]:
Str[-23:-1:]

'DpkYswatJga'

In [69]:
a=1000
print(a, type(a))

1000 <class 'int'>

In [68]:
b=str(a)
print(b, type(b))

1000 <class 'str'>

In [70]:
c=complex(a)
print(c, type(c))

(1000+0j) <class 'complex'>

In [71]:
c.imag

0.0

In [72]:
c.real

1000.0

In [74]:
d = 10.1010
print(d, type(d))

10.101 <class 'float'>

In [84]:
idd = int(d)
print(idd, type(idd))

10 <class 'int'>

In [76]:
cd=complex(d)
print(cd, type(cd))

(10.101+0j) <class 'complex'>

In [77]:
sd = str(d)
print(sd, type(sd))

10.101 <class 'str'>

In [78]:
s = '4851'
iss = int(s)
print(iss, type(iss))
fs = float(s)
print(fs, type(fs))
cs = complex(s)
print(cs, type(cs))

4851 <class 'int'>
4851.0 <class 'float'>
(4851+0j) <class 'complex'>

In [79]:
c = 4851+0j
print(c, type(c))

(4851+0j) <class 'complex'>

In [86]:
# ci = int(c)
# print(ci, type(ci))

In [1]:
# immutability
x=5
print(id(x))
x=10
print(id(x))

140735530066856
140735530067016

In [2]:
# immutability
x = 5
print(id(x))  # Output: <some_memory_address>
x = 10
print(id(x))  # Output: <some_different_memory_address>

140735530066856
140735530067016

In [4]:
list1=[1,2,3]
print(list1)
print(id(list1))

[1, 2, 3]
3261741368512

In [5]:
list1[2] = [1,2,3]
print(list1)
print(id(list1))

[1, 2, [1, 2, 3]]
3261741368512

In [1]:
lst = [1,2,3,4]

In [2]:
print(id(lst))

1564121334400

In [3]:
lst[0] = 1111

In [5]:
print(lst)
print(id(lst))

[1111, 2, 3, 4]
1564121334400

In [74]:
lst1 = [10,20,30,40]
print(lst1)
print(id(lst1))
print('*'*100)

lst1.append(90)
print(lst1)
print(id(lst1))

[10, 20, 30, 40]
1564131112640
****************************************************************************************************
[10, 20, 30, 40, 90]
1564131112640

In [75]:
lst11 = "Digvijay"
print(lst11)
print(id(lst11))
print('*'*100)

str1 = 'DIgvijay'
print(str1)
print(id(str1))

Digvijay
1564121282480
****************************************************************************************************
DIgvijay
1564121334640

In [76]:
lst1

[10, 20, 30, 40, 90]

In [77]:
lst1.insert(4,50)

In [78]:
lst1

[10, 20, 30, 40, 50, 90]

In [79]:
lst1.append([100, 10, 20 ,111, 22])

In [80]:
lst1

[10, 20, 30, 40, 50, 90, [100, 10, 20, 111, 22]]

In [81]:
ele_to_be_insert = [60, 70, 80]

expected_index = 5

for i in ele_to_be_insert:
    lst1.insert(expected_index, i)
    expected_index += 1 # index = index + 1 (a += 1 >> a = a+1)
    
print(lst1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, [100, 10, 20, 111, 22]]

In [82]:
lst1

[10, 20, 30, 40, 50, 60, 70, 80, 90, [100, 10, 20, 111, 22]]

In [84]:
lst1[9][1::2]

[10, 111]

In [85]:
lst1.reverse()

In [86]:
lst1

[[100, 10, 20, 111, 22], 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [87]:
lst1[::-1]

[10, 20, 30, 40, 50, 60, 70, 80, 90, [100, 10, 20, 111, 22]]

In [88]:
lst1.reverse()

In [89]:
lst1

[10, 20, 30, 40, 50, 60, 70, 80, 90, [100, 10, 20, 111, 22]]

In [91]:
lst1.reverse()
lst1

[10, 20, 30, 40, 50, 60, 70, 80, 90, [100, 10, 20, 111, 22]]

In [96]:
print(len(lst1[9]))

5

In [97]:
lst1.remove(60)
lst1

[10, 20, 30, 40, 50, 70, 80, 90, [100, 10, 20, 111, 22]]

In [100]:
lst2 = lst1.copy()
lst2

[10, 20, 30, 40, 50, 70, 80, 90, [100, 10, 20, 111, 22]]

In [101]:
lst1.extend(lst2)

In [102]:
lst1

[10,
 20,
 30,
 40,
 50,
 70,
 80,
 90,
 [100, 10, 20, 111, 22],
 10,
 20,
 30,
 40,
 50,
 70,
 80,
 90,
 [100, 10, 20, 111, 22]]

In [103]:
lst1.index(90)

7

In [106]:
lst1.clear()

In [107]:
lst1

[]

In [108]:
lst1 = [1,2,'python','java',2.2,3.4]

In [109]:
lst1

[1, 2, 'python', 'java', 2.2, 3.4]

In [110]:
lst1.index('python')

2

In [111]:
lst1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [112]:
lst1.pop()

3.4

In [113]:
lst1

[1, 2, 'python', 'java', 2.2]

In [114]:
lst1.remove('python')

In [115]:
lst1

[1, 2, 'java', 2.2]

In [118]:
lst1.pop(2)

'java'

In [119]:
lst1

[1, 2, 2.2]

In [126]:
l=[21,1,9,3,51,16]

In [127]:
l

[21, 1, 9, 3, 51, 16]

In [132]:
l.sort(reverse=True)

In [133]:
l

[51, 21, 16, 9, 3, 1]

In [134]:
l[0:3] = [5, 2,6]

In [135]:
l

[5, 2, 6, 9, 3, 1]

In [136]:
for i in l:
    print(i)

5
2
6
9
3
1

In [8]:
l1 = [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [9]:
t = tuple(l1)
t

(1, 2, 3, 4, 5)

In [10]:
l1.count(2)

1

In [11]:
t.index(3)

2

In [6]:
print(t)

(1, 2, 3, 4, 5)

In [12]:
l1

[1, 2, 3, 4, 5]

In [14]:
tup = tuple(l1)
tup, type(tup)

((1, 2, 3, 4, 5), tuple)

In [15]:
tup

(1, 2, 3, 4, 5)

In [20]:
import numpy as np
import pandas as pd

In [23]:
import sys
sys.version

'3.11.5 (tags/v3.11.5:cce6ba9, Aug 24 2023, 14:38:34) [MSC v.1936 64 bit (AMD64)]'

In [1]:
tup=tuple((1,2,3,4,5,6))
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [2]:
print(tup)
print(type(tup))

print('*'*100)

l_tup=list(tup)
print(l_tup)
print(type(l_tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
****************************************************************************************************
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [3]:
l_tup.append(100)

In [4]:
tup = tuple(l_tup)
print(tup)

(1, 2, 3, 4, 5, 6, 100)

In [5]:
tup

(1, 2, 3, 4, 5, 6, 100)

In [7]:
tup[5]

6

In [8]:
tup11=('A','B','C','D','E')

In [9]:
tup11

('A', 'B', 'C', 'D', 'E')

In [10]:
type(tup11)

tuple

In [11]:
tup

(1, 2, 3, 4, 5, 6, 100)

In [12]:
tup11

('A', 'B', 'C', 'D', 'E')

In [13]:
top = tup +  tup11
top

(1, 2, 3, 4, 5, 6, 100, 'A', 'B', 'C', 'D', 'E')

In [14]:
del top

In [16]:
# top

In [17]:
tup

(1, 2, 3, 4, 5, 6, 100)

In [28]:
(dig, *bhav, ps, lalu) = tup

In [29]:
print(dig)
print(bhav)
print(ps)
print(lalu)

1
[2, 3, 4, 5]
6
100

In [30]:
tup, tup11

((1, 2, 3, 4, 5, 6, 100), ('A', 'B', 'C', 'D', 'E'))

In [31]:
top = (*tup, *tup11)

In [32]:
top

(1, 2, 3, 4, 5, 6, 100, 'A', 'B', 'C', 'D', 'E')

In [33]:
def add(a,b,c,d):
    return a+b+c+d

In [39]:
value = (1000, 324,388, 200)
num = add(*value)
print(num)

1912

In [35]:
values = (1,2,99,34)
num = add(*values)
num

136

In [37]:
t1 = (10,20,30,30,50)
t2 = (1, 2, 3, 4, 5)
print(t1)
print(t2)

(10, 20, 30, 30, 50)
(1, 2, 3, 4, 5)

In [40]:
s1 = {1,2,3,4,'vaibhav','akash','pradip'}
s2 = {1,2,3,"sai","kaviraj","chetan",70.1}
print(s1, type(s1))
print(s2, type(s2))

{1, 2, 3, 4, 'akash', 'pradip', 'vaibhav'} <class 'set'>
{1, 2, 3, 'chetan', 70.1, 'kaviraj', 'sai'} <class 'set'>

In [51]:
s1.add(11)

In [53]:
s1.update(s2)

In [54]:
s1

{1,
 11,
 2,
 3,
 4,
 70.1,
 'akash',
 'chetan',
 'kaviraj',
 'pradip',
 'sai',
 'vaibhav'}

In [55]:
s2

{1, 2, 3, 70.1, 'chetan', 'kaviraj', 'sai'}

In [56]:
dict1 = {'name' : 'Lala'}

In [57]:
dict1

{'name': 'Lala'}

In [58]:
s2.update(dict1)

In [59]:
s2

{1, 2, 3, 70.1, 'chetan', 'kaviraj', 'name', 'sai'}

In [60]:
s2.remove('name')

In [61]:
s2

{1, 2, 3, 70.1, 'chetan', 'kaviraj', 'sai'}

In [64]:
s2.discard('name')

In [65]:
s2

{1, 2, 3, 70.1, 'chetan', 'kaviraj', 'sai'}

In [66]:
s1

{1,
 11,
 2,
 3,
 4,
 70.1,
 'akash',
 'chetan',
 'kaviraj',
 'pradip',
 'sai',
 'vaibhav'}

In [67]:
s2

{1, 2, 3, 70.1, 'chetan', 'kaviraj', 'sai'}

In [68]:
s1={1,2,3,4}
s2={3,4,5,6,7}

In [69]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [70]:
s1.intersection(s2)

{3, 4}

In [73]:
s1.intersection_update(s2)

In [74]:
s1

{3, 4}

In [75]:
s2.intersection_update(s1)

In [76]:
s2

{3, 4}

In [81]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}

set2.difference(set1)

{6, 7, 8}

In [82]:
set2.symmetric_difference(set1)

{1, 2, 3, 6, 7, 8}

In [83]:
set2.symmetric_difference_update(set1)

In [84]:
set2

{1, 2, 3, 6, 7, 8}

In [86]:
fs = frozenset(set2)
fs, type(fs)

(frozenset({1, 2, 3, 6, 7, 8}), frozenset)

In [87]:
stud = {
    'roll_no' : 10,
    'name' : 'Akashay',
    'class' : 'TE',
    'marks' : 89.90   
       }

In [88]:
stud

{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9}

In [89]:
stud['marks']

89.9

In [93]:
stud.get('marks')

89.9

In [92]:
stud

{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9}

In [94]:
stud.keys()

dict_keys(['roll_no', 'name', 'class', 'marks'])

In [98]:
for i in stud.keys():
    print(i, stud[i])

roll_no 10
name Akashay
class TE
marks 89.9

In [99]:
stud.values()

dict_values([10, 'Akashay', 'TE', 89.9])

In [100]:
stud.items()

dict_items([('roll_no', 10), ('name', 'Akashay'), ('class', 'TE'), ('marks', 89.9)])

In [101]:
dict1 = {
    'name' : 'Digvijay',
    'mobile' : 1234567891,
    'address' : 'sangli',
    'job' : 'Data Scientist',
    'salary' : 1000000,
    'salary' : 10000
    }

In [102]:
dict1['job']

'Data Scientist'

In [103]:
dict1.get('job')

'Data Scientist'

In [104]:
for i in dict1.keys():
    print(i, dict1[i])

name Digvijay
mobile 1234567891
address sangli
job Data Scientist
salary 10000

In [105]:
dict1.values()

dict_values(['Digvijay', 1234567891, 'sangli', 'Data Scientist', 10000])

In [107]:
dict1.items()

dict_items([('name', 'Digvijay'), ('mobile', 1234567891), ('address', 'sangli'), ('job', 'Data Scientist'), ('salary', 10000)])

In [108]:
stud

{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9}

In [109]:
stud['name']='Dipak'

In [110]:
stud

{'roll_no': 10, 'name': 'Dipak', 'class': 'TE', 'marks': 89.9}

In [111]:
stud.update({
    'loc' : 'Navi Mumbai',
    'phobe' : 8600261039})

In [112]:
stud

{'roll_no': 10,
 'name': 'Dipak',
 'class': 'TE',
 'marks': 89.9,
 'loc': 'Navi Mumbai',
 'phobe': 8600261039}

In [115]:
stud.pop('class')

'TE'

In [116]:
stud

{'roll_no': 10,
 'name': 'Dipak',
 'marks': 89.9,
 'loc': 'Navi Mumbai',
 'phobe': 8600261039}

In [117]:
stud.popitem()

('phobe', 8600261039)

In [118]:
stud

{'roll_no': 10, 'name': 'Dipak', 'marks': 89.9, 'loc': 'Navi Mumbai'}

In [119]:
ns = stud.fromkeys(stud,'Dipak')
ns

{'roll_no': 'Dipak', 'name': 'Dipak', 'marks': 'Dipak', 'loc': 'Dipak'}

In [120]:
stud.setdefault('phone',123456789)

123456789

In [121]:
stud

{'roll_no': 10,
 'name': 'Dipak',
 'marks': 89.9,
 'loc': 'Navi Mumbai',
 'phone': 123456789}

In [122]:
students = {
    "John": {
        "age": 20,
        "grade": "A"
            },
    
    "Sarah": {
        "age": 19,
        "grade": "B"
             }
           }

students

{'John': {'age': 20, 'grade': 'A'}, 'Sarah': {'age': 19, 'grade': 'B'}}

In [123]:
students['John']['age']

20

In [7]:
x = 1000
y = 100

if x > y :
    print('x is greater than y')
elif x == y:
    print('x and y are equal')
elif x <  y:
    print('abahsvjbsj')
else:
    print('x is smaller than y')

x is greater than y

In [8]:
x =100
y = 200
if y > x:print('y is greater')

y is greater

In [12]:
# mark:

marks = int(input('Enter the marks'))
if marks > 75:
    print('Dict')
elif marks <75 and marks >65:
    print('FRIST')
elif marks <65 and marks >40:
    print('PASS')
else:
    print('Fail')

Enter the marks 38

Fail

In [20]:
mail = input('Enter the mail')
password = input('Enter password')

if mail == 'dlsmohite@gmail.com' and password == '101010':
    print('Wel-come')
elif mail == 'dlsmohite@gmail.com' and password != '101010':
    print('Incorrect password')
    password = input('reenter the password')
    if password == '101010':
        print('Wel-come')
    else:
        print('Still incorrect password')
else:
    print('re-enter mail id')
    mail = input('reenter the mail id')
    password = input('enter password')
    if mail == 'dlsmohite@gmail.com' and password == '101010':
        print('Wel-come')
    else:
        print('Still incorrect credential')

Enter the mail scg
Enter password 1010

re-enter mail id

reenter the mail id dlsmohite@gmail.com
enter password 101010

Wel-come

In [22]:
 x = 10
while x <=25:
    print('x =',x)
    x += 1

x = 10
x = 11
x = 12
x = 13
x = 14
x = 15
x = 16
x = 17
x = 18
x = 19
x = 20
x = 21
x = 22
x = 23
x = 24
x = 25

In [1]:
x = 1

while x<=50:
        if (x >= 10 and x <=12) or (x >= 25 and x <=28):
            x+=1
            print('x = Skiped') 
            continue
        
        print('x =',x)
        x += 1

x = 1
x = 2
x = 3
x = 4
x = 5
x = 6
x = 7
x = 8
x = 9
x = Skiped
x = Skiped
x = Skiped
x = 13
x = 14
x = 15
x = 16
x = 17
x = 18
x = 19
x = 20
x = 21
x = 22
x = 23
x = 24
x = Skiped
x = Skiped
x = Skiped
x = Skiped
x = 29
x = 30
x = 31
x = 32
x = 33
x = 34
x = 35
x = 36
x = 37
x = 38
x = 39
x = 40
x = 41
x = 42
x = 43
x = 44
x = 45
x = 46
x = 47
x = 48
x = 49
x = 50

In [11]:
x = 1

while x <= 20:
    print(x)
    if x == 10:
        print
        break
    x +=1

1
2
3
4
5
6
7
8
9
10

In [5]:
tup = ('A','B','C','D','E','F','G','H')
print(tup, type(tup))
      
x = 0
while x < len(tup):
    if tup[x] == 'D':
        x+=1
        print('Digvijay')
        continue
        
    print(x, tup[x])
    x+=1

('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H') <class 'tuple'>
0 A
1 B
2 C
Digvijay
4 E
5 F
6 G
7 H

In [10]:
lst = ['Abhi', 'Digvijay', 'Mohite', 6, 35, 1000]
print(lst, type(lst))

x = 0

while x < len(lst):
    
    if lst[x] == 'Abhi':
        print('ABHIMANYU')
        x+=1
        
    print(lst[x])
    x+=1

['Abhi', 'Digvijay', 'Mohite', 6, 35, 1000] <class 'list'>
ABHIMANYU
Digvijay
Mohite
6
35
1000

In [23]:
print(lst, type(lst))

for i in lst:
    
    if i == 'Digvijay':
        print('DIGVIJAY')
        continue

    print(i)

['Abhi', 'Digvijay', 'Mohite', 6, 35, 1000] <class 'list'>
Abhi
DIGVIJAY
Mohite
6
35
1000

In [25]:
for i in range(110,210,10):
    print(i)

110
120
130
140
150
160
170
180
190
200

In [26]:
for i in range(10,100,10):
    print(i)
else:
    print('for loop completed')

10
20
30
40
50
60
70
80
90
for loop completed

In [33]:
lst.append(11)

In [34]:
lst

['Abhi', 'Digvijay', 'Mohite', 6, 35, 1000, 10, 11]

In [31]:
tup

('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H')

In [35]:
for i in lst:
    for j in tup:
        print(i, j)

Abhi A
Abhi B
Abhi C
Abhi D
Abhi E
Abhi F
Abhi G
Abhi H
Digvijay A
Digvijay B
Digvijay C
Digvijay D
Digvijay E
Digvijay F
Digvijay G
Digvijay H
Mohite A
Mohite B
Mohite C
Mohite D
Mohite E
Mohite F
Mohite G
Mohite H
6 A
6 B
6 C
6 D
6 E
6 F
6 G
6 H
35 A
35 B
35 C
35 D
35 E
35 F
35 G
35 H
1000 A
1000 B
1000 C
1000 D
1000 E
1000 F
1000 G
1000 H
10 A
10 B
10 C
10 D
10 E
10 F
10 G
10 H
11 A
11 B
11 C
11 D
11 E
11 F
11 G
11 H

In [36]:
tup

('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H')

In [43]:

for i in tup:

    if i == 'D':
        print('DDDDDD')
    
    print(i)

A
B
C
DDDDDD
D
E
F
G
H

In [12]:
# x , varay 25 and 15 , 20 ani 25 >> "skip"

lst = [10,25,20, 2, 41, 67, 25, 15, 25, 15]

x = 0

while x < len(lst):
    
    if lst[x]==15 or lst[x]==20 or lst[x]==25:
        x+=1
        print("Skip")
        continue
        
    print(lst[x])
    x+=1

10
Skip
Skip
2
41
67
Skip
Skip
Skip
Skip

In [13]:
lst

[10, 25, 20, 2, 41, 67, 25, 15, 25, 15]

In [14]:
for i in lst:
    if i==15 or i==25:
        print('Skip')
        continue
    print(i)

10
Skip
20
2
41
67
Skip
Skip
Skip
Skip

In [15]:
def display():
    print('WEL COME IN OUR MOC')

In [16]:
display()

WEL COME IN OUR MOC

In [19]:
def addition(a,b,c,d):
    e = a+b+c+d
    print(e)

def substraction(a,b):
    c = a-b
    print(c)

In [18]:
addition(10,20,30,40)

100

In [20]:
substraction(1000,500)

500

In [22]:
def add():
    a= int(input('enter 1st number'))
    b= int(input('ener 2nd number'))
    c = a+b
    print(c)

In [24]:
def add():
    a= int(input('enter 1st number'))
    b= int(input('ener 2nd number'))
    c = a+b
    return c

In [25]:
add()

enter 1st number 100
ener 2nd number 300

400

In [26]:
def register_student():
    name = input('Enter name :')
    sname = input('Enter surname :')
    tenth = float(input('Enter 10th percentage :'))
    twelth = float(input('Enter 12th percentage :'))
    mobile = int(input('Enter mobile number :'))
    print('*'*100)
    
    print(name,"\n",sname,"\n",tenth,"\n",twelth,"\n",mobile)
    print("$"*100)

In [27]:
register_student()

Enter name : Dipak
Enter surname : Jagdale
Enter 10th percentage : 90
Enter 12th percentage : 92
Enter mobile number : 09175535381

****************************************************************************************************
Dipak
 Jagdale
 90.0
 92.0
 9175535381
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [28]:
for i in range(0,5):
    register_student()

Enter name : avhi
Enter surname : mkm
Enter 10th percentage : 00
Enter 12th percentage : 90
Enter mobile number : +919175033081

****************************************************************************************************
avhi
 mkm
 0.0
 90.0
 919175033081
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

Enter name : abhi
Enter surname : mohite
Enter 10th percentage : 99
Enter 12th percentage : 99
Enter mobile number : 09175033081

****************************************************************************************************
abhi
 mohite
 99.0
 99.0
 9175033081
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

Enter name : shourya
Enter surname : mohite
Enter 10th percentage : 99
Enter 12th percentage : 89
Enter mobile number : 09175033081

****************************************************************************************************
shourya
 mohite
 99.0
 89.0
 9175033081
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

Enter name : Atharv
Enter surname : mohite
Enter 10th percentage : 100
Enter 12th percentage : 100
Enter mobile number : +919175033081

****************************************************************************************************
Atharv
 mohite
 100.0
 100.0
 919175033081
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

Enter name : amey
Enter surname : mohite
Enter 10th percentage : 1000
Enter 12th percentage : 100
Enter mobile number : +919175033081

****************************************************************************************************
amey
 mohite
 1000.0
 100.0
 919175033081
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [32]:
def display(*name):
    print('Displaying the names :\n',name)

In [34]:
display('A','B','C',100,10000,'DIPAK')

Displaying the names :
 ('A', 'B', 'C', 100, 10000, 'DIPAK')

In [35]:
def names(n1,n2,n3,n4):
    print('n1 :',n1)
    print('n2 :',n2)
    print('n4 :',n4)
    print('n3 :',n3)

In [39]:
names(n1='DIPAK', n4='Danyi',n2='JrDany', n3='Abhi')

n1 : DIPAK
n2 : JrDany
n4 : Danyi
n3 : Abhi

In [42]:
def my_function(**name): 
    print('His name is :',name)
    # print("His last name is ",name['lname'])
    # print("His village name is ",name['V_Name'])

my_function(fname = "Sachin", lname = "Mohite", V_Name='Manjarde')

His name is : {'fname': 'Sachin', 'lname': 'Mohite', 'V_Name': 'Manjarde'}

In [43]:
def Alt_email(email='dipakjagadale999@gmail'):
    print('My alternate email is : ',email)

In [44]:
Alt_email('dlsmohite@gmail.com')

My alternate email is :  dlsmohite@gmail.com

In [45]:
Alt_email()

My alternate email is :  dipakjagadale999@gmail