In [3]:
import keyword

In [5]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
print(len(keyword.kwlist))

35

In [17]:
words = keyword.kwlist

index = 0 

while index < len(words):
    print(words[index])
    index+=1

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [20]:
for i in words:
    print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [30]:
x = 0o10
print(x)

8

In [33]:
for i in range(0,24):
    print("Octal number is :",oct(i))
#     if i == 8 or i == 9:
#         print(i," is not in octal number")
#         continue
#     else:
    print("octal to deciaml :",int(i))
    i+=1

Octal number is : 0o0
octal to deciaml : 0
Octal number is : 0o1
octal to deciaml : 1
Octal number is : 0o2
octal to deciaml : 2
Octal number is : 0o3
octal to deciaml : 3
Octal number is : 0o4
octal to deciaml : 4
Octal number is : 0o5
octal to deciaml : 5
Octal number is : 0o6
octal to deciaml : 6
Octal number is : 0o7
octal to deciaml : 7
Octal number is : 0o10
octal to deciaml : 8
Octal number is : 0o11
octal to deciaml : 9
Octal number is : 0o12
octal to deciaml : 10
Octal number is : 0o13
octal to deciaml : 11
Octal number is : 0o14
octal to deciaml : 12
Octal number is : 0o15
octal to deciaml : 13
Octal number is : 0o16
octal to deciaml : 14
Octal number is : 0o17
octal to deciaml : 15
Octal number is : 0o20
octal to deciaml : 16
Octal number is : 0o21
octal to deciaml : 17
Octal number is : 0o22
octal to deciaml : 18
Octal number is : 0o23
octal to deciaml : 19
Octal number is : 0o24
octal to deciaml : 20
Octal number is : 0o25
octal to deciaml : 21
Octal number is : 0o26
octal to deciaml : 22
Octal number is : 0o27
octal to deciaml : 23

In [34]:
for i in range(0,16):
    print(i,"in hex number is =",hex(i))

0 in hex number is = 0x0
1 in hex number is = 0x1
2 in hex number is = 0x2
3 in hex number is = 0x3
4 in hex number is = 0x4
5 in hex number is = 0x5
6 in hex number is = 0x6
7 in hex number is = 0x7
8 in hex number is = 0x8
9 in hex number is = 0x9
10 in hex number is = 0xa
11 in hex number is = 0xb
12 in hex number is = 0xc
13 in hex number is = 0xd
14 in hex number is = 0xe
15 in hex number is = 0xf

In [35]:
n = 10
print(complex(n))

(10+0j)

In [36]:
n.real

10

In [37]:
n.imag

0

In [38]:
a=True
b='True'
c=False
d='False'
print(type(a),type(b),type(c),type(d))

<class 'bool'> <class 'str'> <class 'bool'> <class 'str'>

In [39]:
print(True,False)

True False

In [40]:
print(True)

True

In [41]:
print(int(True), int(False))

1 0

In [42]:
print(complex(True), complex(False))

(1+0j) 0j

In [43]:
print(float(True), float(False))

1.0 0.0

In [45]:
print(bool(True), bool(False))

True False

In [55]:
x = "                   Digvijay"
print(x, id(x))

# x='d'
print(x, id(x))

                   Digvijay 2085040493696
                   Digvijay 2085040493696

In [58]:
print(x)

                   Digvijay

In [63]:
z = x.center(50) # 50 is width
print(z)

                              Digvijay

In [57]:
y = x.strip()
print(y)

Digvijay

In [65]:
str1 = "india is my country all indian are my brothers and sisters"
str1.find("my")

9

In [69]:
str1.endswith('s')

True

In [70]:
str1.startswith('i')

True

In [75]:
str1='Digvijay\tMohite'
str2 = str1.expandtabs(tabsize=100)
print(str2)

Digvijay                                                                                            Mohite

In [76]:
str1[0:4]

'Digv'

In [79]:
str1[:-1]

'Digvijay\tMohit'

In [82]:
str1='Digvijay Mohite'

In [83]:
str1[::-1]

'etihoM yajivgiD'

In [86]:
str1[-6:-1]

'Mohit'

In [87]:
a = 10
b = 10.10
c = '1000'
d = 10+4j

print(float(a),str(a),complex(a))

10.0 10 (10+0j)

In [88]:
print(int(b),str(b),complex(b))

10 10.1 (10.1+0j)

In [89]:
print(int(c),float(c),complex(c))

1000 1000.0 (1000+0j)

In [91]:
x=5
print(id(x))
x=10
print(id(x))

140707507069864
140707507070024

In [92]:
lst=[1,2,4]
print(lst)
print(id(lst))
lst[2]=3
print(lst)
print(id(lst))

[1, 2, 4]
2085034959168
[1, 2, 3]
2085034959168

In [101]:
a=100
a=b=c=d
print(id(a))
print(id(b))
print(id(c))
print(id(d))
a is b

2085036092336
2085036092336
2085036092336
2085036092336

True

In [100]:
a=100.1
b=100.1
c=100.1
d=100.1
print(id(a))
print(id(b))
print(id(c))
print(id(d))

2085045846160
2085027916784
2085041480656
2085036092336

In [104]:
l=[1,2,3,4,5,6,7,8,90]
b = bytes(l)
b

b'\x01\x02\x03\x04\x05\x06\x07\x08Z'

In [106]:
for i in b:
    print(i)

1
2
3
4
5
6
7
8
90

In [107]:
l=[1,2,3,4,5,6,7]
l.pop(2)

3

In [108]:
l

[1, 2, 4, 5, 6, 7]

In [109]:
s1={1,2,3,4}
s2={3,4,5,6,7}

In [110]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [111]:
s1.intersection(s2)

{3, 4}

In [112]:
s1.difference(s2)

{1, 2}

In [113]:
s1.symmetric_difference(s2)

{1, 2, 5, 6, 7}

In [114]:
a = frozenset({1, 2, 3, 4})
b = frozenset({3, 4, 5, 6})

print(a.union(b))  # Union of two frozensets
print(a.intersection(b))  # Intersection of two frozensets
print(a.difference(b))  # Difference between two frozensets
print(3 in a)  # Membership testing

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
True

In [1]:
# fuctuin 
# 1. Calling the function
def add():
    a = float(input('enter a ='))
    b = float(input('enter b ='))
    c = a+b
    print(c)
    
add()

enter a =10
enter b =20
30.0

In [2]:
# 2. argumennt in the function 
def add(a,b):
    c = a+b
    print(c)
    
add(100,200)

300

In [3]:
# 3. return the values

def add(a,b):
    result = a+b
    return result

add(100, 200)

300

In [7]:
# 4. unknown parameters

def my_function(*letter):
        print('All the letters :',letter)
        print("First position of letter :", letter[0])
        
my_function('A','B','C')

All the letters : ('A', 'B', 'C')
First position of letter : A

In [11]:
# 5. UNKNOWN KEY-VALUE PAIR PARAMETERS

def my_function(**letter):
        print('All the letters :',letter)
        print("First position of letter :", letter["A"])
        
my_function(A='A',B='B',C='C')

All the letters : {'A': 'A', 'B': 'B', 'C': 'C'}
First position of letter : A

In [12]:
# 6. Default value to parameter

def AltEmail(email='default@email.com'):
    print("Alternate email is : ",email)

print("Alternate email of student :")

AltEmail()
AltEmail('digvi@email.com')

Alternate email of student :
Alternate email is :  default@email.com
Alternate email is :  digvi@email.com

In [14]:
square = lambda x:x**2
square(4)

16

In [15]:
multiplication = lambda x,y : x*y

multiplication(4,5)

20

In [18]:
def add(n):
    print('value of n is :',n)
    
    return lambda x : x+n

add(1000)

other = add(1000)
print(other(100))

value of n is : 1000
value of n is : 1000
1100

In [22]:
class student:
    def __init__(self, name, branch):
        self.name = name
        self.branch = branch
        
    def display(self):
        print('Name of student :',self.name)
        print('Branch of student :',self.branch)
        
obj=student('Digvijay', 'IT')
obj.display()

Name of student : Digvijay
Branch of student : IT

In [36]:
class stud:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        
students = []

for i in range(1,4):
    name = input('Enter first name of student {} :'.format(i))
    marks = float(input('Enter total marks in percentage {} :'.format(i)))
    obj = stud(name, marks)
    students.append(obj)
    
print('Displaying the details of students :')

for obj in students:
    print("Name = {}, Marks = {}".format(obj.name, obj.marks))

Enter first name of student 1 :ABHI
Enter total marks in percentage 1 :100
Enter first name of student 2 :SHOURYA
Enter total marks in percentage 2 :99
Enter first name of student 3 :ATHARV
Enter total marks in percentage 3 :98
Displaying the details of students :
Name = ABHI, Marks = 100.0
Name = SHOURYA, Marks = 99.0
Name = ATHARV, Marks = 98.0

In [44]:
class base:
    
    def __init__(self, name, team):
        self.name = name
        self.team = team
        
    def bdisplay(self):
        print('DISPLAYING THROUGH BASE CLASS')
        print('Name of Player :',self.name)
        print('Team of Player :',self.team)
        
class derived(base):
    
    def __init__(self, name, team, jercy):
        self.name = name
        self.team = team
        self.jercy = jercy
        
    def ddisplay(self):
        print('DISPLAYING THROUGH DERIVED CLASS')
        print('Name of Player :', self.name)
        print('Team of Player :',self.team)
        print('Jercy of Player :',self.jercy)
        
obj_base = base('Virat', 'INDIA')
obj_derive = derived('Virat', 'INDIA', 18)

print(obj_base.bdisplay())
print('*'*100)
print(obj_derive.ddisplay())

DISPLAYING THROUGH BASE CLASS
Name of Player : Virat
Team of Player : INDIA
None
****************************************************************************************************
DISPLAYING THROUGH DERIVED CLASS
Name of Player : Virat
Team of Player : INDIA
Jercy of Player : 18
None

In [47]:
tup=(1,2,3,4,5)

itr = iter(tup)
print(next(itr))

1

In [49]:
tup=(1,2,3,4,5)

itr = iter(tup)
for i in itr:
    print(i)

1
2
3
4
5

In [50]:

string = "I love python"

itr = iter(string)

for i in itr:
    print(i)

I

l
o
v
e

p
y
t
h
o
n

In [55]:
import json

js = {
    "fname":'Digvijay',
    'lname':'Mohite'
}

json_obj = json.dumps(js, indent=4)
print(json_obj)

{
    "fname": "Digvijay",
    "lname": "Mohite"
}

In [57]:
import re

In [64]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.search("^The.*Rossom$",txt)
print(x)

<re.Match object; span=(0, 64), match='The python programming was developed in 1991 by G>

In [68]:
print(x.string)

The python programming was developed in 1991 by Guido Van Rossom

In [82]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.sub("\s","_",txt)
print(x)

The_python_programming_was_developed_in_1991_by_Guido_Van_Rossom

In [85]:
while True:
    try:
        x=int(input('Enter Number :'))
        break
    except ValueError:
        print('Not valid number')

Enter Number :99.99
Not valid number
Enter Number :100

In [86]:
x=-1

if x < 0:
    raise Exception("sorry no number below zero")

Exception: sorry no number below zero