    object can not be changed after it has been created are called as immutability

In [3]:
# immutability
x=5
print(id(x))
x=10
print(id(x))

140726035669928
140726035670088

In [9]:
# mutability
list1=[1,2,3]
print(list1)
print(id(list1))
list1[2]=[1,2,3]
print(list1)
print(id(list1))

[1, 2, 3]
1645887196864
[1, 2, [1, 2, 3]]
1645887196864

In [27]:
list1=[1,3,3,4,4,5]
print(list1,type(list1))
for i in list1:
    print(i)
print('*'*100)

bytes1=bytes(list1)
print(bytes1,type(bytes1))
for i in bytes1:
    print(i)
print('*'*100)

bytes2=b'DEF'
print(bytes2,type(bytes2))
for i in bytes2:
    print(i)

[1, 3, 3, 4, 4, 5] <class 'list'>
1
3
3
4
4
5
****************************************************************************************************
b'\x01\x03\x03\x04\x04\x05' <class 'bytes'>
1
3
3
4
4
5
****************************************************************************************************
b'DEF' <class 'bytes'>
68
69
70

In [20]:
# bytearray

list1=[11,22,33,44]
print(list1,type(list1))
print('*'*100)
barray=bytearray(list1)
print(barray,type(barray))
print('*'*100)
for i in barray:
    print(i)

[11, 22, 33, 44] <class 'list'>
****************************************************************************************************
bytearray(b'\x0b\x16!,') <class 'bytearray'>
****************************************************************************************************
11
22
33
44

In [26]:
barray=bytearray([1,2,3,4,4])
print(barray)
for i in barray:
    print(i)
    
print('*'*100)
    
barray[0]=99
print(barray)
for i in barray:
    print(i)

bytearray(b'\x01\x02\x03\x04\x04')
1
2
3
4
4
****************************************************************************************************
bytearray(b'c\x02\x03\x04\x04')
99
2
3
4
4

In [98]:
# opration on list
lst=[1,2,3,4,5,6,7,8,9]
print(lst)
lst.append(100)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [99]:
lst1=lst.copy()
print('lst :',lst)
print('lst1:',lst1)

lst : [1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
lst1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [100]:
lst.count(100)

1

In [101]:
lst.extend(lst1)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [102]:
lst.insert(0,5000)
print(lst)

[5000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [103]:
lst.pop()

100

In [104]:
print(lst)

[5000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
lst.remove(100)
print(lst)

[5000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
lst.reverse()
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 9, 8, 7, 6, 5, 4, 3, 2, 1, 5000]

In [118]:
lst.sort(reverse=True)
print(lst)

[5000, 9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [116]:
lst.index(5000,0,20)

18

In [95]:
# lst.clear()

In [119]:
len(lst)

19

In [120]:
tup=(1,0,1,0,1,0,1,0)
print(tup,type(tup))

(1, 0, 1, 0, 1, 0, 1, 0) <class 'tuple'>

In [122]:
# tup[0]=1000

In [123]:
lst=list(tup)
lst[0]=1000
tup=tuple(lst)
print(tup,type(tup))

(1000, 0, 1, 0, 1, 0, 1, 0) <class 'tuple'>

In [126]:
tup.count(1)

3

In [127]:
tup1=('ram'); print(tup1,type(tup1))
tup1=('ram',); print(tup1,type(tup1))

ram <class 'str'>
('ram',) <class 'tuple'>

In [130]:
tup1=(1,0,1,0,1,0,1,0)
tup2=(1,0,1,0,1,0,1,0)
add=tup1+tup1
print(add)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [129]:
print(add)

('ram', 'ram')

In [149]:
tup1=[1,0,1,0,1,0,1,0]
tup2=(1,0,1,0,1,0,1,0)

[a,*b]=tup1
print(a)
print(b)

1
[0, 1, 0, 1, 0, 1, 0]

In [152]:
tup1=[1,0,1,0,1,0,1,0] # ()
tup2=(1,0,1,0,1,0,1,0)
tup=[*tup1,*tup2]
print(tup)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [155]:
def add(a,b,c):
    return a+b+c

numbers=add(1,2,3)
print(numbers)

6

In [160]:
values=(10,20,30)
numbers=add(*values)
print(numbers)

60

In [161]:

tup=(1,2,2,3,45,5,6,7,8,76,5,4,33,2,3,4,5,5,)

tup.count(76)

1

In [162]:
tup.index(76)

9

In [163]:
s1={1,2,3,4,5,6,7,1,2,3}
print(s1,type(s1))

{1, 2, 3, 4, 5, 6, 7} <class 'set'>

In [165]:
s1.add(100)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 100}

In [168]:
lst=[1,2,3,4]
tp=(11,22,33,44,1,2,3)
s=set(lst)
print(s)

{1, 2, 3, 4}

In [169]:
s.add(tp)

In [170]:
print(s)

{1, 2, 3, 4, (11, 22, 33, 44, 1, 2, 3)}

In [171]:
val=4 in s
print(val)

True

In [175]:
s= 2 in s
print(s)

True

In [176]:
s1={10,110,210,310}
s2={11,22,33,44,55}
s3={111,222,333,444,555}

print(s1)
print(s2)
print(s3)
print('*'*100)
s1.update(s2)
print('first update s1',s1)
print('*'*100)
s1.update(s3)
print('second update s1',s1)

{110, 210, 10, 310}
{33, 22, 55, 11, 44}
{555, 444, 333, 222, 111}
****************************************************************************************************
first update s1 {33, 10, 11, 44, 110, 210, 55, 310, 22}
****************************************************************************************************
second update s1 {33, 10, 11, 44, 555, 110, 333, 111, 210, 55, 310, 22, 444, 222}

In [179]:
s={'A','B','C','D','E','F','G'}
print(s)
s.remove('A')
s.discard('B')
s.pop()
print(s)

{'C', 'A', 'E', 'D', 'G', 'F', 'B'}
{'E', 'D', 'G', 'F'}

In [180]:
s={'A','B','C','D','E','F','G'}
print(s)
s.remove('A')
s.discard('B')
s.pop()
print(s)

{'C', 'A', 'E', 'D', 'G', 'F', 'B'}
{'E', 'D', 'G', 'F'}

In [3]:
# intersection

set1={1,2,3,4,4}
set2={1,2,6,7,8,8,7,9,10}
set3={1,2,3,8,9,7}
val1=set1.intersection(set2)
print(val1)
val2= set1.intersection_update(set3)
print(val2)

{1, 2}
None

In [6]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1)
print(set2)
val1=set1.intersection_update(set2)
print("intersection update:",val1)
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
intersection update: None
{4, 5}
{4, 5, 6, 7, 8}

In [13]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1)
print(set2)

# difference: return new set with element which are not present in another set
sd1=set1.difference(set2)
print('difference of set1 and set2:',sd1)
sd2=set2.difference(set1)
print("difference of set2 and set1:",sd2)


# symmetric_difference : return new set with elements present in s1 but not in set2 and viceversa
syd=set1.symmetric_difference(set2)
print("symmetric_difference:",syd)


# symmetric_difference_update : update a set with symmetric_differnece iteself and another
sdu=set1.symmetric_difference_update(set2)
print("symmetric_difference_update :",set1)
print("set1:",set1)
print("set2:",set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
difference of set1 and set2: {1, 2, 3}
difference of set2 and set1: {8, 6, 7}
symmetric_difference: {1, 2, 3, 6, 7, 8}
symmetric_difference_update : {1, 2, 3, 6, 7, 8}
set1: {1, 2, 3, 6, 7, 8}
set2: {4, 5, 6, 7, 8}

In [15]:
# isdisjoint # true : if no common elements else false
set1={1,2,3}
set2={6,7,8}
print(set1)
print(set2)
val=set1.isdisjoint(set2)
print('isdisjoint:',val)

{1, 2, 3}
{8, 6, 7}
isdisjoint: True

In [18]:
# issubset : true > if set2 is present at set1 else false
set1={1,2,3,4,5,6,7,8}
set2={4,5,6,7,8}
print(set1)
print(set2)
val=set1.issubset(set2)
print('set1.issubset(set2):',val)
val2=set2.issubset(set1)
print('set1.issubset(set2):',val2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
set1.issubset(set2): False
set1.issubset(set2): True

In [21]:
# isuperset : true > if set1 elements in set2  else false
set1={1,2,3,4,5,6,7,8}
set2={4,5,6,7,8}
print(set1)
print(set2)
val=set1.issuperset(set2)
print('set1.issuperset(set2):',val)
val2=set2.issuperset(set1)
print('set2.issuperset(set1):',val2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
set1.issuperset(set2): True
set2.issuperset(set1): False

In [22]:
# set and frosen set immmutanility

set1={1,2,3}
print(set1)
set1.add(4)
print('mutable set1:',set1)

{1, 2, 3}
mutable set1: {1, 2, 3, 4}

In [29]:
fset=frozenset(set1)
print(fset,type(fset))
# fset.add(set2)

frozenset({1, 2, 3, 4}) <class 'frozenset'>

In [33]:
set1=frozenset({1,2,3,4,5})
set2=frozenset({4,5,6,7,8})
print(set1,type(set1))
print(set2,type(set2))

frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>
frozenset({4, 5, 6, 7, 8}) <class 'frozenset'>

In [35]:
# difference: return new set with element which are not present in another set
sd1=set1.difference(set2)
print('difference of set1 and set2:',sd1)
sd2=set2.difference(set1)
print("difference of set2 and set1:",sd2)


# symmetric_difference : return new set with elements present in s1 but not in set2 and viceversa
syd=set1.symmetric_difference(set2)
print("symmetric_difference:",syd)


# # symmetric_difference_update : update a set with symmetric_differnece iteself and another
# sdu=set1.symmetric_difference_update(set2)
# print("symmetric_difference_update :",set1)
# print("set1:",set1)
# print("set2:",set2)

difference of set1 and set2: frozenset({1, 2, 3})
difference of set2 and set1: frozenset({8, 6, 7})
symmetric_difference: frozenset({1, 2, 3, 6, 7, 8})

In [37]:
# isuperset : true > if set1 elements in set2  else false
set1=frozenset({1,2,3,4,5,6,7,8})
set2=frozenset({4,5,6,7,8})
print(set1)
print(set2)
val=set1.issuperset(set2)
print('set1.issuperset(set2):',val)
val2=set2.issuperset(set1)
print('set2.issuperset(set1):',val2)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})
frozenset({4, 5, 6, 7, 8})
set1.issuperset(set2): True
set2.issuperset(set1): False

In [38]:
print(set2)
val= 8 in set2
print("banana is present in set2 ? >>",val)

frozenset({4, 5, 6, 7, 8})
banana is present in set2 ? >> True

In [77]:
dict1={
     'A' :10,
     'B' :20,
     'C' :30,
     40  :'D',
     50  :'E'
}

print(dict1)

print(dict1.keys())

print(dict1.values())

print(dict1.items())

# accesing elements
print(dict1.get('A')) 
print(dict1['A'])

d={'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E'}
newdict=dict.fromkeys(d,40)
print(newdict)

dict1.setdefault('F',60)
print(dict1)
dict1.setdefault('1',100)
print(dict1)
dict1.setdefault('A',1000)
print(dict1)

dict1.update(newdict)
print(dict1)

print(dict1)
dict1.pop(40)
print(dict1)

print(dict1)
dict1.popitem()
print(dict1)

print(dict1)
key,value = dict1.popitem()
print(dict1)

{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E'}
dict_keys(['A', 'B', 'C', 40, 50])
dict_values([10, 20, 30, 'D', 'E'])
dict_items([('A', 10), ('B', 20), ('C', 30), (40, 'D'), (50, 'E')])
10
10
{'A': 40, 'B': 40, 'C': 40, 40: 40, 50: 40}
{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E', 'F': 60}
{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E', 'F': 60, '1': 100}
{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E', 'F': 60, '1': 100}
{'A': 40, 'B': 40, 'C': 40, 40: 40, 50: 40, 'F': 60, '1': 100}
{'A': 40, 'B': 40, 'C': 40, 40: 40, 50: 40, 'F': 60, '1': 100}
{'A': 40, 'B': 40, 'C': 40, 50: 40, 'F': 60, '1': 100}
{'A': 40, 'B': 40, 'C': 40, 50: 40, 'F': 60, '1': 100}
{'A': 40, 'B': 40, 'C': 40, 50: 40, 'F': 60}
{'A': 40, 'B': 40, 'C': 40, 50: 40, 'F': 60}
{'A': 40, 'B': 40, 'C': 40, 50: 40}

In [78]:
# Assignement operator

var=100
print("Before assigning the value ",var)
var+=100
print("After assigning the value ",var)

Before assigning the value  100
After assigning the value  200

In [79]:
var=100
print(var)
var-=10
print(var)

100
90

In [90]:
var=100
print(var)
var/=3
print(var)

100
33.333333333333336

In [91]:
var=100
print(var)
var//=3
print(var)

100
33

In [92]:
var=100
print(var)
var*=10
print(var)

100
1000

In [93]:
var=100
print(var)
var**=2
print(var)

100
10000

In [94]:
var=100
print(var)
var%=3
print(var)

100
1

In [121]:
# if else 

def com(x,y):
    if x>y:
        print('x is big')
    
    elif x<y:
        print('x is small')
    
    elif x==y:
        print('both are equal')
    
    else:
        print('Enter valid input')

In [125]:
com(False,True)

x is small

In [133]:
x=10
y=10
 
print('A') if x>y  elif x<y print('B') elif x==y print('C')

SyntaxError: expected 'else' after 'if' expression (2530767878.py, line 4)

In [131]:
x = 100
y = 90

print("y is greater number")  if y > x  else print('y is small')

y is small

In [134]:
res = x if x>y else y

In [135]:
res

100

In [146]:
# while loop
x=1
while x<15:
     
    if x%2==0:
        print(f'x = {x} is Even')
        x+=1
    
    print('x =',x)
    x+=1

x = 1
x = 2 is Even
x = 3
x = 4 is Even
x = 5
x = 6 is Even
x = 7
x = 8 is Even
x = 9
x = 10 is Even
x = 11
x = 12 is Even
x = 13
x = 14 is Even
x = 15

In [157]:
i=2
while i<=100:
    j=2
    is_prime=True
    while j<i:
        if i%j==0:
            is_prime=False
            break
        j+=1
    if is_prime:
        print(i, end=' ')
    i+=1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### function

In [6]:
# 1. Calling function

a=10
b=20
def addition():
    c=a+b
    print('Addition of numbers :',c)
addition()

Addition of numbers : 30

In [4]:
# 2. Argument in function

# one argument in function

def display(name):
    print('Name :',name)
    
display('Digvijay Mohite')

print('*'*100)

# two argument in function

def addition(a,b):
    c=a+b
    print('Addition of numbers:',c)
    
addition(100,800)

Name : Digvijay Mohite
****************************************************************************************************
Addition of numbers: 900

In [7]:
# 3. Return values
def stud_record():
    name=input('Name of student : ')
    age=int(input('Age of student :'))
    score=float(input('Score in percentage : '))
    print('*'*100)
    print('Student Record :')
    print('Name:',name,'Age:',age,'Score(%)',score)
    print('@'*100)
    
for i in range(0,1):
    stud_record()

Name of student : abhii
Age of student :6
Score in percentage : 91.99
****************************************************************************************************
Student Record :
Name: abhii Age: 6 Score(%) 91.99
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [3]:
# 4. unknown parameters

def addition(*numbers):
    print('Addition of numbers',sum(numbers))
    
addition(1,2,3,4,5,5,6,7,8,9)

Addition of numbers 50

In [9]:
# 5. argument is key-value pair where order does not matter

def my_display(kid1,kid3,kid5,kid2,kid4):
    print('first std kid is :',kid1)
    print('second std kid is :',kid2)
    print('third std kid is :',kid3)
    print('fourth std kid is :',kid4)
    print('fifth std kid is :',kid5)
    
my_display(kid3='VIRAT',kid2='Rohit',kid1='Akashay',kid4='Dhoni',kid5='Hardik')

first std kid is : Akashay
second std kid is : Rohit
third std kid is : VIRAT
fourth std kid is : Dhoni
fifth std kid is : Hardik

In [14]:
def my_function(**name): 
    print('His name is :',name)
    print("His last name is ",name['lname'])

my_function(fname = "Sachin", lname = "Mohite",city='Pune',mbl=9191919191)

His name is : {'fname': 'Sachin', 'lname': 'Mohite', 'city': 'Pune', 'mbl': 9191919191}
His last name is  Mohite

In [12]:

def AltEmail(email='default@email.com'):
    print("Alternate email is : ",email)

print("Alternate email of student :")

AltEmail("abc@gmail.com")
AltEmail('digvi@email.com')
AltEmail('nana@email.com')

Alternate email of student :
Alternate email is :  abc@gmail.com
Alternate email is :  digvi@email.com
Alternate email is :  nana@email.com

In [17]:
# class 

class Stud:
    name='Digvijay'
    lname='Mohite'
    rollno=27
    marks=74
    
obj=Stud()
print(obj.name)
print(obj.lname)

Digvijay
Mohite

In [19]:
class student:
    def __init__(self,fname,lname,std,marks):
        self.fname=fname
        self.lname=lname
        self.std=std
        self.marks=marks
        
    def display(self):
        print('Name of student :',self.fname)
        print('Surname of student :',self.lname)
        print('class of student :',self.std)
        print('Marks of student :',self.marks)
        
obj=student('Abhimnayu','Mohite','First standard',91.92)
obj.display()

Name of student : Abhimnayu
Surname of student : Mohite
class of student : First standard
Marks of student : 91.92

In [22]:
class Student:
    def __init__(self, name, roll_no, marks):
        self.name = name
        self.roll_no = roll_no
        self.marks = marks

    def display_record(self):
        print("Name:", self.name)
        print("Roll Number:", self.roll_no)
        print("Marks:", self.marks)

# Prompting the user for the number of students to input
num_students = int(input("Enter the number of students: "))

# Creating an empty list to store the Student objects
students = []

# Prompting the user to input the records of each student
for i in range(num_students):
    name = input("Enter the name of student {}: ".format(i+1))
    roll_no = int(input("Enter the roll number of student {}: ".format(i+1)))
    marks = float(input("Enter the marks of student {}: ".format(i+1)))
    students.append(Student(name, roll_no, marks))

# Displaying the records of all students using a for loop
for student in students:
    student.display_record()
    print() # Adding a blank line for readability

Enter the number of students: 2
Enter the name of student 0: a
Enter the roll number of student 0: 3
Enter the marks of student 0: 333
Enter the name of student 1: b
Enter the roll number of student 1: 4
Enter the marks of student 1: 444
Name: a
Roll Number: 3
Marks: 333.0

Name: b
Roll Number: 4
Marks: 444.0

In [27]:
a=[1,2,3,4,5,6,7,8,9,10]

itr=iter(a)

print(next(itr))
itr

1

In [5]:
tup=(1,2,3,4,5,1,2,3,4,5,)

itr=iter(tup)

print(next(itr))
print(next(itr))
# for i in itr:
#     print(i)

1
2

In [10]:
class forloop:
    
    def __iter__(self):
        self.val=1
        return self
    
    def __next__(self):
        x=self.val
        self.val+=1
        
        if x==9:
            raise StopIteration
        return x
    
count=forloop()

itr=iter(count)

for i in itr:
    print(i)

1
2
3
4
5
6
7
8

In [21]:
class base:
    
    def __init__(self,name,team,city):
        self.name=name
        self.team=team
        self.city=city
        
    def pdisplay(self):
        print('Player Name:',self.name)
        print('Team Name :',self.team)
        print('City Name :',self.city)
        
class child(base):
    
    def __init__(self,name,team,city,jersey):
        self.name=name
        self.team=team
        self.city=city
        self.jersey=jersey
        
    def cdisplay(self):
        print('Player Name:',self.name)
        print('Team Name :',self.team)
        print('City Name :',self.city)
        print('Jersey Number:',self.jersey)
        

print('Accessing through paratent class:')    
obj=base('Rohit','Mumbai Indians','Mumbai')
obj.pdisplay()

print('.'*100)

print('Accessing parent through child class:')    
obj=child('Rohit','Mumbai Indians','Mumbai',45)
obj.pdisplay()

print('.'*100)

print('Accessing child through child class:')    
obj=child('Rohit','Mumbai Indians','Mumbai',45)
obj.cdisplay()

Accessing through paratent class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
....................................................................................................
Accessing parent through child class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
....................................................................................................
Accessing child through child class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
Jersey Number: 45

In [22]:
import datetime 

datetime.datetime.now()

datetime.datetime(2023, 4, 24, 15, 29, 33, 70618)

In [34]:
dict1={
    'A':10,
    'B':20,
    'C':30,
    'D':40,
    'E':50
}

print(dict1,type(dict1))
print('.'*100)

print('Coversion dictionary to JSON format')
import json
jsondict=json.dumps(dict1)
print(jsondict,type(jsondict))
print('.'*100)

print('Coversion from json to dictionary')
dict2=json.loads(jsondict)
print(dict2,type(dict2))

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50} <class 'dict'>
....................................................................................................
Coversion dictionary to JSON format
{"A": 10, "B": 20, "C": 30, "D": 40, "E": 50} <class 'str'>
....................................................................................................
Coversion from json to dictionary
{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50} <class 'dict'>