In [1]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
str="Python and Data Science"

In [3]:
len(str)

23

In [4]:
str[10:23]

' Data Science'

In [5]:
str[:10]

'Python and'

In [6]:
str[::-1]

'ecneicS ataD dna nohtyP'

In [7]:
print(str[2:6] , ':', str[-10:-6])

thon : ta S

In [8]:
str[::2]

'Pto n aaSine'

In [9]:
# a=100
# b=100.100
# c='100000'
# d=str(b)
# print('integer to float :',float(a), 'integer to complex :',complex(a), 'integer to string :', d)

a = 100
b = 100.100
c = 1+2j
d = '100000'

# print('integer to float:', float(a), 'integer to complex:', complex(a), 'integer to string:', str(a))

In [10]:
# print('float to integer :',int(b), 'flot to complex :', complex(b), 'float to string :',str(b))

In [11]:
print('string to int :', int(d), 'string to float :',float(d), 'string to complex :', complex(d))

string to int : 100000 string to float : 100000.0 string to complex : (100000+0j)

In [12]:
print('complex to any other data type conversion is not possible')

complex to any other data type conversion is not possible

In [13]:
x = 100
y = 100
z = 100

a = 10.10
b = 10.10
c = 10.10

In [14]:
print('x :',id(x))
print('y :',id(y))
print('z :',id(z))

x : 140732241059720
y : 140732241059720
z : 140732241059720

In [15]:
print('a :',id(a))
print('b :',id(b))
print('c :',id(c))

a : 2050672997552
b : 2050672985808
c : 2050672996496

In [16]:
lst = [10,20,30]
b = bytes(lst)
print(lst)
for i in b:
    print(i)

[10, 20, 30]
10
20
30

In [17]:
a = 'ABC'
b = b'BAC'

In [18]:
print(a, type(a))
print(b, type(b))

for i in b:
    print(i)

ABC <class 'str'>
b'BAC' <class 'bytes'>
66
65
67

In [19]:
lst = [144, 166, 255]
ba = bytearray(lst)
print(lst, type(lst))
print(ba, type(ba))

for i in ba:
    print(i)

[144, 166, 255] <class 'list'>
bytearray(b'\x90\xa6\xff') <class 'bytearray'>
144
166
255

In [20]:
ba[0]= 0

In [21]:
for i in ba:
    print(i)

0
166
255

In [22]:
lst = [10, 10.10, '1000', 1+2j, -110, 0]

In [23]:
print(lst, type(lst))

[10, 10.1, '1000', (1+2j), -110, 0] <class 'list'>

In [24]:
lst[::-1]

[0, -110, (1+2j), '1000', 10.1, 10]

In [25]:
lst[::2]

[10, '1000', -110]

In [26]:
lst[::-2]

[0, (1+2j), 10.1]

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

In [27]:
lst

[10, 10.1, '1000', (1+2j), -110, 0]

In [28]:
lst.append("DSM")

In [29]:
lst

[10, 10.1, '1000', (1+2j), -110, 0, 'DSM']

In [30]:
lst.pop()

'DSM'

In [31]:
lst

[10, 10.1, '1000', (1+2j), -110, 0]

In [32]:
lst1 = lst.copy()
print(lst)
print(lst1)

[10, 10.1, '1000', (1+2j), -110, 0]
[10, 10.1, '1000', (1+2j), -110, 0]

In [33]:
lst1.clear()

In [34]:
print(lst1)

[]

In [35]:
lst.count(10)

1

In [36]:
lst2  = ['A','B','C']
lst.extend(lst2)

In [37]:
print(lst)

[10, 10.1, '1000', (1+2j), -110, 0, 'A', 'B', 'C']

In [38]:
lst.index('A', 0, 8)

6

In [39]:
lst.insert(1,101)

In [40]:
print(lst)

[10, 101, 10.1, '1000', (1+2j), -110, 0, 'A', 'B', 'C']

In [41]:
lst.remove(101)

In [42]:
print(lst)

[10, 10.1, '1000', (1+2j), -110, 0, 'A', 'B', 'C']

In [43]:
lst.reverse()

In [44]:
print(lst)

['C', 'B', 'A', 0, -110, (1+2j), '1000', 10.1, 10]

In [45]:
# lst.sort(*, key=None, reverse=False)
# lst =sorted(map(str,lst))
# lst

In [46]:
lst=[1,9,4,1,3,5,4,8,6,44,5,6,7,8,9,10]
lst.sort()
lst

[1, 1, 3, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 9, 10, 44]

In [47]:
lst=['gv','dfd','dfd','tr']
lst.sort()
lst

['dfd', 'dfd', 'gv', 'tr']

In [48]:
list20=[1,2,3,4,5,6,7,8,9]
print(list20)
list20[2:3]=[22,33,44]
print(list20)
print(list20[4])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 22, 33, 44, 4, 5, 6, 7, 8, 9]
44

In [49]:
tup = ()
print(tup, type(tup))

() <class 'tuple'>

In [50]:
tup = (1,2,3,4)
print(tup, type(tup))

(1, 2, 3, 4) <class 'tuple'>

In [51]:
print('Initial Tuple :',tup, type(tup))
tup=list(tup)
tup[1]=1000
tup = tuple(tup)
print('Modified Tuple (help of type casting) :',tup, type(tup))

Initial Tuple : (1, 2, 3, 4) <class 'tuple'>
Modified Tuple (help of type casting) : (1, 1000, 3, 4) <class 'tuple'>

In [52]:
tup.count(1)

1

In [53]:
tup.index(1)

0

In [54]:
tup = (10,20,30,40,50,60,70,80,90,100)
print(tup)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [55]:
(a,*b,c,d,e)=tup
print(a)
print(b)
print(c)
print(d)
print(e)

10
[20, 30, 40, 50, 60, 70]
80
90
100

In [56]:
tup1 = (10,20,30,40,50,60,70,80,90,100)
print(tup1)
tup2 = (1,2,3,4,5,6,7,8,9,10)
print(tup2)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [57]:
tup3  = (tup1, tup2)
print(tup3)

((10, 20, 30, 40, 50, 60, 70, 80, 90, 100), (1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

In [58]:
tup3  = (*tup1, *tup2)
print(tup3)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [59]:
tup1

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [60]:
(a,b,*c)=tup1
print(a)
print(b)
print(c)

10
20
[30, 40, 50, 60, 70, 80, 90, 100]

In [61]:
tup4 = (*tup,*tup2)
tup4

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [62]:
def add_numbers(a,b,c):
    return a+b+c

In [63]:
add_numbers(10,20,30)

60

In [64]:
values = (10,20,30)
add_numbers(*values)

60

In [65]:
set1={'A', 'B', 100, 200, 500}
print(set1, type(set1))

{100, 500, 'A', 200, 'B'} <class 'set'>

In [66]:
len(set1)

5

In [67]:
lst = [30, 40, 50, 60, 70, 80, 90, 100]
print(lst, type(lst))
lst = set([30, 40, 50, 60, 70, 80, 90, 100])
print(lst, type(lst))

[30, 40, 50, 60, 70, 80, 90, 100] <class 'list'>
{100, 70, 40, 80, 50, 90, 60, 30} <class 'set'>

In [68]:
tup4

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [69]:
print(tup4, type(tup4))
set2 = set(tup4)
print(set2, type(set2))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100} <class 'set'>

In [70]:
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [71]:
10 in set2

True

In [72]:
if 10 in set2:
    print(10)

10

In [73]:
set2.add("Digvijay")

In [74]:
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'Digvijay'}

In [75]:
set1.update(set2)

In [76]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 200, 8, 9, 10, 70, 80, 20, 'B', 90, 30, 100, 'A', 40, 50, 500, 'Digvijay', 60}

In [88]:
print(lst,type(lst), tup,type(tup))

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30} <class 'set'> (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) <class 'tuple'>

In [99]:
lst.update(tup)

In [100]:
print(lst)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [126]:
a= [1,2,3]
b = {10,20,30}
c=(100,200,300)

In [127]:
print(a,type(a))
print(b,type(b))
print(c,type(c))

[1, 2, 3] <class 'list'>
{10, 20, 30} <class 'set'>
(100, 200, 300) <class 'tuple'>

In [128]:
b.update(a)

In [129]:
b

{1, 2, 3, 10, 20, 30}

In [130]:
b.update(c)

In [131]:
b

{1, 2, 3, 10, 20, 30, 100, 200, 300}

In [132]:
print(b, type(b))

{1, 2, 3, 100, 200, 10, 300, 20, 30} <class 'set'>

In [133]:
b.discard(1000)

In [134]:
b.pop()
print(b)

{2, 3, 100, 200, 10, 300, 20, 30}

In [135]:
b.remove(100)

In [136]:
print(b)

{2, 3, 200, 10, 300, 20, 30}

In [137]:
b.add(100)

In [138]:
print(b)

{2, 3, 100, 200, 10, 300, 20, 30}

In [139]:
b.discard(100)

In [140]:
print(b)

{2, 3, 200, 10, 300, 20, 30}

In [141]:
b.pop()

2

In [142]:
print(b)

{3, 200, 10, 300, 20, 30}

In [143]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [144]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [145]:
s1.intersection(s2)

{3, 4}

In [147]:
s1.difference(s2), s2.difference(s1)

({1, 2}, {5, 6})

In [148]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [149]:
s1.isdisjoint(s2)

False

In [150]:
print(s1)

{1, 2, 3, 4}

In [151]:
del s1

In [153]:
s2

{3, 4, 5, 6}

In [155]:
s2.clear()

In [156]:
s2

set()

In [1]:
set1 = {1,1,1,12,3,4,4,5,5,5,33,2,2,11,4,55,}
print(set1,type(set1))

{1, 33, 3, 4, 5, 2, 11, 12, 55} <class 'set'>

In [2]:
fset=frozenset(set1)
print(fset, type(fset))

frozenset({1, 33, 3, 4, 5, 2, 11, 12, 55}) <class 'frozenset'>

In [4]:
# fset.add('Mohite') >> we cant modify once frozenset has been created

In [5]:
# Define a frozenset
fruits = frozenset({'apple', 'banana', 'orange'}) 

# Create a dictionary with frozenset key
inventory = {
        fruits: {
            'in_stock': True, 
            'quantity': 10
                }
            }

print(inventory)

{frozenset({'banana', 'apple', 'orange'}): {'in_stock': True, 'quantity': 10}}

In [10]:
vowels = frozenset({'a','e','i','o','u'})

d = {vowels : "10, 20 , 30, 40, 50"}
print(d)

{frozenset({'u', 'e', 'a', 'i', 'o'}): '10, 20 , 30, 40, 50'}

In [11]:
for key in d:
    print("KEY :",key)
    print("Values :",d[key])

KEY : frozenset({'u', 'e', 'a', 'i', 'o'})
Values : 10, 20 , 30, 40, 50

In [12]:
# Dictionary

In [64]:
d = {'D' :'DIGVIJAY',
     'Sc' : 'SACHIN',
     'A' : 'ABHIMANYU',
     'S' : 'SHOURYA'}

In [24]:
print(d, type(d))

{'D': 'DIGVIJAY', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'} <class 'dict'>

In [28]:
d['D'], d['Sc'], d['A'], d['S'] # by using mention the direct key

('DIGVIJAY', 'SACHIN', 'ABHIMANYU', 'SHOURYA')

In [32]:
d.get('D'), d.get('Sc') # by using get method

('DIGVIJAY', 'SACHIN')

In [35]:
print(d.get(2))

None

In [40]:
# by using notation like .keys and .values
print(d.keys())
print(d.values())

dict_keys(['D', 'Sc', 'A', 'S'])
dict_values(['DIGVIJAY', 'SACHIN', 'ABHIMANYU', 'SHOURYA'])

In [41]:
# by using .items
d.items()

dict_items([('D', 'DIGVIJAY'), ('Sc', 'SACHIN'), ('A', 'ABHIMANYU'), ('S', 'SHOURYA')])

In [42]:
# update the dictionary
d.update({'So':'SOPAN','M':'MOHITE'})

In [43]:
print(d)

{'D': 'DIGVIJAY', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA', 'So': 'SOPAN', 'M': 'MOHITE'}

In [46]:
d.pop('M')

'MOHITE'

In [47]:
d

{'D': 'DIGVIJAY',
 'Sc': 'SACHIN',
 'A': 'ABHIMANYU',
 'S': 'SHOURYA',
 'So': 'SOPAN'}

In [48]:
d.popitem()

('So', 'SOPAN')

In [65]:
d

{'D': 'DIGVIJAY', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}

In [66]:
dd=d.copy()

In [67]:
dd

{'D': 'DIGVIJAY', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}

In [69]:
ddd=d.copy()

In [70]:
ddd

{'D': 'DIGVIJAY', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}

In [71]:
del dd

In [72]:
ddd.clear()

In [73]:
ddd

{}

In [74]:
d

{'D': 'DIGVIJAY', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}

In [76]:
d['D']='DIPAK'

In [77]:
d

{'D': 'DIPAK', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}

In [78]:
dd = d.copy()
print(d)
print(dd)
dd['J']='JAGDALE'
print(dd)

{'D': 'DIPAK', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}
{'D': 'DIPAK', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}
{'D': 'DIPAK', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA', 'J': 'JAGDALE'}

In [80]:
ddd = dict(dd)
print(ddd)

{'D': 'DIPAK', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA', 'J': 'JAGDALE'}

In [82]:
print(dict.fromkeys(ddd,'JAY HO...!'))

{'D': 'JAY HO...!', 'Sc': 'JAY HO...!', 'A': 'JAY HO...!', 'S': 'JAY HO...!', 'J': 'JAY HO...!'}

In [83]:
dict.fromkeys(ddd,'GOT SUCCESS')

{'D': 'GOT SUCCESS',
 'Sc': 'GOT SUCCESS',
 'A': 'GOT SUCCESS',
 'S': 'GOT SUCCESS',
 'J': 'GOT SUCCESS'}

In [84]:
d

{'D': 'DIPAK', 'Sc': 'SACHIN', 'A': 'ABHIMANYU', 'S': 'SHOURYA'}

In [85]:
d.setdefault('SURNAME','MOHITE')

'MOHITE'

In [86]:
d

{'D': 'DIPAK',
 'Sc': 'SACHIN',
 'A': 'ABHIMANYU',
 'S': 'SHOURYA',
 'SURNAME': 'MOHITE'}

In [88]:
d.setdefault('SURNAME')

'MOHITE'

In [90]:
dict1 = {}
dict1.setdefault('F_name','DIGVIJAY')
print(dict1)

{'F_name': 'DIGVIJAY'}

In [91]:
# nested dictionary

In [93]:
stud = {
    "Dipak": {'Age':10, 'Loc':'Mumbai'},
    "Digvijay":{'Age':11, 'Loc':'Pune'}
    }

stud

{'Dipak': {'Age': 10, 'Loc': 'Mumbai'}, 'Digvijay': {'Age': 11, 'Loc': 'Pune'}}

In [95]:
stud['Dipak']['Loc']

'Mumbai'

In [96]:
company = {
   "sales": [
     {"name": "John"},
     {"name": "Ana"}
    ],
   "development": [
     {"name": "Chris"},
     {"name": "Ann"}
   ]
}

In [97]:
company

{'sales': [{'name': 'John'}, {'name': 'Ana'}],
 'development': [{'name': 'Chris'}, {'name': 'Ann'}]}

In [101]:
company['sales'][1]['name']

'Ana'

In [102]:
grandson = {
    'gs_key':'grans_son_name'
}


son = {
    's_key' : grandson,
    's_name': 'son_name'
}


parent = {
    'p_key':son,
    'p_name':'Parent_name'
}


family ={
    'f_key':parent,
}

print(family)

{'f_key': {'p_key': {'s_key': {'gs_key': 'grans_son_name'}, 's_name': 'son_name'}, 'p_name': 'Parent_name'}}

In [111]:
family['f_key']['p_name']

'Parent_name'

In [112]:
family['f_key']['p_key']['s_key']['gs_key']

'grans_son_name'

In [114]:
family['f_key']['p_key']['s_name']

'son_name'

In [1]:
# arithmatic operators

In [32]:
a=15
b=2

In [33]:
# Arithmatic Opeartors
a+b, a-b, a/b, a//b, a%b, a*b, a**b

(17, 13, 7.5, 7, 1, 30, 225)

In [46]:
# Assignment Opeartors
a=10
a+=5
a

15

In [48]:
x=2
x**=3
x

8

In [49]:
n1=10
n2=20

In [51]:
n1<=10 and n2>=10

True

In [52]:
n1>4 or n2<4

True

In [56]:
not(n1>4 or n2<4)

False

In [57]:
x=10
y=9

In [58]:
x is y

False

In [59]:
x is not y

True

In [61]:
x=100
y=900

In [63]:
if x>y:
    print('x is greater than y........!')
else:
    print('x is not greather than y.....!')

x is not greather than y.....!

In [64]:
if x>y:
    print('x>y')
elif x<y:
    print('x<y')
elif x==y:
    print('x=y')
else:
    print('other')

x<y

In [71]:
marks = float(input('Enter the total marks :'))

if marks<=34:
    print("FAIL")
elif marks>35 and marks<=45:
    print("PASS")
elif marks>45 and marks<=60:
    print("SECOND CLASS")
elif marks>60 and marks<=75:
    print('FIRST CLASS')
else:
    print('DISTINCTION')

Enter the total marks :60
SECOND CLASS

In [78]:
x = 10000
y = 20000

print("x is greater") if x > y else print("y is greater")

y is greater

In [80]:
marks = float(input('Enter the total marks :'))

print('FAIL') if marks<35 else print('DISTINCTION')

Enter the total marks :36
DISTINCTION

In [109]:
x=9

if x>100:
    if x==400:
        print('X:400')
    else:
        print('X >100')
elif x<100:
    print('x < 100')
else:
    print('Other')

x < 100

In [92]:
count = 1

while count < 11:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

In [100]:
list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

x=0
while x < len(list1):
    print(list1[x])
    x+=1

mango
cherry
papaya
bluberry
apple
banana

In [101]:
for i in list1:
    print(i)

mango
cherry
papaya
bluberry
apple
banana

In [88]:
list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

In [89]:
print("List Elements :",list1)

List Elements : ['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']

In [90]:
for i in list1:
    print(i)

mango
cherry
papaya
bluberry
apple
banana

In [102]:
tup=("RAM", 'KRISHNA', 'HARI', 'VITTHAL')

In [103]:
index=0
while index< len(tup):
    print(tup[index])
    index+=1

RAM
KRISHNA
HARI
VITTHAL

In [104]:
count=0
while count<11:
    print(count)
    count+=1
#     count = count+1

0
1
2
3
4
5
6
7
8
9
10

In [107]:
number = 0 
while number <= 10:
    number = int(input("Enter positive number: "))
print(number)

Enter positive number: 6
Enter positive number: 8
Enter positive number: 9
Enter positive number: 4
Enter positive number: 3
Enter positive number: 2
Enter positive number: 1
Enter positive number: -1
Enter positive number: 10
Enter positive number: 11
11

In [120]:
x=0

while x<10:
    
    if x==5 or x==9:
        x+=1
        print('Contioue opearation done')
        continue
        
    print(x)
    x+=1

0
1
2
3
4
Contioue opearation done
6
7
8
Contioue opearation done

In [2]:
x=0

while x<11:
    
    if x==3 or x==7:
        x+=1
        print('My Favorite Number ')
        continue
    print(x)
    x+=1

0
1
2
My Favorite Number
4
5
6
My Favorite Number
8
9
10

In [7]:
x=0

while x<15:
    
    if x==5 or x==6:
        x+=1
        print('Skiped')
        continue
        
    print(x)
    x+=1

0
1
2
3
4
Skiped
Skiped
7
8
9
10
11
12
13
14

In [1]:
x=0

while x<10:
    
    if x==9 or x==7:
        x+=1
        print('SKIPKED NUMBER')
        continue
    else:
        print(x)
        x+=1

0
1
2
3
4
5
6
SKIPKED NUMBER
8
SKIPKED NUMBER

In [3]:
x=0

while x<10:
    
    if x==9 or x==7:
        x+=1
        print('SKIPKED NUMBER')
        continue

    print(x)
    x+=1
else:
    print('The end loop')

0
1
2
3
4
5
6
SKIPKED NUMBER
8
SKIPKED NUMBER
The end loop

In [4]:
#for i in range(10):

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [12]:
list1 = [1, 2]
list2 = ['a', 'b', 'c', 'd']

for i in list1: 
    for j in list2:
        print(i,j)

1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d

In [20]:
list1 = [1,2,3,4,5,6,7,8,9,10]

x=2

while x<len(list1):
    del list1[x]
    x+=2
    
print(list1)

[1, 2, 4, 5, 7, 8, 10]

In [21]:
# wrinting and removing every third element from a list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

i = 2 

while i < len(my_list):
    del my_list[i]
    i += 2 

print("Removed every 3rd element from list :",my_list)

Removed every 3rd element from list : [1, 2, 4, 5, 7, 8]

In [7]:
lst=['A',10,'B',20,'C',30,'D',40,'E',50]

In [8]:
lst=['A',10,'B',20,'C',30,'D',40,'E',50]

print(lst)

x = 1

while x<len(lst):
    del lst[x]
    x+=1
    
print(lst)

['A', 10, 'B', 20, 'C', 30, 'D', 40, 'E', 50]
['A', 'B', 'C', 'D', 'E']

In [11]:
lst=['A',10,100,'B',20,200,'C',30,300,'D',40,400,'E',50,500]

In [12]:
lst=['A',10,100,'B',20,200,'C',30,300,'D',40,400,'E',50,500]

i = 2
print(lst)
while i<len(lst):
    del lst[i]
    i+=2
print(lst)

['A', 10, 100, 'B', 20, 200, 'C', 30, 300, 'D', 40, 400, 'E', 50, 500]
['A', 10, 'B', 20, 'C', 30, 'D', 40, 'E', 50]

In [18]:
def printing():
    print("We are doing study")

In [20]:
obj = printing()

We are doing study

In [39]:
a=100
def display():
    a=200
    print('Local Veriable :',a)
    print('Global Variable :',globals()['a'])
    
display()

Local Veriable : 200
Global Variable : 100

In [3]:
global a
a=100
def display1():
    a=200
    print('Local Veriable :',a)
    print('Global Variable :',a)
# def display2():
# #     global a
#     a=300
#     print('Local Veriable :',a)
#     print('Global Variable :',a)

In [4]:
display1()

Local Veriable : 200
Global Variable : 200

In [7]:
def dis(name):
    print(name)
    
dis('digvijay')

digvijay

In [6]:
my_name = 'DIGVIJAY MOHITE FROM SANGLI MAHARASHATRA SELECTED AS DATA SCIENTIST'
dis(my_name)

DIGVIJAY MOHITE FROM SANGLI MAHARASHATRA SELECTED AS DATA SCIENTIST

In [8]:
def add(a,b):
    c=a+b
    print(c)

In [10]:
add(10,100)

110

In [11]:
def add(a,b):
    c=a+b
    return c

In [12]:
add(100,100)

200

In [20]:
def stud_reg():
    fn=input('Enter The Name :')
    sn=input('Enter The Surname :')
    cl=input('Enter The Class :')
    rn=input('Enter The Rollnumber :')
    print('*'*100)
    print(fn,',',sn,',',cl,',',rn)
    
for i in range(1):
    stud_reg()

Enter The Name :Abhimanyu
Enter The Surname :Mohite
Enter The Class :1
Enter The Rollnumber :41
****************************************************************************************************
Abhimanyu , Mohite , 1 , 41

In [21]:
def display(*letters):
    print('All the letters :',letters)
    print('Length of characters :',len(letters))

In [22]:
display('CHATRAPATI SHIVAJI MAHARAJ KI JAY')

All the letters : ('CHATRAPATI SHIVAJI MAHARAJ KI JAY',)
Length of characters : 1

In [23]:
def add(a,b):
    c=a+b
    return c

In [25]:
add(100,200)

300

In [26]:
def display():
    print('My name is Digvijay')

In [27]:
display()

My name is Digvijay

In [1]:
def stud_record():
    fn=input('Enter the Name :')
    rn=input('Enter the roll number :')
    print('-'*100)
    print(fn,',',rn)
    print(';'*100)

In [2]:
stud_record()

Enter the Name :abhiamnyu
Enter the roll number :1
----------------------------------------------------------------------------------------------------
abhiamnyu , 1
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

In [3]:
for i in range(1,3):
    stud_record()

Enter the Name :Abhimanyu
Enter the roll number :41
----------------------------------------------------------------------------------------------------
Abhimanyu , 41
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
Enter the Name :shourya
Enter the roll number :1
----------------------------------------------------------------------------------------------------
shourya , 1
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

In [8]:
def display(*letter):
    print(letter)

In [10]:
display('A','B','C','D')

('A', 'B', 'C', 'D')

In [11]:
def childs(c1,c4,c2,c3):
    print('first youngest child is :',c4)
    print('second youngest child is :',c3)
    print('third youngest child is :',c2)
    print('fourth youngest child is :',c1)

In [14]:
childs(c1='A',c3='C',c4='D',c2='B')

first youngest child is : D
second youngest child is : C
third youngest child is : B
fourth youngest child is : A

In [38]:
def display(**letters):
    for key, value in letters.items():
        print(f'{key}:{value}')

In [39]:
display(a='Abhimanyu',b='shourya',c='dipak',d='digvijay')

a:Abhimanyu
b:shourya
c:dipak
d:digvijay

In [40]:
def email(gmail='dlsmohite@gmail.com'):
    print('MY ID IS :',gmail)

In [41]:
email('dipak@gmail.com')

MY ID IS : dipak@gmail.com

In [42]:
email()

MY ID IS : dlsmohite@gmail.com

In [57]:
addition = lambda *a : sum(a)
addition(10,20,30,2,10,6,6,4,4,3,22,22,3,4,5,3,22,2,2,2,2,4,4,44,100,126353,44,4,4,4,4)

126749

In [7]:
def myfun(n):
    print('The value of n is :',n)
    return (lambda a:a*n)

In [8]:
myfun(10)

The value of n is : 10

In [9]:
otherfunction =myfun(2)

The value of n is : 2

In [16]:
add = lambda *a : sum(a)

In [17]:
add(10,20,1111,3445,6677,678)

11941

In [32]:
def myfun(n):
    print('The value of n:',n)
    return (lambda a:a*n)

In [33]:
other_fun = myfun(10)
print(other_fun(20))

The value of n: 10
200

In [36]:
animals = [('dog', 50), ('cat', 20), ('fox', 10), ('bird', 5)]

# Sort animals by weight using lambda
animals.sort(key=lambda x: x[0])  

print(animals)

# Output
# [('bird', 5), ('fox', 10), ('cat', 20), ('dog', 50)]

[('bird', 5), ('cat', 20), ('dog', 50), ('fox', 10)]

In [37]:
double = lambda a : a*2
triple = lambda a : a*3

print(double(10))
print(triple(10))

20
30

[i for i in list1]

In [39]:
fruits = ['banana', 'mango', 'cococnut', 'chiku']

print([len(fruit) for fruit in fruits])

[6, 5, 8, 5]

In [40]:
lst = [1,2,3,4,5,6,7,8,9,10]

print([[i*2 for i in lst]])

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]]

In [47]:
square = (lambda i:[i*2 for i in lst])

In [48]:
square(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
print([i for i in lst])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
class Student:
    fname = 'Digvijay'
    lname = 'Mohite'
    phone = 9175535381
    
    def display(self):
        print('Student Fitst Name :',self.fname)
        print('Student Last Name :',self.lname)
        print('Student Phone Number :',self.phone)

In [5]:
obj1 = Student()
obj1.display()

Student Fitst Name : Digvijay
Student Last Name : Mohite
Student Phone Number : 9175535381

In [7]:
obj2=Student()
obj2.fname = 'Dipak'
obj2.lname = 'Jagdale'
obj2.phone = 123456789

obj2.display()

Student Fitst Name : Dipak
Student Last Name : Jagdale
Student Phone Number : 123456789

In [12]:
class Stud:
    name1= 'Digvijay'
    name2= 'Dipak'
    
    def display1(self):
        print('stud 1:',self.name1)
        
    def display2(self):
        print('stud 2:',self.name2)

In [13]:
obj=Stud()

In [14]:
obj.name1

'Digvijay'

In [15]:
obj.name2

'Dipak'

In [16]:
obj.display1()

stud 1: Digvijay

In [17]:
obj.display2()

stud 2: Dipak

In [27]:
class Employee:
    ename = 'DIPAK'
    salary = 100000
    designation = 'ML Engineer'
    
    def info(self):
        print(self.ename, self.salary, self.designation)

In [28]:
e=Employee()

In [29]:
e.ename

'DIPAK'

In [30]:
e.salary

100000

In [31]:
e.designation

'ML Engineer'

In [32]:
e.info()

DIPAK 100000 ML Engineer

In [33]:
d=Employee()
d.ename = 'Digvijay'
d.salary  = 900000
d.designation = 'ML eNGINEER'

In [34]:
d.info()

Digvijay 900000 ML eNGINEER

In [69]:
class Employee:
    ename = 'DIPAK'
    salary = 100000
    designation = 'ML Engineer'
    
    def __init__(self,aename,asalary,adesignation):
        self.ename = aename
        self.salary = asalary
        self.designation = adesignation
    
    def info(self):
        print(self.ename, self.salary, self.designation)

In [58]:
obj = Employee()

In [59]:
obj.ename

'DIPAK'

In [60]:
obj.salary

100000

In [62]:
obj.info()

DIPAK 100000 ML Engineer

In [66]:
abc = Employee()
abc.ename = 'ABHIMANYU'
abc.salary = 10000
abc.designation = 'TRANY'

In [67]:
abc.ename

'ABHIMANYU'

In [68]:
abc.info()

ABHIMANYU 10000 TRANY

In [70]:
xyz = Employee('SHOURYA', 150000, 'STD')
dsm = Employee('ABHI', 9000, 'std' )

In [71]:
xyz.info()

SHOURYA 150000 STD

In [72]:
dsm.info()

ABHI 9000 std

In [7]:
# single inheritance

class Parent:
    
    def pdisplay(self):
        print('PARAENT')
    
class Child(Parent):
    
    def cdisplay(self):
        print('CHILD')

In [8]:
pobj=Parent()
cobj = Child()
pobj.pdisplay()

PARAENT

In [9]:
cobj.cdisplay()
cobj.pdisplay()

CHILD
PARAENT

In [12]:
# Multiple

class abc:
    def adisplay(self):
        print('ABC')

class xyz:
    def xdisplay(self):
        print('XYZ')
    
class abyz(abc,xyz):
    def axdisplay(self):
        print('ABYZ')

In [13]:
obj1 = abyz()
obj1.adisplay()
obj1.xdisplay()
obj1.axdisplay()

ABC
XYZ
ABYZ

In [16]:
# multilevel Inhritance

class a:
    def adisplay(self):
        print('Level 1')
        
class b(a):
    def bdisplay(self):
        print('Level 2')
        
class c(b):
    def cdisplay(self):
        print('Level 3')

In [17]:
x=a()
y=b()
z=c()

In [19]:
z.adisplay()
z.bdisplay()
z.cdisplay()

Level 1
Level 2
Level 3

In [21]:
y.adisplay()
y.bdisplay()
# y.cdisplay()

Level 1
Level 2

In [23]:
x.adisplay()
# x.bdisplay()
# x.cdisplay()

Level 1

In [24]:
class a:
    def adis(self):
        print('PARAENT')
        
class b(a):
    def bdis(self):
        print('CHILD 1')
        
class c(a):
    def cdis(self):
        print('CHILD 2')

In [25]:
x=a()
y=b()
z=c()

In [26]:
x.adis()

PARAENT

In [29]:
y.bdis()
y.adis()

CHILD 1
PARAENT

In [30]:
z.cdis()
z.adis()

CHILD 2
PARAENT

In [35]:
class person:
    
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
        
    def display(self):
        print('First Name :', self.fname)
        print('Last Name :', self.lname)

In [36]:
obj = person('Digvijay','Mohite')

In [37]:
obj.display()

First Name : Digvijay
Last Name : Mohite

In [39]:
obj=person('SACHIN','TENDULKAR')
obj2=person('VIRAT', 'KOHLI')
obj3=person('DIGVIJAY', 'MOHITE')
obj4=person('SOURAV', 'GANGULY')

In [40]:
obj.display()
obj2.display()
obj3.display()
obj4.display()

First Name : SACHIN
Last Name : TENDULKAR
First Name : VIRAT
Last Name : KOHLI
First Name : DIGVIJAY
Last Name : MOHITE
First Name : SOURAV
Last Name : GANGULY

In [41]:
class player(person):
    pass

In [43]:
obj=player('suryakumar','yadav')

In [44]:
obj.display()

First Name : suryakumar
Last Name : yadav

In [24]:
class seniour:
    def __init__(self,aname,acity,ajno):
        self.name=aname
        self.city=acity
        self.jno=ajno
    def sdisplay(self):
        print(self.name)
        print(self.city)
        print(self.jno)
        
class jouniour(seniour):
    def __init__(self,pname, pcity, pjno,page):
        self.name=pname
        self.city=pcity
        self.jno=pjno
        self.age=page
        
    def jdisplay(self):
        print(self.name)
        print(self.city)
        print(self.jno)
        print(self.age)
        
obj=seniour('VIRAT','DELHI',18)
obj1=jouniour('ROHIT', 'NAGPUR', 45, 36)
obj.sdisplay()
obj1.sdisplay()

VIRAT
DELHI
18
ROHIT
NAGPUR
45

In [2]:
obj=seniour('VIRAT','DELHI',18)
obj.sdisplay()

VIRAT
DELHI
18

In [3]:
obj=jouniour('ROHIT', 'NAGPUR', 45, 36)
# obj.jdisplay()
obj.sdisplay()

ROHIT
NAGPUR
45

In [23]:
class pm:
    
    def __init__(self, aname, aparty):
        self.name = aname
        self.party = aparty
    
    def pdis(self):
        print(self.name)
        print(self.party)
        
class cm(pm):
    
    def __init__(self, aname, aparty, ag):
        pm.__init__(self, aname, aparty)
        self.a = ag
        
    def cdis(self):
        print(self.name)
        print(self.party)
        print(self.a)
        
o = pm('MODI', 'BJP')
oo = cm('SHINDE','SS',67)
oo.cdis()
oo.pdis()

SHINDE
SS
67
SHINDE
SS