# Python

### PYTHON Introduction

**What is Python?**

> Python is general purpose high level popular programming language. Python was developed by **Guido Van Rossam** at **National Research Institute Netherlands**, official relaese date of python is **20th Feb 1991**

> Python is **versatile language, capable of running on multiple platforms**, including Windows, macOS, and Linux.

> Python offers a **vast library of pre-built modules and tools**, which make it easy to **perform complex tasks with minimal coding efforts**

> Some of the most popular libraries of Python used in data science are:

>> 1. **NumPy**: A library used for numerical computing with Python.
>> 2. **Pandas**: A library used for data manipulation and analysis.
>> 3. **Matplotlib**: A library used for data visualization.
>> 4. **Scikit-learn**: A library used for machine learning.
>> 5. **TensorFlow**: A library used for deep learning.

#### Why Python is more popular in the world ?
###### Features of Python

> 1) **Easy to Learn and Use** - Its code is easy to read and understand, which makes it easier to maintain and update. like english language.

> 2) **Expressive Language** - which means that it is **more understandable and readable**.

> 3) **Interpreted Language** - Which means Python can be executed immediately **without the need for compilation. i.e code will run line by line**.This makes it easier to test and debug code.

> 4) **Cross-platform Language** - which meance capabale of **running on multiple platforms**, like **windows, macOS, Linux etc**.

> 5) **Free and Open Source** - which meance that **it's free to use and distribute**. i.e no need to license. This makes it accessible to a wide range of users, including individuals, businesses, and educational institutions.

> 6) **Object-Oriented Language** - This means that it **allows developers to use objects to represent and manipulate data**, rather than just using functions and procedures.
>> class is blue print of object

> 7) **Extensible programming language** -This means that **developers can extend the language by adding new modules or packages to it, which provide additional functionality and features beyond what is available in the core language**.

> 8) **Large Standard Library** - which provides a wide **range of modules and tools for various tasks which make it easy to perform complex tasks with minimal coding efforts**

> 9) **Dynamically typed** - which means that the **data type of a variable is determined at runtime**. This allows for greater flexibility and makes it easier to write code

###### Applications

> Python is a versatile programming language with a wide range of applications in various domains. 

Here are some of the most popular applications of Python:

> 1. **Web Development**: Python is used for developing web applications and web services. Popular web frameworks like Django and Flask are built using Python. e.g NASA Web

> 2. **Data Science**: Python is widely used in data science for tasks such as data analysis, data visualization, and machine learning. Popular data science libraries like NumPy, Pandas, and Scikit-learn are built using Python.

> 3. **Artificial Intelligence**: Python is used for developing artificial intelligence and machine learning algorithms. Popular libraries like TensorFlow and Keras are built using Python.

> 4. **Scientific & numeric Computing**: Python is used for scientific computing and mathematical modeling. Popular libraries like SciPy and SymPy are built using Python.

> 5. **Automation and Scripting**: Python is used for automating tasks and scripting. It is widely used for tasks such as data processing, system administration, and network automation.

> 6. **Game Development**: Python is used for game development. Popular game engines like Pygame and Panda3D are built using Python.

> 7. **Desktop Application Development**: Python is used for developing desktop applications. Popular GUI frameworks like PyQt and wxPython are built using Python.

> 8. **Education**: Python is widely used in education as a teaching language for computer science and programming courses.

> 9. **Software Development**:
 
> 10. **Business Applications**:

> 11. **Console Based Application**:

> 12. **Audio or Video based Applications**:

> 13. **3D CAD Applications**:

###### Good to Know for python language

Python includes below points

> 1. **Functional Programming** Features from **C**
> 2. **Object Oriented Programming** Features from **C++**
> 3. **Scripting Language** Features from **Perl & Shell Script**
> 4. **Modular Programming** Features from **Modula-3**

###### Printing "Hello"

In [1]:
print('Hello')
print('God')

Hello
God

> Note: It is very simple to print hello in python, as compared to other programming languages, coding in python is really less time consuming than other programming languages

### Identifiers

1. Names in python are called as identifiers, 
2. Function name, variable name, module name, class name are identifiers in python

###### Rules:

> 1. The first character of an identifier must be a letter (uppercase or lowercase) or an underscore (_). The rest of the characters can be letters, underscores, or digits (0-9).

> 2. If Identifier is start with Underscore (_) then it indicates it is private.

> 4. Identifier should not start with Digits.

> 5. Identifiers are case sensitive. 
>> For example, "myVar" and "myvar" are two different identifiers.

> 6. Identifiers cannot be keywords or reserved words. because reserved keywords are words that have a special meaning in Python and cannot be used as identifiers. 
>> Examples of reserved keywords in Python include "if", "else", "while", "for", "and", "or", "not", "in", "is", "class", "def", "return", "import", "from", "try", "except", "raise", "finally", and "assert".

> 7. Identifiers must not contain spaces or special characters such as '@' and '%'. However, underscores (_) are allowed.
>> Doller symbol are not allowed in python

> 8. There is no limit on the length of an identifier in Python

> 9. It is a convention to use lowercase letters for variable names and underscores to separate words in variable names. 
>>For example, "my_variable" is a valid identifier, but "MyVariable" or "myVariable" are also allowed.

>> ex: Name, name, NAME, _nAME, _name124, name_123
   
>> Wrong: 1_aksh, 1akash, 1AKASH, name&&, na$$me

###### Special Notes

> If identifier starts with '_' (single underscore) symbol,then it is private

> If identifier starts with '__' (double underscore), indicate that it is a strongly private.

> If the identifier starts and ends with "__" (double underscore) symbols, then such identifiers are language defined special name, which is also known as **magic methods**
>> e.g __int__ , __doit__

###### examples of identifiers

In [2]:
x=10
y=20
_x=30

print(x)
print(x+y)
print(_x)

10
30
30

In [3]:
name='Python'
print('name :',name)
print('*'*90)
NAME='Python'
print('NAME :',NAME)
print('*'*90)
_NAME='Python'
print('_NAME :',_NAME)
print('*'*90)
_NAME_='Python'
print('_NAME_ :',_NAME_)
print('*'*90)
fname='Python'
print('fname :',fname)
print('*'*90)
fname123='Python'
print('fname123 :',fname123)
print('*'*90)
f_name_123='Python'
print('f_name_123 :',f_name_123)

name : Python
******************************************************************************************
NAME : Python
******************************************************************************************
_NAME : Python
******************************************************************************************
_NAME_ : Python
******************************************************************************************
fname : Python
******************************************************************************************
fname123 : Python
******************************************************************************************
f_name_123 : Python

In [4]:
a=10
print('a =',a)
print('Type of a',type(a))
print('*'*90)

fname='Sikandar'
print('fname =',fname)
print('Type of fname',type(fname))
print('*'*90)

complex_number=1+2j
print('complex_number =',complex_number)
print('Type of complex_number',type(complex_number))

a = 10
Type of a <class 'int'>
******************************************************************************************
fname = Sikandar
Type of fname <class 'str'>
******************************************************************************************
complex_number = (1+2j)
Type of complex_number <class 'complex'>

### Keywords

> Defination : keyswords are the system reserved words which can be used by user and can not be re-declared by user

> There are around 35 reserved keywords 
>> 'False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'

> we can see these keywords by uusing code in python
>> import keyword; print(keyword.kwlist)

In [5]:
import keyword
print(keyword.kwlist)
print("."*90)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
..........................................................................................
35

### Data Types in Python

> Data type of variable is the type of value inside that variable.

> In python we do not need to mention the data type of variable, It automatically assigns data type

> Python is a dynamically-typed language, **which means that the data type of a variable is determined at runtime.** Python has several built-in data types, including:

> 1. **Numbers**: Python supports integers, floating-point numbers, and complex numbers. For example, 42, 3.14, and 2 + 3j are all valid numbers in Python.

> 2. **Strings**: Strings are sequences of characters. They can be enclosed in single quotes ('...') or double quotes ("..."). For example, 'hello' and "world" are both valid strings.

> 3. **Booleans**: Booleans represent either true or false. The two possible values of a boolean are True and False.

> 4. **Lists**: Lists are ordered collections of items, which can be of different types. They are mutable, which means that you can add, remove, or modify elements in a list. For example, [1, 2, 3] and ['apple', 'banana', 'cherry'] are both valid lists.

> 5. **Tuples**: Tuples are similar to lists, but they are immutable, which means that you cannot modify them once they are created. They are often used to represent fixed collections of values. Tuples are enclosed in parentheses. For example, (1, 2, 3) is a tuple.

> 6. **Sets**: Sets are unordered collections of unique items. They are enclosed in curly braces. For example, {1, 2, 3} is a set.

> 7. **Dictionaries**: Dictionaries are collections of key-value pairs. The keys are unique, and each key is associated with a value. Dictionaries are enclosed in curly braces, and the key-value pairs are separated by colons. For example, {'apple': 2, 'banana': 3, 'cherry': 5} is a dictionary.

> 8. **bytes**: 

> 9. **bytearray**: 

> 10. **range**: 

> 11. **None**: 

> In addition to these built-in data types, Python also supports several data type modules, such as datetime, which provides objects to work with dates and times, and math, which provides functions to work with mathematical operations.

### integer

In [23]:
var=10 
print('Output :',var,type(var))

Output : 10 <class 'int'>

> we can declare octal and hex value also, Octal and hexadecimal are two number systems that are commonly used in computing. In Python, they are denoted by the prefixes **"0o" and "0x"**, respectively.

> **Octal is a base-8 number system**, which means it only uses **8 digits (0-7)** to represent any value. 

> **Hexadecimal is a base-16 number system**, which means it uses **16 digits (0-9 and A-F)** to represent any value.

In [20]:
# octal numbers
var=0o0 # equivalent to decimal value 0
print(var,type(var))
print('*'*100)

var=0o1 # equivalent to decimal value 1
print(var,type(var))
print('*'*100)

var=0o2
print(var,type(var))
print('*'*100)

var=0o3
print(var,type(var))
print('*'*100)

var=0o4
print(var,type(var))
print('*'*100)

var=0o5
print(var,type(var))
print('*'*100)

var=0o6
print(var,type(var))
print('*'*100)

var=0o7
print(var,type(var))
print('*'*100)

var=0o10
print(var,type(var))
print('*'*100)


var=0o11 # equivalent to decimal value 9
print(var,type(var))
print('*'*100)

var=0o11111000
print(var,type(var))
print('*'*100)

0 <class 'int'>
****************************************************************************************************
1 <class 'int'>
****************************************************************************************************
2 <class 'int'>
****************************************************************************************************
3 <class 'int'>
****************************************************************************************************
4 <class 'int'>
****************************************************************************************************
5 <class 'int'>
****************************************************************************************************
6 <class 'int'>
****************************************************************************************************
7 <class 'int'>
****************************************************************************************************
8 <class 'int'>
****************************************************************************************************
9 <class 'int'>
****************************************************************************************************
2396672 <class 'int'>
****************************************************************************************************

In [22]:
# Hex Numbers 

var=0x0 # equivalent to decimal value 0
print(var,type(var))
print('*'*100)

var=0x1 # equivalent to decimal value 1
print(var,type(var))
print('*'*100)

var=0x2
print(var,type(var))
print('*'*100)

var=0x3
print(var,type(var))
print('*'*100)

var=0x4
print(var,type(var))
print('*'*100)

var=0x5
print(var,type(var))
print('*'*100)

var=0x6
print(var,type(var))
print('*'*100)

var=0x7
print(var,type(var))
print('*'*100)

var=0x10
print(var,type(var))
print('*'*100)


var=0xA # equivalent to decimal value 10
print(var,type(var))
print('*'*100)

var=0xB
print(var,type(var))
print('*'*100)

var=0xC
print(var,type(var))
print('*'*100)

var=0xD
print(var,type(var))
print('*'*100)

var=0xE
print(var,type(var))
print('*'*100)

var=0xF
print(var,type(var))
print('*'*100)

0 <class 'int'>
****************************************************************************************************
1 <class 'int'>
****************************************************************************************************
2 <class 'int'>
****************************************************************************************************
3 <class 'int'>
****************************************************************************************************
4 <class 'int'>
****************************************************************************************************
5 <class 'int'>
****************************************************************************************************
6 <class 'int'>
****************************************************************************************************
7 <class 'int'>
****************************************************************************************************
16 <class 'int'>
****************************************************************************************************
10 <class 'int'>
****************************************************************************************************
11 <class 'int'>
****************************************************************************************************
12 <class 'int'>
****************************************************************************************************
13 <class 'int'>
****************************************************************************************************
14 <class 'int'>
****************************************************************************************************
15 <class 'int'>
****************************************************************************************************

### float

In [9]:
var=10.10
print('output:',var)
print(type(var))

output: 10.1
<class 'float'>

### complex

In [10]:
var=1+2j
print('output:',var)
print(type(var))

output: (1+2j)
<class 'complex'>

In [ ]:
print("Real :",var.real)
print(type(var.real))
print('*'*90)
print("Imaginory :",var.imag)
print(type(var.imag))

Real : 1.0
<class 'float'>
******************************************************************************************
Imaginory : 2.0
<class 'float'>

## boolean

In [25]:
var=True
var_1=False
x='True'

print('Output:',var,type(var))
print(x,type(x))
print(var_1,type(var_1))

Output: True <class 'bool'>
True <class 'str'>
False <class 'bool'>

In [26]:
print(int(True),int(False))

1 0

In [27]:
print(float(True),float(False))

1.0 0.0

In [28]:
print(complex(True),complex(False))
print(complex(True,False))
print(complex(False,True))
c=0+0j
print(c)

(1+0j) 0j
(1+0j)
1j
0j

In [1]:
print(str(True))
print(str(False))

True
False

In [2]:
print(bool(3.1))
print(bool(0.3))
print(bool(0.0))

True
True
False

In [3]:
print(bool(""))
print(bool())

print(bool('don'))
print(bool(11))

False
False
True
True

In [4]:
print(bool(1+2j))
print(bool(1+0j))
print(bool(0+2j))
print(bool(0+0j))

True
True
True
False

In [5]:
# conversion of int/float/str to bool
x=bool(100)
print('int to bool :',x)
xx=bool(0)
print('int to bool :',xx)
print('*'*100)

y=bool(10.10)
print('float to bool :',y)
yy=bool(0.0)
print('float to bool :',yy)
print('*'*100)

z=bool("100")
print('string to bool :',z)
zz=bool("")
print('string to bool :',zz)
print('*'*100)

z=bool(1+0j)
print('complex to bool :',z)
zz=bool(4+2j)
print('complex to bool :',zz)
zzz=bool(0+0j)
print('complex to bool :',zzz)
zzzz=bool(0+2j) # at least one value should be there
print('complex to bool :',zzzz)
print('*'*100)

int to bool : True
int to bool : False
****************************************************************************************************
float to bool : True
float to bool : False
****************************************************************************************************
string to bool : True
string to bool : False
****************************************************************************************************
complex to bool : True
complex to bool : True
complex to bool : False
complex to bool : True
****************************************************************************************************

## string

string is sequence of characters e.g "This is string"

1. string is a **sequence of characters** enclosed in quotes

2. Strings in Python are **immutable**, which means you cannot change the contents of a string once it is created. However, you **can create a new string by concatenating** two or more strings together using the + operator or **repeating a string using the * operator**

3. Duplicates allowed

4. string is ordered

5. store all the characters in string

Available methods in string:

1. **str.upper()**: Returns a new string with all characters converted to uppercase.
2. **str.lower()**: Returns a new string with all characters converted to lowercase.
3. **str.capitalize()**: Returns a copy of the **string with the first character capitalized**
4. **str.title()**: Returns a copy of the string with the **first character of each word capitalized**.
5. **len(str)**: Returns the length of the string.
6. **str.strip()**: Returns a new string with leading and trailing whitespace removed.
7. **str.replace()**: Returns a new string with all occurrences of a specified substring replaced with another substring.
8. **str.split()**: Returns a list of substrings separated by a specified delimiter. i.e **Returns a list of the words in the string, separated by whitespace**.
9. **str.join(iterable)**: Joins the elements of an iterable (e.g., a list) with the specified string as the separator.
10. **str.casefold()**:	Converts string into lower case
11. **str.center()**: Returns a centered string
12. **str.count()**: Returns the number of times a specified value occurs in a string
13. **str.endswith()**: Returns true if the string ends with the specified value
14. **str.find()**: Searches the string for a specified value and returns the position of where it was found
15. **str.swapcase()**: Swaps cases, lower case becomes upper case and vice versa
16.  **str.startswith()**: Returns true if the string starts with the specified value
17. **str.isalnum()**: Returns True if all characters in the string are alphanumeric
18. **str.isalpha()**: Returns True if all characters in the string are in the alphabet
19. **str.isascii()**: Returns True if all characters in the string are ascii characters
20. **str.isdecimal()**: Returns True if all characters in the string are decimals
21. **str.isdigit()**: Returns True if all characters in the string are digits
22. **str.isidentifier()**: Returns True if the string is an identifier
23. **str.islower()**: Returns True if all characters in the string are lower case
24. **str.isnumeric()**: Returns True if all characters in the string are numeric
25. **str.isprintable()**: Returns True if all characters in the string are printable
26. **str.isspace()**: Returns True if all characters in the string are whitespaces
27. **str.istitle()**: Returns True if the string follows the rules of a title
28. **str.isupper()**: Returns True if all characters in the string are upper case

In [6]:
var='python3.9'
# when take values from user: data type considered as string
print('Output:')
print(var)
print(type(var))

Output:
python3.9
<class 'str'>

In [29]:
string='''I am sorry, I cannot provide information on specific 
individuals unless they are well-known public figures'''

In [30]:
string.upper()

'I AM SORRY, I CANNOT PROVIDE INFORMATION ON SPECIFIC \nINDIVIDUALS UNLESS THEY ARE WELL-KNOWN PUBLIC FIGURES'

In [31]:
string.lower()

'i am sorry, i cannot provide information on specific \nindividuals unless they are well-known public figures'

In [32]:
string.capitalize()

'I am sorry, i cannot provide information on specific \nindividuals unless they are well-known public figures'

In [33]:
string.casefold()

'i am sorry, i cannot provide information on specific \nindividuals unless they are well-known public figures'

In [35]:
len(string)

107

In [36]:
string.strip()

'I am sorry, I cannot provide information on specific \nindividuals unless they are well-known public figures'

In [37]:
string.format()

'I am sorry, I cannot provide information on specific \nindividuals unless they are well-known public figures'

In [38]:
string.replace('am','AM')

'I AM sorry, I cannot provide information on specific \nindividuals unless they are well-known public figures'

In [41]:
string.split()

['I',
 'am',
 'sorry,',
 'I',
 'cannot',
 'provide',
 'information',
 'on',
 'specific',
 '\nindividuals',
 'unless',
 'they',
 'are',
 'well-known',
 'public',
 'figures']

In [42]:
string.casefold()

'i am sorry, i cannot provide information on specific \nindividuals unless they are well-known public figures'

In [44]:
string.index('sorry')

5

In [46]:
string.count('i')

10

In [54]:
string.find('on')

38

In [56]:
string.expandtabs(5)

'I am sorry, I cannot provide information on specific \nindividuals unless they are well-known public figures'

In [59]:
string.isidentifier()

False

In [60]:
string.swapcase()

'i AM SORRY, i CANNOT PROVIDE INFORMATION ON SPECIFIC \nINDIVIDUALS UNLESS THEY ARE WELL-KNOWN PUBLIC FIGURES'

In [64]:
string.isnumeric()

False

#### string slicing

string slicing is peaces of a string using some seperator, [] this is slicing operator

In [65]:
str1='This tutorial is basically designed for biggners'
str2='Python'

In [66]:
str2[3], str2[0], str2[1]

('h', 'P', 'y')

In [75]:
str2*10

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [79]:
str1[::-1] # reverse order

'srenggib rof dengised yllacisab si lairotut sihT'

In [11]:
str2[::-1]

'nohtyP'

In [12]:
str1[0:26]

'This tutorial is basically'

In [13]:
str1[-6:]

'ggners'

In [14]:
str2[-2:]

'on'

In [15]:
# string is immutable (we can't modify existing element)
print(str2)
# str2[0]='G'
print(str2)

Python
Python

# Assignment: take five string and do operations on that

In [80]:
str1="Data Science"
str2="Machine learning"
str3="Deep learning"
str4="Natural Language processing"
str5="structured query language"
print("1st string :",str1)
print("2nd string :",str2)
print("3rd string :",str3)
print("4th string :",str4)
print("5th string :",str5)

1st string : Data Science
2nd string : Machine learning
3rd string : Deep learning
4th string : Natural Language processing
5th string : structured query language

In [17]:
print("1st string :",str1)
print(str1[2:6],":",str1[-10:-6])
print(str1[::-1]) # reverse string
print("*"*90)

print("2nd string :",str2)
print(str2[5:10],":",str2[-11:-6])
print(str2[::2]) #(strat index:endindex:step size)
print("*"*90)

print("3rd string :",str3)
print(str3[0:10])
print("*"*90)

print("4th string :",str4)
print(str4[::5])
print("*"*90)

print("5th string :",str5)
print(str5[::5])

1st string : Data Science
ta S : ta S
ecneicS ataD
******************************************************************************************
2nd string : Machine learning
ne le : ne le
Mcielann
******************************************************************************************
3rd string : Deep learning
Deep learn
******************************************************************************************
4th string : Natural Language processing
Nanecn
******************************************************************************************
5th string : structured query language
st yg

In [18]:
# string multiply
print(str1*2)
print(str2*3)
print(str3*4)
print(str4*5)
print(str5*6)

Data ScienceData Science
Machine learningMachine learningMachine learning
Deep learningDeep learningDeep learningDeep learning
Natural Language processingNatural Language processingNatural Language processingNatural Language processingNatural Language processing
structured query languagestructured query languagestructured query languagestructured query languagestructured query languagestructured query language

### Typecasting in datatypes

> Def: conversion of one type of data into other type of data is called typecasting

> int, float, str, boolean, complex, object

>>1. int to float / complex / str 

>> 2. float to int / complex / str

>> 3. str to int / float / complex >>> # (string contains only numbers)

>> ###### Note : can't convert complex to any other data type

###### 1. int to float/complex/string  conversion

In [19]:
var=1000
print('<< interger to float conversion >>')
print('*'*90)
print('integer number :',var)
print('type of variable :',type(var))
a=float(var)
print('converted integer to float :',a)
print('type of converted number :',type(a))

<< interger to float conversion >>
******************************************************************************************
integer number : 1000
type of variable : <class 'int'>
converted integer to float : 1000.0
type of converted number : <class 'float'>

In [20]:
var=1000
print('<< interger to string conversion >>')
print('*'*90)
print('integer number :',var)
print('type of variable :',type(var))
a=str(var)
print('converted integer to string :',a)
print('type of converted number :',type(a))

<< interger to string conversion >>
******************************************************************************************
integer number : 1000
type of variable : <class 'int'>
converted integer to string : 1000
type of converted number : <class 'str'>

In [21]:
var=1000
print('<< interger to complex conversion >>')
print('*'*90)
print('integer number :',var)
print('type of variable :',type(var))
a=complex(var)
print('converted integer to complex :',a)
print('type of converted number :',type(a))
print('Real :',a.real)
print('Imaginory :',a.imag)

<< interger to complex conversion >>
******************************************************************************************
integer number : 1000
type of variable : <class 'int'>
converted integer to complex : (1000+0j)
type of converted number : <class 'complex'>
Real : 1000.0
Imaginory : 0.0

###### 2. float to int/complex/string conversion

In [22]:
var=999.99
print('<< float to int conversion >>')
print('*'*90)
print('float number :',var)
print('type of variable :',type(var))
a=int(var)
print('converted float to int :',a)
print('type of converted number :',type(a))

<< float to int conversion >>
******************************************************************************************
float number : 999.99
type of variable : <class 'float'>
converted float to int : 999
type of converted number : <class 'int'>

In [23]:
var=999.99
print('<< float to complex conversion >>')
print('*'*90)
print('float number :',var)
print('type of variable :',type(var))
a=complex(var)
print('converted float to complex :',a)
print('type of converted number :',type(a))
print('Real :',a.real)
print('Imaginory :',a.imag)

<< float to complex conversion >>
******************************************************************************************
float number : 999.99
type of variable : <class 'float'>
converted float to complex : (999.99+0j)
type of converted number : <class 'complex'>
Real : 999.99
Imaginory : 0.0

In [24]:
var=999.99
print('<< float to string conversion >>')
print('*'*90)
print('float number :',var)
print('type of variable :',type(var))
a=str(var)
print('converted float to string :',a)
print('type of converted number :',type(a))

<< float to string conversion >>
******************************************************************************************
float number : 999.99
type of variable : <class 'float'>
converted float to string : 999.99
type of converted number : <class 'str'>

###### 3. str to int / float / complex 
###### Note : string contains only numbers then and then typecasting will be done

In [25]:
var='1000'
print('<< string to int conversion >>')
print('*'*90)
print('string number :',var)
print('type of variable :',type(var))
a=int(var)
print('converted string to int :',a)
print('type of converted number :',type(a))

<< string to int conversion >>
******************************************************************************************
string number : 1000
type of variable : <class 'str'>
converted string to int : 1000
type of converted number : <class 'int'>

In [26]:
var='1000'
print('<< string to float conversion >>')
print('*'*90)
print('string number :',var)
print('type of variable :',type(var))
a=float(var)
print('converted string to float :',a)
print('type of converted number :',type(a))

<< string to float conversion >>
******************************************************************************************
string number : 1000
type of variable : <class 'str'>
converted string to float : 1000.0
type of converted number : <class 'float'>

In [27]:
var='1000'
print('<< string to complex conversion >>')
print('*'*90)
print('string number :',var)
print('type of variable :',type(var))
a=complex(var)
print('converted string to complex :',a)
print('type of converted number :',type(a))
print('Real Part:',a.real)
print('Imaginory Part:',a.imag)

<< string to complex conversion >>
******************************************************************************************
string number : 1000
type of variable : <class 'str'>
converted string to complex : (1000+0j)
type of converted number : <class 'complex'>
Real Part: 1000.0
Imaginory Part: 0.0

In [28]:
var='1000.11'
var='Python'

# not possible for type casting

#### other types to complex function

In [29]:
# use complex() function for conversion

var = 10

print(complex(var))

var1 = 12.4

print(complex(var1))

var3 = "10.23"
print(complex(var3))

(10+0j)
(12.4+0j)
(10.23+0j)

In [30]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4)) # 10.2+4j

print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

### Immutability

> Immutability refers to the **property of an object that cannot be changed after it has been created**. This means that once an object is created, **its value cannot be modified**.

> For example, if you assign a value to a variable that references an integer, you cannot modify the value of that integer:
                      >>x = 5

>>x = 6 # This creates a new integer object with the value 6 and assigns it to x, it doesn't modify the value of the original object with value 5.

> mutable objects in Python can be modified after they have been created. 
>>Examples of mutable objects include **lists, sets, and dictionaries**.

>  If you modify a mutable object, you are actually changing the object itself, not creating a new object. For example:
>> my_list = [1, 2, 3]

>> my_list.append(4) # This modifies the existing list object, adding a new element 4 to it.

    Immutability: object can not be changed after it has been created are called as immutability

In [9]:
# immutability
x=5
print(id(x))
x=10
print(id(x))

140726035669928
140726035670088

In [10]:
# mutability
list1=[1,2,3]
print(list1)
print(id(list1))
list1[2]=[1,2,3]
print(list1)
print(id(list1))

[1, 2, 3]
2236169406464
[1, 2, [1, 2, 3]]
2236169406464

In [11]:
var=100 # for same integer value for multiple variable the id will be same
var1=var

print(id(var))
print('and \n',id(var1))
print(var is var1) # checking variables

print('*'*100)

var=999.99 # for same integer value for multiple variable the id will not same
var1=999.99
var2=999.99

print(id(var))
print('and \n',id(var1))
print(id(var2))
print(var is var1)

140726035672968
and
 140726035672968
True
****************************************************************************************************
2236169116240
and
 2236169123984
2236169124208
False

### bytes data type

>In Python, bytes and bytearray are data types that represent a sequence of bytes (integers between 0 and 255) that can be used to store and manipulate binary data.

> The bytes type is immutable, which means that you cannot modify its contents once it has been created.

> You can create a bytes object by passing a sequence of integers (between 0 and 255) to the bytes constructor or by using the b prefix before a string literal:

>> my_bytes = bytes([65, 66, 67]) # create a bytes object from a list of integers

>> my_bytes = b"ABC" # create a bytes object from a string literal with the 'b' prefix

In [35]:
l = [1,2,3,4,5,6]
b = bytes(l)
print(b)
print(type(b))

for i in b:
    print(i)

b'\x01\x02\x03\x04\x05\x06'
<class 'bytes'>
1
2
3
4
5
6

In [36]:
# how to access
print("val of b[5] :",b[5])

val of b[5] : 6

In [37]:
# try to modify
# b[0]=100 
# TypeError: 'bytes' object does not support item assignment
# because bytes are immutable

In [38]:
# my_bytes=bytes([1,2,3,4,5,260]) 
# print(my_bytes)
# value above 255 will get value error
# ValueError: bytes must be in range(0, 256)

In [39]:
my_bytes1=b'BAC'
print(type(my_bytes1))
for i in my_bytes1: # accessing bytes by using "for loop"
    print(i)

<class 'bytes'>
66
65
67

In [40]:
a=[10,20,30,40,50]
print(a)
print(type(a))

print("*"*90)

b=bytes(a)
print(b)
print(type(b))
# this will not print for that we need to go through for loop

for i in b:
    print(i)

[10, 20, 30, 40, 50]
<class 'list'>
******************************************************************************************
b'\n\x14\x1e(2'
<class 'bytes'>
10
20
30
40
50

### bytearray data type

> The bytearray type is **similar to bytes, but it is mutable**, which means that you can modify its contents after it has been created. You can create a bytearray object by passing a sequence of integers (between 0 and 255) to the bytearray constructor or by using the bytearray() function:

>> my_bytearray = bytearray([65, 66, 67]) # create a bytearray object from a list of integers
>> my_bytearray = bytearray(b"ABC") # create a bytearray object from a bytes object

In [41]:
my_bytearray=bytearray([10,20,20,30])
print(type(my_bytearray))
print(my_bytearray)
for i in my_bytearray:
    print(i)

<class 'bytearray'>
bytearray(b'\n\x14\x14\x1e')
10
20
20
30

In [42]:
# accessing the element
my_bytearray[0]

10

In [43]:
# value modifying
my_bytearray[0]=211

for i in my_bytearray:
    print(i)

211
20
20
30

In [44]:
# we can modify the element in original object of "bytesarray" i.e it is mutable
my_bytearray[2]=100
for i in my_bytearray:
    print(i)

211
20
100
30

In [45]:
# my_bytearray[0]=260 # ValueError: byte must be in range(0, 256)

# for i in my_bytearray:
#     print(i)

In [46]:
my_bytearray1=bytearray(b'abc')
print(type(my_bytearray1))
for i in my_bytearray1:
    print(i)

<class 'bytearray'>
97
98
99

In [15]:
barray=bytearray([1,2,3,4])
print(barray)
for i in barray:
    print(i)
    
print('*'*100)
    
barray[0]=99 # bytearray is mutable
print(barray)
for i in barray:
    print(i)

bytearray(b'\x01\x02\x03\x04')
1
2
3
4
****************************************************************************************************
bytearray(b'c\x02\x03\x04')
99
2
3
4

### List

1. List stores **multiple items with different data types**
2. **[ ]** brackets are used to create list
3. list is **ordered**
4. The list is **changeable (mutable)**, meaning that we can change, add, and remove items in a list after it has been created.
5. **Duplicates allowed** (Stores)
6. list is **growable(we can extend list upto memory limit)** ,
7. Elements are **added at end of list**

In [47]:
# create list for int/float/string 
l_1=[1,2,3,4,5,6,7,8]
print(l_1)
print(type(l_1))
print('*'*90)

l_2=[1.1,2.2,3.3,4.4,5.5,6.6,7.7,8.8]
print(l_2)
print(type(l_2))
print('*'*90)

l_3=['a','b','c','d','e','f','g','h']
print(l_3)
print(type(l_3))
print('*'*90)

l_4=[1,2,3.33,4.44,'a','b']
print(l_4)
print(type(l_4))
print('*'*90)

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>
******************************************************************************************
[1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8]
<class 'list'>
******************************************************************************************
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
<class 'list'>
******************************************************************************************
[1, 2, 3.33, 4.44, 'a', 'b']
<class 'list'>
******************************************************************************************

In [48]:
# accessing the list item's
l=[1,2,'python','java',2.2,3.4]
print(l[2])
print(l[4])

python
2.2

In [49]:
list1=[1,2,3,4,5]
list2=[10.1, 20.2, 30.3, 40.4, 50.5]
list3=['Abhi','Shourya','Rekha','Digvijay','Mohite']
list4=[1, 10.1, 'Abhi', 1+2j, 0]

print(list1); print(type(list1))
print(list2); print(type(list2))
print(list3); print(type(list3))
print(list4); print(type(list4))

[1, 2, 3, 4, 5]
<class 'list'>
[10.1, 20.2, 30.3, 40.4, 50.5]
<class 'list'>
['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite']
<class 'list'>
[1, 10.1, 'Abhi', (1+2j), 0]
<class 'list'>

In [50]:
print(type(list1))
type(list1)

<class 'list'>

list

In [51]:
print(list1[0])
print(list2[1])
print(list3[2])
print(list4[3])
print('*********************')

1
20.2
Rekha
(1+2j)
*********************

In [52]:
print(list2)
print(list2[0:3])
list2

[10.1, 20.2, 30.3, 40.4, 50.5]
[10.1, 20.2, 30.3]

[10.1, 20.2, 30.3, 40.4, 50.5]

In [53]:
print(list2)
print(list2[0:-2])

[10.1, 20.2, 30.3, 40.4, 50.5]
[10.1, 20.2, 30.3]

In [54]:
list2[-1]

50.5

In [55]:
print(list2[::-1]) # reverse list printed

[50.5, 40.4, 30.3, 20.2, 10.1]

###### Operations of list

# available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

In [56]:
# len function
print(list3)
print(len(list3))
len(list3)

['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite']
5

5

In [57]:
# append function
print(list3)
list3.append('Manjarde')
print(list3)

['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite']
['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite', 'Manjarde']

In [58]:
# remove function
print(list3)
list3.remove('Manjarde')
print(list3)

['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite', 'Manjarde']
['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite']

In [59]:
# copy function
list10=list3.copy()
print("list 3 :",list3)
print("list 10:",list10)

list 3 : ['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite']
list 10: ['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite']

In [60]:
# extend function
print(list1)
list1.extend('Manjarde')
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'M', 'a', 'n', 'j', 'a', 'r', 'd', 'e']

In [61]:
list10.extend(list3)
print(list10)

['Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite', 'Abhi', 'Shourya', 'Rekha', 'Digvijay', 'Mohite']

In [62]:
# del function
del list1[5::1]
list1

[1, 2, 3, 4, 5]

In [63]:
# index function
print("list1 :",list1)
print(list1.index(1))
print(list2.index(20.2))
print(list4.index('Abhi'))
list3.index('Digvijay') # showing index number

list1 : [1, 2, 3, 4, 5]
0
1
2

3

In [64]:
# insert value (index ,value)
print("list1 :",list1)
list1.insert(3,100)
print('list1 after insert:',list1)

list1 : [1, 2, 3, 4, 5]
list1 after insert: [1, 2, 3, 100, 4, 5]

In [65]:
# pop function

pop will remove last element from list but if we give index number then that perrticular index element will be remove

In [66]:
print(list1)
list1.pop() # pop last element
print(list1)
list1.pop(3) # pop 1st index 
print(list1)

[1, 2, 3, 100, 4, 5]
[1, 2, 3, 100, 4]
[1, 2, 3, 4]

In [67]:
# reverse function
print("original list :",list2)
list2.reverse()
print("reversed list :",list2)

original list : [10.1, 20.2, 30.3, 40.4, 50.5]
reversed list : [50.5, 40.4, 30.3, 20.2, 10.1]

In [68]:
# sort function (ascending / decending)
list11=[1,2,3,4,5,6]
print('Original list :',list11)
list11.sort(reverse=False)
print('Ascending order  :',list11)
list11.sort(reverse=True)
print('Decending order :',list11)

Original list : [1, 2, 3, 4, 5, 6]
Ascending order  : [1, 2, 3, 4, 5, 6]
Decending order : [6, 5, 4, 3, 2, 1]

In [69]:
# modifying 1st index 
print(list11)
list11[1]='Mohite_Patil' 
print(list11)

[6, 5, 4, 3, 2, 1]
[6, 'Mohite_Patil', 4, 3, 2, 1]

In [70]:
# modifying 1st, 2nd and 3rd index
print(list11)
list11[0:3]=['A','B','C'] 
print(list11)

[6, 'Mohite_Patil', 4, 3, 2, 1]
['A', 'B', 'C', 3, 2, 1]

In [71]:
print(len(list11))
# list11[9] = 'Padmaja' # list assignment index out of range
print(list11)

6
['A', 'B', 'C', 3, 2, 1]

In [72]:
# clear function
list11.clear()
print(list11)

[]

In [73]:
# access list element by using for loop

In [74]:
for i in list4:
    print(i)

1
10.1
Abhi
(1+2j)
0

In [75]:
list20=[1,2,3,4,5,6,7,8,9]
list20[2:3]=[22,33,44]
print(list20)
print(list20[4])

[1, 2, 22, 33, 44, 4, 5, 6, 7, 8, 9]
44

In [76]:
# misbahaviour of list
list21=[1,2,3,4,5,6,7,8,9]
list21[2:]=[22,33,44] # after modifying remaining elements will be lost
print(list21)
print(list20[4])

[1, 2, 22, 33, 44]
44

### Tuple

1. Tuple is **ordered and unchangable**.
2. **Immutable** (you cant change the element or can't add elements in tuple)
3. **()** are used to represent the tuple
4. **duplicates allowed**
5. **tuples are read only version** of your list but except list is growable.

In [77]:
# tuple constructor
tup=tuple((1,2,3,4,5,6))
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [78]:
# count()
tup.count(5) # counts how many times element is coming

1

In [79]:
# index()
tup.index(5)# showing index number of elements

4

# i want to add elemet in my tuple

In [80]:
# tup.append(10) 
# AttributeError: 'tuple' object has no attribute 'append'

In [81]:
# step1 : tuple convert ino list
print(tup)
print(type(tup))
print('*'*100)
l_tup=list(tup)
print(l_tup)
print(type(l_tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
****************************************************************************************************
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [82]:
# setp2 : append required item in list
l_tup.append(100)
print(l_tup)
print(type(l_tup))
print("*"*100)
tup=tuple(l_tup)
print(tup)
print(type(tup))

[1, 2, 3, 4, 5, 6, 100]
<class 'list'>
****************************************************************************************************
(1, 2, 3, 4, 5, 6, 100)
<class 'tuple'>

# available operations on tuple through list

list1.append # add element at last
list1.copy # copy
list1.count # count the value
list1.extend # it will add multiple element in list
list1.index # it return you an index of value
list1.insert # insert at specific location
list1.pop # remove last element / specific location
list1.remove # remove value
list1.reverse # reverse order
list1.sort # sort in ascending and decending order
list1.clear # clear all the elements from your list

In [83]:
print(tup)

(1, 2, 3, 4, 5, 6, 100)

In [84]:
# append
l=list(tup)
l.append('Krishna')
tup=tuple(l)
print(tup)

(1, 2, 3, 4, 5, 6, 100, 'Krishna')

In [85]:
# copy
ll=[11,22,33,44,55,66,1000,'Hare']
l=list(tup)
l=ll.copy()
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 1000, 'Hare')

In [86]:
# extend function
lll=['Rama','Hare','Krishna']
l=list(tup)
l.extend(lll)
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 1000, 'Hare', 'Rama', 'Hare', 'Krishna')

In [87]:
# index
print(tup.index('Hare'))
print(tup.index('Krishna'))

7
10

In [88]:
# insert (index, value)
l=list(tup)
l.insert(6,'ABC')
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 'ABC', 1000, 'Hare', 'Rama', 'Hare', 'Krishna')

In [89]:
# pop()
l=list(tup)
l.pop(6) # by using index number we are poping elemet 
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 1000, 'Hare', 'Rama', 'Hare', 'Krishna')

In [90]:
# remove() we need give argument which we want to remove
l=list(tup)
l.remove(1000)
tup=tuple(l)
print(tup)

(11, 22, 33, 44, 55, 66, 'Hare', 'Rama', 'Hare', 'Krishna')

In [91]:
# reverse()
l=list(tup)
l.reverse()
tup=tuple(l)
print(tup)

('Krishna', 'Hare', 'Rama', 'Hare', 66, 55, 44, 33, 22, 11)

In [92]:
# sort
# l=list(tup)
# l1=l.sort()# ascending
# # TypeError: '<' not supported between instances of 'int' and 'str'
# tup=tuple(ll)
# print(tup)
# l2=l.sort(reverse=True) # decending order
# tup1=tuple(l2)
# print(tup1)

# in list we need either one value or str

In [93]:
# clear()
l=list(tup)
l.clear()
tup=tuple(l)
print(tup)

()

In [94]:
tup=('apple','apple','banana','cherry','orange','kiwi','melon','mango')
print(tup)
print(type(tup))

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>

In [95]:
print(len(tup))
print(tup.count('apple'))
tup.index('cherry')

8
2

3

In [96]:
tup1=("scuccess")
print(type(tup1))

tup1=("scuccess",) # ',' required at last
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [97]:
tup=('apple','apple','banana','cherry','orange','kiwi','melon','mango',)
print(tup)
print(type(tup))

print('*'*100)
tup=('apple','apple','banana','cherry','orange','kiwi','melon','mango')
print(tup)
print(type(tup))

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
****************************************************************************************************
('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>

In [98]:
tup2=(1, 1.2, "abc", True, 40, "male")
print(tup2)
print(type(tup2))

(1, 1.2, 'abc', True, 40, 'male')
<class 'tuple'>

In [99]:
# tuple constructor >> tuple constructor is a built-in function that is used to create a tuple object

tup3=tuple([10,20,30])
print(tup3)

(10, 20, 30)

In [100]:
# access the elements of tuple

print(tup3)
tup3[1]

(10, 20, 30)

20

In [101]:
print(tup)
tup[3]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'cherry'

In [102]:
tup[-2]

'melon'

In [103]:
# range of items 
tup[1:3]

('apple', 'banana')

In [104]:
# change tuple value by using list
print('Tuple will be :',tup)
print(type(tup))

print('*'*100)

var=list(tup)
print("Tuple converted in list",var)
print(type(var))

print('*'*100)

# change value 
var[1]='Potato'
print('changing value in list')
print(var)
print(type(var))

print('*'*100)

# change back to tuple from list
var1=tuple(var)
print('converted list to tuple :',var1)
print(type(var1))

Tuple will be : ('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
****************************************************************************************************
Tuple converted in list ['apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
****************************************************************************************************
changing value in list
['apple', 'Potato', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
****************************************************************************************************
converted list to tuple : ('apple', 'Potato', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>

In [105]:
# add item to list and convert back to tuple
tup11=('A','B','C','D','E')
print(tup11)
print(type(tup11))
print('*'*100)

var=list(tup11)
print(var)
print(type(var))
print('*'*100)

var[1]='BBBB'
print(var)
print(type(var))
print('*'*100)

var1=tuple(var)
print(var1)
print(type(var1))

('A', 'B', 'C', 'D', 'E')
<class 'tuple'>
****************************************************************************************************
['A', 'B', 'C', 'D', 'E']
<class 'list'>
****************************************************************************************************
['A', 'BBBB', 'C', 'D', 'E']
<class 'list'>
****************************************************************************************************
('A', 'BBBB', 'C', 'D', 'E')
<class 'tuple'>

In [106]:
# tuple concatination
a=var1+tup11
print(a)
print(type(a))

('A', 'BBBB', 'C', 'D', 'E', 'A', 'B', 'C', 'D', 'E')
<class 'tuple'>

In [107]:
# remove items using list
tup=(1,44,'hh','aba',1,1,4,6,7,)
print(tup)
print(type(tup))
print('*'*90)

print('typecasting from tuple to list:')
list1=list(tup)
print(list1)
print(type(list1))
print('*'*90)

print('removing element from list:')
# list1.remove('aba')
list1.pop(8)
print(list1)
print(type(list1))

(1, 44, 'hh', 'aba', 1, 1, 4, 6, 7)
<class 'tuple'>
******************************************************************************************
typecasting from tuple to list:
[1, 44, 'hh', 'aba', 1, 1, 4, 6, 7]
<class 'list'>
******************************************************************************************
removing element from list:
[1, 44, 'hh', 'aba', 1, 1, 4, 6]
<class 'list'>

In [108]:
# Complete deletion of tuple using del tuple_name

tup_1=('A','B','C',1,2,3,)
print(tup_1)
print(type(tup_1))

del tup_1 
# print(tup_1) # error is coming due to tuple delteted by using del function

('A', 'B', 'C', 1, 2, 3)
<class 'tuple'>

###### Use of asterisk (*)
>> asterisk (*) can be used in tuples to perform a variety of operations.

> 1. **Unpacking operator**:
The most common use of the asterisk in tuples is as an unpacking operator. For example, if you have a tuple with more than one element, you can use the asterisk to unpack all of the remaining elements into a new variable.

In [109]:
tup=(1,2,3,4,5)
(a,*b)=tup
print(a)
print(b)

1
[2, 3, 4, 5]

In [110]:
fruit=('apple','banana','cherry','strawberry','raspberry')
fruit_1=("apple","strawberry","banana", "cherry", "raspberry")

(red,yellow,*pink)=fruit
print(red)
print(yellow)
print(pink)

print('*'*90)
(*red,yellow,pink)=fruit
print(red)
print(yellow)
print(pink)

print('*'*90)
(red,*yellow,pink)=fruit
print(red)
print(yellow)
print(pink)

apple
banana
['cherry', 'strawberry', 'raspberry']
******************************************************************************************
['apple', 'banana', 'cherry']
strawberry
raspberry
******************************************************************************************
apple
['banana', 'cherry', 'strawberry']
raspberry

In this example, the variable a will be assigned the first value in the tuple, and the variable b will be assigned a list containing the remaining values in the tuple.

> 2. **Packing operator**:
The asterisk can also be used to pack elements into a tuple. This is done by placing the asterisk before a variable that contains a sequence of values. Here's an example:

In [111]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=(*a,*b)
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [112]:
fruit=('apple','banana','cherry','strawberry','raspberry')
fruit_1=("apple","strawberry","banana", "cherry", "raspberry")

market=(*fruit,*fruit_1)
print(market)

('apple', 'banana', 'cherry', 'strawberry', 'raspberry', 'apple', 'strawberry', 'banana', 'cherry', 'raspberry')

In this example, the variables a and b contain tuples, and the asterisk is used to pack their elements into a new tuple c.

> 3. **Function arguments**:
The asterisk can also be used in function calls to unpack a tuple or list as arguments to the function. Here's an example:

In [17]:
def add_numbers(a,b,c):
    return a+b+c

numbers=add_numbers(1,2,3) # normal function calling
print(numbers)

6

In [18]:
values=(1,2,3)
numbers=add_numbers(*values)
print(numbers)

6

In [115]:
def fruits(a,b,c):
    return a+b+c

market=fruits('apple','banana','cherry')
print(market)

applebananacherry

In this example, the tuple numbers is unpacked into individual arguments using the asterisk and passed to the add_numbers() function

In [116]:
# methods : count() & index()

tup=(1,2,2,3,45,5,6,7,8,76,5,4,33,2,3,4,5,5,)
print(tup)
print(tup.count(5))

print('*'*90)
print(tup.index(76))

(1, 2, 2, 3, 45, 5, 6, 7, 8, 76, 5, 4, 33, 2, 3, 4, 5, 5)
4
******************************************************************************************
9

In [117]:
# Try assigning values to tuples
# tup[0] = 'grapes'
# TypeError: 'tuple' object does not support item assignment

## Set

1. set is **unordered collection of elements** i.e sequence will be change after execution
2. **index concept is not applicable**
3. it is **mutable** (you can change the element or add the elements in set)
4. it is **growable**
5. set items are **unchangeable** due to don't know indexing of elements
6. **{ }** are used to represent set
7. **duplicates are not allowed**

Available methods for set is:
1. s.copy()
2. s.difference()
3. s.intersection()
3. s.isdisjoint()
4. s.issubset()
5. s.issuperset()
6. s.symmetric_difference()
7. s.union()

In [118]:
s1={1,2,3,4,'vaibhav','akash','pradip'}
print(type(s1))

print(s1)

<class 'set'>
{1, 2, 3, 4, 'akash', 'pradip', 'vaibhav'}

In [119]:
print(len(s1))

7

In [120]:
s = {1,2,3,"sai","kaviraj","chetan",70.1}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 'sai', 'chetan', 70.1, 'kaviraj'}

In [121]:
print(len(s))

7

In [122]:
# set() constructor (by using list and tuple)

set1=set(["apple","banana","cherry"]) # using list
print(set1)
print(type(set1))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [123]:
set2=set((1,"nana","appa",90.10)) # using tuple
print(set2)
print(type(set2))

{'nana', 1, 'appa', 90.1}
<class 'set'>

In [124]:
# accessing set
print(set2)
val= "banana" in set2
print("banana is present in set2 ? >>",val)
print("appa is present in set2 ? >>","appa" in set2)

{'nana', 1, 'appa', 90.1}
banana is present in set2 ? >> False
appa is present in set2 ? >> True

In [125]:
# once set is created we can not change element's value
# but we can add values
print(set2)
set2.add("mango")
print(set2)

{'nana', 1, 'appa', 90.1}
{'mango', 1, 'appa', 'nana', 90.1}

In [126]:
# duplicates are not allowed
print(set2)
set2.add("appa") # appa is already in set so will not be add
print(set2)

{'mango', 1, 'appa', 'nana', 90.1}
{'mango', 1, 'appa', 'nana', 90.1}

In [127]:
# using update you can add any iterable items 
# iterable items like: set, list,tuple, dict-keys

s1={1, 2, 11.1, 22.2, "shree", "ganesh"}
s2={10, 20, 33.3, 44.4, "hare", "krishna"}
s3={100, 200, 55.5, 66.6, "hare", "rama"}

print("s1 :",s1)
print("s2 :",s2)
print("s3 :",s3)
print('*'*100)

s1.update(s2)
print("1st updated s1 :",s1)
print('*'*100)

s1.update(s3)
print("2nd updated s1 :",s1)
print('*'*100)

s1 : {'shree', 1, 2, 'ganesh', 22.2, 11.1}
s2 : {33.3, 'hare', 20, 10, 44.4, 'krishna'}
s3 : {66.6, 100, 'hare', 55.5, 200, 'rama'}
****************************************************************************************************
1st updated s1 : {'shree', 1, 2, 33.3, 'hare', 'ganesh', 10, 11.1, 44.4, 'krishna', 20, 22.2}
****************************************************************************************************
2nd updated s1 : {'shree', 1, 2, 33.3, 'hare', 66.6, 'ganesh', 100, 200, 10, 11.1, 44.4, 'krishna', 20, 22.2, 55.5, 'rama'}
****************************************************************************************************

In [128]:
# remove(), discard(), pop()

# remove() method >> raise an error if element not present
print("Remove using remove() :\n",set1)
print('*'*90)
set1.remove('banana')
print(set1)

Remove using remove() :
 {'banana', 'cherry', 'apple'}
******************************************************************************************
{'cherry', 'apple'}

In [129]:
# discard() method >> method does not raise an error if element not present
set1.discard("apple")
print(set1)

{'cherry'}

In [130]:
# pop() method >> Remove and return an arbitrary(randomly) set element
# is set is empty pop() will create an error
set1.pop()
print(set1)

set()

In [131]:
# union method()

# adds elements of two sets and create new set
s1={1,2,3,4}
s2={3,4,5,6,7}

print(s1)
print(s2)

new_set=s1.union(s2) # union does not allow duplicates
print(new_set)

# update method work for union only but adds element to calling set

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [132]:
# intersection() method >> Return the intersection of two sets as a new set.
# (i.e. all common elements that are in both sets.)

print(s1)
print(s2)
s3={1,2,10,20,30}
intr=s1.intersection(s2) # requires new variable for return result
print("intersection :\n",intr)

s1.intersection_update(s3) # Update a set with the intersection of itself and another.i.e keeps common elements and remove all others
print("intersection update :\n",s1)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
intersection :
 {3, 4}
intersection update :
 {1, 2}

In [1]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1)
print(set2)

# difference: return new set with element which are not present in another set
sd1=set1.difference(set2)
print('difference of set1 and set2:',sd1)
sd2=set2.difference(set1)
print("difference of set2 and set1:",sd2)


# symmetric_difference : return new set with elements present in s1 but not in set2 and viceversa
syd=set1.symmetric_difference(set2)
print("symmetric_difference:",syd)


# symmetric_difference_update : update a set with symmetric_differnece iteself and another
sdu=set1.symmetric_difference_update(set2)
print("symmetric_difference_update :",set1)
print("set1:",set1)
print("set2:",set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
difference of set1 and set2: {1, 2, 3}
difference of set2 and set1: {8, 6, 7}
symmetric_difference: {1, 2, 3, 6, 7, 8}
symmetric_difference_update : {1, 2, 3, 6, 7, 8}
set1: {1, 2, 3, 6, 7, 8}
set2: {4, 5, 6, 7, 8}

    symmetric_difference : keep elements which are not present in another set
        1. s1={1,2,3,4,5,6}
        2. s2={3,5,7,8,9}

        output: s1 and s2 = {1,2,4,6} + {7,8,9}

In [133]:
# symmetric_difference() 
## >> return new set with elements which are present in s1 not in s2 + present in s2 but not in s1

s1={1,2,3,4,5,6}
s2={3,5,7,8,9}

print(s1)
print(s2)
print('*'*90)

res=s1.symmetric_difference(s2)
print("symmetric_difference :\n",res)

{1, 2, 3, 4, 5, 6}
{3, 5, 7, 8, 9}
******************************************************************************************
symmetric_difference :
 {1, 2, 4, 6, 7, 8, 9}

In [134]:
# difference() 
# >> returns new set with elements present in s_1 but not in s_2 and vice versa

res1=s1.difference(s2)
print("difference :\n",res1)
res11=s2.difference(s1)
print("difference :\n",res11)

difference :
 {1, 2, 4, 6}
difference :
 {8, 9, 7}

###### isdisjoint() : Returns whether two sets have a intersection or not
     
          isdisjoint() is a set method in Python that is used to check whether two sets have any common elements or not.It returns True if the two sets have no common elements, and False if there are common elements.

In [2]:
s = {1,2,3,4,5,6} 
s1 = {44,45,46}

print(s.isdisjoint(s1))
print("s :",s)
print("set1 :",s1)

True
s : {1, 2, 3, 4, 5, 6}
set1 : {44, 45, 46}

###### issubset() >> Returns whether another set contains this set or not

In [4]:
s = {1,2,3,4,5,6} 
s1 = {4,5,6}

print(s.issubset(s1))
print("s :",s)
print("set1 :",s1)

False
s : {1, 2, 3, 4, 5, 6}
set1 : {4, 5, 6}

In [137]:
print(s1.issubset(s))
print("s :",s)
print("set1 :",s1)

True
s : {1, 2, 3, 4, 5, 6}
set1 : {4, 5, 6}

In [5]:
# issubset : true > if set2 is present at set1 else false
set1={1,2,3,4,5,6,7,8}
set2={4,5,6,7,8}
print(set1)
print(set2)
val=set1.issubset(set2)
print('set1.issubset(set2):',val)
val2=set2.issubset(set1)
print('set1.issubset(set2):',val2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
set1.issubset(set2): False
set1.issubset(set2): True

###### issuperset() : Returns whether this set contains another set or not

In [3]:
print(s.issuperset(s1))
print("s :",s)
print("s1 :",s1)

False
s : {1, 2, 3, 4, 5, 6}
s1 : {44, 45, 46}

In [6]:
# isuperset : true > if set1 elements in set2  else false
set1={1,2,3,4,5,6,7,8}
set2={4,5,6,7,8}
print(set1)
print(set2)
val=set1.issuperset(set2)
print('set1.issuperset(set2):',val)
val2=set2.issuperset(set1)
print('set2.issuperset(set1):',val2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
set1.issuperset(set2): True
set2.issuperset(set1): False

In [139]:
# del and clear() method removes the set completely

# uncomment to run it and see result
# print(s1)
# del s1
# print(s1)

In [140]:
print(s)
# s[0]=100 # index concept is not applicable
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

## Frozenset

1. **frozen set is same as set but it is immutable**
  > Once a frozenset object is created, **its elements cannot be added or removed**, because frozenset objects are immutable and their elements cannot be modified.

# frozen_set = frozenset({1, 2, 3})
# frozen_set.add(4) # This will raise an AttributeError

Since frozenset objects are immutable, they can be used as keys in a dictionary or as elements of another set. For example:

In [141]:
my_dict = {frozenset({1, 2}): 'value'}
print(my_dict[frozenset({1, 2})]) # Output: 'value'
print('*'*100)

my_set = {frozenset({1, 2}), frozenset({3, 4})}
print(my_set) # Output: {frozenset({1, 2}), frozenset({3, 4})}

value
****************************************************************************************************
{frozenset({3, 4}), frozenset({1, 2})}

In [142]:
# frozen set is same as set but it is immutable

print(s)
print(type(s))
fs = frozenset(s)
print(fs)
print(type(fs))
# supported methods for frozen set

new_fs = fs.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''
print(new_fs)
print(type(new_fs))

{1, 2, 3, 4, 5, 6}
<class 'set'>
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

## Dictionary

1. stores data in **key-value pair**
2. it is **ordered (from python version3.7 dictionaries are ordered)**
3. **duplicates are not allowed (keys), but duplicate values are allowed**
4. it is changeable
5. items are reffered by using key
6. { } are used to write dictionaries

###### dictionary creation

In [143]:
d = {
    1: 'Digvi',
    2: 'Abhi',
    3: "Shourya",
    4: "Sachin"
    }

print(d)
print(type(d))

{1: 'Digvi', 2: 'Abhi', 3: 'Shourya', 4: 'Sachin'}
<class 'dict'>

In [144]:
dict1 = {
    'name' : 'Digvijay',
    'mobile' : 1234567891,
    'address' : 'sangli',
    'job' : 'Data Scientist',
    'salary' : 1000000,
    'salary' : 10000
    }

print(dict1)
print(type(dict1))

{'name': 'Digvijay', 'mobile': 1234567891, 'address': 'sangli', 'job': 'Data Scientist', 'salary': 10000}
<class 'dict'>

In [145]:
stud = {
    'roll_no' : 10,
    'name' : 'Akashay',
    'class' : 'TE',
    'marks' : 89.90   
       }

print(stud) # set/dictionary are unordered from python version 3.7


l=[10,5,4,2,25] # list,tuple are ordered
print(l)

# acess the elements
val = stud['name']
print(val)

print(stud['marks'])

{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9}
[10, 5, 4, 2, 25]
Akashay
89.9

### Acess

In [146]:
# 1. directly acess using key
# 2. using get method

In [147]:
print(d)

{1: 'Digvi', 2: 'Abhi', 3: 'Shourya', 4: 'Sachin'}

In [148]:
# directly acess using key
print(d[1])
print(d[2])
print(d[3])
print(d[4])

Digvi
Abhi
Shourya
Sachin

In [149]:
# using get method
print("acess dicts using get() method :")
print(d.get(1))
print(d.get(3))

acess dicts using get() method :
Digvi
Shourya

In [150]:
# acess all the keys of dictionary
print(stud)
print("keys :\n")
print(stud.keys())

{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9}
keys :

dict_keys(['roll_no', 'name', 'class', 'marks'])

In [151]:
# acess all the values of dictionary
print("Values :")
print(stud.values())

Values :
dict_values([10, 'Akashay', 'TE', 89.9])

In [152]:
# add new item
print(stud)

stud['last_name']='mohite'

stud['city']='Pune'

stud['mobile']=9988776655

print(stud)

{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9}
{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655}

In [153]:
print(stud.keys())

dict_keys(['roll_no', 'name', 'class', 'marks', 'last_name', 'city', 'mobile'])

In [154]:
print(len(stud.keys()))

7

In [155]:
# acess key-value pair directly from dictionary

print(stud)
print('*'*90)
print(stud.items())

{'roll_no': 10, 'name': 'Akashay', 'class': 'TE', 'marks': 89.9, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655}
******************************************************************************************
dict_items([('roll_no', 10), ('name', 'Akashay'), ('class', 'TE'), ('marks', 89.9), ('last_name', 'mohite'), ('city', 'Pune'), ('mobile', 9988776655)])

In [156]:
# change value

print(stud.items())

dict_items([('roll_no', 10), ('name', 'Akashay'), ('class', 'TE'), ('marks', 89.9), ('last_name', 'mohite'), ('city', 'Pune'), ('mobile', 9988776655)])

In [157]:
stud['class']='BE'
stud['marks']=91.0

In [158]:
print(stud.items())

dict_items([('roll_no', 10), ('name', 'Akashay'), ('class', 'BE'), ('marks', 91.0), ('last_name', 'mohite'), ('city', 'Pune'), ('mobile', 9988776655)])

In [159]:
# update() >> here we are updating direct dictionary

print(stud)
print('*'*90)
stud.update({
    'subject':'Maths',
    'email' : 'a@b.com'
})
print(stud)

{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655}
******************************************************************************************
{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655, 'subject': 'Maths', 'email': 'a@b.com'}

In [160]:
# remove items

print(stud)
stud.pop('email')
print(stud)

{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655, 'subject': 'Maths', 'email': 'a@b.com'}
{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655, 'subject': 'Maths'}

In [161]:
print(stud)
stud.popitem() # will pop single key-values pair
print(stud)

{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655, 'subject': 'Maths'}
{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655}

In [162]:
# del 
# >> del can remove items as well as dictionary

d={
    1:'a',
    2:'b',
    3:'c'
}

print(d)
del d[1]
print(d)

{1: 'a', 2: 'b', 3: 'c'}
{2: 'b', 3: 'c'}

In [163]:
# del d
# print(d) NameError: name 'd' is not defined

In [164]:
# clear()
# >> '''clear() method and del keyword are used to remove and empty the dict'''

dd={
    1:'a',
    2:'b',
    3:'c'
}

print(dd)
dd.clear()
print(dd)

{1: 'a', 2: 'b', 3: 'c'}
{}

In [165]:
# copy dictionary

d=dd # this is reference to your d not copy of dd
print(d)
print(dd)

{}
{}

In [166]:
d['mobile']=1122334455

In [167]:
print(d)

{'mobile': 1122334455}

In [168]:
# copy() method
print(stud)
print("*"*90)
stud2=stud.copy()
stud2['random']='val'
print(stud)
print(stud2)

{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655}
******************************************************************************************
{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655}
{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655, 'random': 'val'}

In [169]:
# dict() for copy

stud3=dict(stud)
print(stud3)

{'roll_no': 10, 'name': 'Akashay', 'class': 'BE', 'marks': 91.0, 'last_name': 'mohite', 'city': 'Pune', 'mobile': 9988776655}

In [170]:
# nested dictionary

In [171]:
grandson = {
    'g_name':'grans_son_name'
}


son = {
    's_key' : grandson,
    's_name': 'son_name'
}


parent = {
    'p_key':son,
    'p_name':'Parent_name'
}


family ={
    'f_key':parent,
}

print(family)

{'f_key': {'p_key': {'s_key': {'g_name': 'grans_son_name'}, 's_name': 'son_name'}, 'p_name': 'Parent_name'}}

In [172]:
family['f_key']['p_name']

'Parent_name'

In [173]:
list_n=['sai','kaviraj',family ]
print(list_n)

['sai', 'kaviraj', {'f_key': {'p_key': {'s_key': {'g_name': 'grans_son_name'}, 's_name': 'son_name'}, 'p_name': 'Parent_name'}}]

In [174]:
list_n[2]['f_key']['p_key']['s_key']['g_name']

'grans_son_name'

In [175]:
# access parent dictionary
family['f_key']

{'p_key': {'s_key': {'g_name': 'grans_son_name'}, 's_name': 'son_name'},
 'p_name': 'Parent_name'}

In [176]:
# access child dictionary
family['f_key']['p_key']

{'s_key': {'g_name': 'grans_son_name'}, 's_name': 'son_name'}

In [177]:
# acess grand child
family['f_key']['p_key']['s_key']

{'g_name': 'grans_son_name'}

In [178]:
family['f_key']['p_key']['s_key']['g_name']

'grans_son_name'

## Operators

Python Opeartors:
     
     1. Arithmatic opeartors
     2. Assignment opeartors
     3. Comparision opeartors
     4. Logical operators
     5. Identity opeartors
     6. Membership opeartors
     7. Bitwise operators

###### 1. Arithmatic operators

     1. +  addition x+y
     2. -  subtraction x-y
     3. *  Multiplication x*y
     4. /  Division x/y
     5. %  Modulus x%y # Remider after division
     6. ** Exponentiation x**y
     7. // Floor division x//y

In [179]:
# addition
print('<< Addition >>')
var1 = 10.20
var2 = 20.20
res = var1 + var2
print('sum :\t',res)

<< Addition >>
sum :	 30.4

In [180]:
# substraction
print('<< Subtraction >>')
var1 = 10.20
var2 = 20.20
res = var1 - var2
print('sub :\t',res)

<< Subtraction >>
sub :	 -10.0

In [181]:
# Multiplication
print('<< Multiplication >>')
var1 = 10.20
var2 = 20.20
res = var1 * var2
print('mul :\t',res)

<< Multiplication >>
mul :	 206.04

In [182]:
# Division
print('<< Division >>')
var1 = 10.20
var2 = 20.20
res = var1 / var2
print('div :\t',res)

<< Division >>
div :	 0.504950495049505

In [183]:
# Modulus 
print('<< Modulus >>') # Remider after division
var1 = 10
var2 = 20
res = var1 % var2
print('mod :\t',res)

<< Modulus >>
mod :	 10

In [184]:
# Exponential
print('<< Exponent >>') 
var1 = 10
var2 = 2
res = var1 ** var2
print('exp :\t',res)

<< Exponent >>
exp :	 100

In [185]:
# Floor Division
print('<< Floor Division >>') 
var1 = 4.5
var2 = 2
res = var1 // var2
print('floor div :\t',res)

<< Floor Division >>
floor div :	 2.0

###### 2. Assignment operator

     1. x +=  10  >> x = x +  10
     2. x -=  10  >> x = x -  10
     3. x *=  10  >> x = x *  10
     4. x /=  10  >> x = x /  10
     5. x %=  10  >> x = x %  10
     6. x **= 10  >> x = x ** 10
     7. x //= 10  >> x = x // 10

In [186]:
var = 55
print(var)
var += 10 # x = x + 10
print(var)

55
65

In [187]:
print(var)
var -= 10 # x = x - 10
print(var)

65
55

In [188]:
print(var)
var *= 10 # x = x * 10
print(var)

55
550

In [189]:
print(var)
var /= 5 # x = x / 10
print("550/5 :",var)

550
550/5 : 110.0

In [190]:
print(var)
var %= 9 # x = x % 10
print("110 % 9:",var)

110.0
110 % 9: 2.0

In [191]:
print(var)
var **= 3 # x = x ** 10
print(var)

2.0
8.0

In [192]:
var1=99.99
print(var1)
var1 //= 3 # x = x // 10
print(var1)

99.99
33.0

In [193]:
x = 22
print("Initial val of x is :", x)
x += 10 # x = x + 10
print("After (10) addition :", x)
x -= 5 # x = x - 5
print("After (5) subtraction :",x)
x **= 2 # x = x ** 2
print('After (2) exponent :',x)

Initial val of x is : 22
After (10) addition : 32
After (5) subtraction : 27
After (2) exponent : 729

###### 3. comparision operator

    1. Equal to              >> a==b
    2. Not equal to          >> a!=b
    3. Greater than          >> a>b
    4. Smaller than          >> a<b
    5. Greater than equal to >> a>=b
    6. Smaller than equal to >> a<=b

In [194]:
a = 20
b = 10

print(a == b)

print(a != b)

print(a > b)

print(a < b)

print(a >= b)

print(a <= b)

False
True
True
False
True
False

###### 4. Logical operator

1. **and** 	>> Returns True if both statements are true		
2. **or**	>> Returns True if one of the statements is true	

3. **not**	>> Reverse the result, returns False if the result is true

In [195]:
# and operator

In [196]:
x < 5 and  x < 10

False

In [197]:
# or operator

In [198]:
x < 5 or x < 4

False

In [199]:
var1=10
var2=5
print(var1<5 or var2>10)

False

In [200]:
# not operator

In [201]:
not(x < 5 and x < 10)

True

In [202]:
var1=10
var2=5
print(not(var1>5 or var2<10)) # reverse the result
print(not(var1<5)) # reverse the result

False
True

# Example : Dist- above 75 %, 1st - above 67 to less than equal 75

In [203]:
print("<< and operator >>")
score = 66
print(" (Score=66) Dictinction ? :",score > 67 )

print('*'*100)

print(" (Score=66) 1st class ? :",score > 67 and score <= 75)

print('*'*100)

print(" (Score=66) 2nd class ? :",score <= 67 and score > 58)

<< and operator >>
 (Score=66) Dictinction ? : False
****************************************************************************************************
 (Score=66) 1st class ? : False
****************************************************************************************************
 (Score=66) 2nd class ? : True

###### 5. Identity Operators

1. **is** >> Returns True if both variables are the same object		
2. **is not** >> Returns True if both variables are not the same object

In [204]:
x=10
y=9
x is y

False

In [205]:
x is not y

True

In [206]:
x = 20
y = 20

print("x id is:",id(x))
print("y id is:",id(y))
print(x is y)

x id is: 140726412961160
y id is: 140726412961160
True

In [207]:
x = 20.10
y = 20.10

print("x id is:",id(x))
print("y id is:",id(y))
print(x is not y)

x id is: 1754320394352
y id is: 1754320394704
True

###### 6. Membership Operators

1. **in** >> Returns True if a sequence with the specified value is present in the object	x in y	
2. **not in** >> Returns True if a sequence with the specified value is not present in the object

In [208]:
roll_no=[10,27,4,14,20]

print(roll_no)
print(" 2 in roll_no :", 2 in roll_no)
print(" 20 in roll_no :", 20 in roll_no)
print(" 27 in roll_no :", 27 in roll_no)

[10, 27, 4, 14, 20]
 2 in roll_no : False
 20 in roll_no : True
 27 in roll_no : True

######  7. Bitwise Operrators

1. **& (AND)**	>> Sets each bit to 1 if both bits are 1	e.g : x & y	
> Result bit 1,if both operand bits are 1;otherwise results bit 0.
2. **| (OR)** >> Sets each bit to 1 if one of two bits is 1	e.g : x | y	
> Result bit 1, if any of the operand bit is 1; otherwise results bit 0
3. **^ (XOR)** >> Sets each bit to 1 if only one of two bits is 1	e.g : x ^ y	
> Results bit 1,if any of the operand bit is 1 but not both, otherwise results bit 0.
4. **~ (NOT)** >> Inverts all the bits	e.g : ~x	
> inverts individual bits
>> For any integer n, bitwise complement of n will be -(n + 1)
>>>Decimal         Binary           2's complement 
   0            00000000           -(11111111+1) = -00000000 = -0(decimal)
   1            00000001           -(11111110+1) = -11111111 = -256(decimal)
   12           00001100           -(11110011+1) = -11110100 = -244(decimal)
   220          11011100           -(00100011+1) = -00100100 = -36(decimal)
   
5. **<< (Zerofill left shift)** : Shift left by pushing zeros in from the right and let the leftmost bits fall off e.g : x << 2	
> The left operands value is moved toward right by the number of bits specified by the right operand.
6. **>>	(Signed right shift)** >> Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off e.g : x >> 2
> The left operands value is moved toward left by the number of bits specified by the right operand.

                1. & :
                ex. 1 & 1 = 1
                    1 & 0 = 0
                    0 & 1 = 0
                    0 & 0 = 0
                 
                2. | :
                ex. 1 | 1 = 1
                    1 | 0 = 1
                    0 | 1 = 1
                    0 | 0 = 0
                    
                3. ^ :
                ex. 1 ^ 1 = 0
                    1 ^ 0 = 1
                    0 ^ 1 = 1
                    0 ^ 0 = 0
                    
                4. ~ :
                ex. 1 = 0
                    0 = 1
                    
                    >> For any integer n, bitwise complement of n will be -(n + 1)
                    >>Decimal         Binary           2's complement 
                       0            00000000           -(11111111+1) = -00000000 = -0(decimal)
                       1            00000001           -(11111110+1) = -11111111 = -256(decimal)
                       12           00001100           -(11110011+1) = -11110100 = -244(decimal)
                       220          11011100           -(00100011+1) = -00100100 = -36(decimal)
                       
                       
                       11111110  11111111
                       +      1  +      1
                       ........  ........
                       11111111 100000000 = -0 (1=-, 0=+)
                       
                    >> The four rules of binary addition are: 0 + 0 = 0 0 + 1 = 1 1 + 0 = 1 1 + 1 =10
                
                5. << :
                ex.  Left shift by 2 bits <<
                                      0 0 1 = 1
                                  0 0 1 0 0 = 4
                                      
                                      1 1 1 = 7
                                  1 1 1 0 0 = 28 (16+8+4=28)
                                  
                6. >> :
                ex. Right shift by 2 bits >> 
                                      0 0 1 = 1
                                      0 0 0 = 0 (both 0 & 1 are foll down i.e delete)
                                      
                                      1 1 1 = 7
                                      0 0 1 = 1 (both 1 are foll down i.e delete)
                                  
                                  
                                  
                
                   256 128 64 32 16 8 4 2 1 
                                      0 0 0 = 0
                                      0 0 1 = 1
                                      0 1 0 = 2
                                      0 1 1 = 3
                                      1 0 0 = 4
                                      1 0 1 = 5
                                      1 1 0 = 6
                                      1 1 1 = 7
                                      
                          Left shift by 2 bits <<
                                      0 0 1 = 1
                                  0 0 1 0 0 = 4
                                      
                                      1 1 1 = 7
                                  1 1 1 0 0 = 28 (16+8+4=28)
                                  
                          Right shift by 2 bits >> 
                                      0 0 1 = 1
                                      0 0 0 = 0 (both 0 & 1 are foll down i.e delete)
                                      
                                      1 1 1 = 7
                                      0 0 1 = 1 (both 1 are foll down i.e delete)

In [209]:
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x & y    # 1 0 0 = 4
print("Bitwise and ")
print(z)

Bitwise and
4

In [210]:
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x | y    # 1 0 1 = 5
print('Bitwise or')
print(z)

Bitwise or
5

In [211]:
print('Bitwise XOR')
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x ^ y    # 0 0 1 = 1
print(z)

Bitwise XOR
1

In [212]:
print('Bitwise NOT')
x = 4       # 1 0 0   [(4 * -1) -1]
z = ~x      # 0 1 1
            # +   1   The four rules of binary addition are: 0 + 0 = 0 0 + 1 = 1 1 + 0 = 1 1 + 1 =10
            # 1 0 0      
print(~x)

Bitwise NOT
-5

In [213]:
x = 1
z = x << 2
print("Left Shift:")
print(z)

print("*"*90)

x = 7
z = x << 2
print("Left Shift:")
print(z)

Left Shift:
4
******************************************************************************************
Left Shift:
28

In [214]:
x = 1
z = x >> 2
print("Right Shift:")
print(z)

x = 7
z = x >> 2
print("Right Shift:")
print(z)

Right Shift:
0
Right Shift:
1

In [215]:
print("\n",oct(x))
print("\n",hex(x))

 0o7

 0x7

## Conditional Statements & Loops

    Conditional statements :
    1. if ... else
    2. if ...elif...else
    
    loops :
    3. while loop 
    4. for loops

syntax:
       
        if <condition> :
            print("when condition is true")
            statement-1
            statement-2
            statement-3
        else:
            print("when condition is false")
            statement-1
            statement-2
            statement-3

In [216]:
# a>b
x=100
y=20

# find largest number
if x < y :
    print('x is less than y')

else:
    print("x is greater than y")

x is greater than y

In [217]:
# a>b, a==b, a<b

a= 200
b= 1.1

if a<b:
    print("A is smaller than B")
elif a>b:
    print('A is greater than B')
elif a!=b:
    print("A and B are not equal")
elif a==b:
    print('A and B are equal')
else:
    print('Other')

A is greater than B

In [218]:
x= 200
y= 20

if x<y:
    print("y is greater than x")
elif x==y:
    print('x and y are equal')
else:
    print('x is greater than y')

x is greater than y

In [219]:
# shaort hand(one line) if a > b: print("a is greater than b")

x = 100
y = 90

if y > x: print("y is greater number")

In [220]:
x = 100
y = 900

if y > x: print("y is greater number")

y is greater number

In [221]:
# short hand(one line) if else print("A") if a > b else print("B") 

x = 10000
y = 20000

print("x is greater") if x > y else print("y is greater")

y is greater

In [222]:
# how to take input from user
val = 99
# val = input("Enter your percentage of marks :")
val_2 = float(val)
if val_2 > 75:
    print("You have ditinction...!")
elif val_2 > 60 and val_2 <= 75:
    print("You have first class...!")
else:
    print('Opps..! You are fail')

Enter your percentage of marks :20
Opps..! You are fail

In [223]:
# nested if .. else

x = 150
if x > 100:
    if x > 150:
        print("Number is greater than 100 and 150")
    elif x ==150:
        print("Number is equal to 150")
    else:
        print("number is greater than 100 and less than 150")
elif x == 100:
    print("Number is equal to 100")
else:
    print("Number is less than 100")

Number is equal to 150

In [224]:
# pass staement

x = 10
y = 20

if y > x:
    pass

### while loop

        syntax:
                while (condition):
                        statement-1
                        statement-2
                        statement-3

In [225]:
# print series of numbers
x = 1
while x<=10:
    print("x :",x)
    x = x + 1

x : 1
x : 2
x : 3
x : 4
x : 5
x : 6
x : 7
x : 8
x : 9
x : 10

In [226]:
# break statement
# >> break statement is a control statement used to exit a loop prematurely

x=1
while x <= 20:
    print(x)
    if x == 10:
        break
    x = x + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# continue statement
# used to skip perticular iteration and continue from next iteration

x=0

while x<=10:
    
    if x==5 or x==9:
        x+=1
        print("Continue operation done")
        continue
        
    print(x)
    x+=1

In [238]:
x=1

while x<=20:
    
    if x==10:
        x+=1
        print("Continue operation done")
        continue
                
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
Continue operation done
11
12
13
14
15
16
17
18
19
20

In [243]:
# else below while

x = 0
while x < 19:
    
    if x == 15:
        x += 1
        print("continue opeartion done")
        continue
                
    print(x)
    x += 1
    
else:
    print("There is no more statement to execute")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
continue opeartion done
16
17
18
There is no more statement to execute

In [248]:
# while on list and tuple

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)
print('*'*100)
print("while on List :")

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
****************************************************************************************************
while on List :
mango
cherry
papaya
bluberry
apple
banana

In [250]:
tup = ["mango","cherry","papaya","bluberry","apple","banana"]

print(tup)

print("while on Tuple :")

x = 0
while x < len(tup):
    print(tup[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on Tuple :
mango
cherry
papaya
bluberry
apple
banana

#### Foor loop

for loop used to iterates over a list, tuple, set, dict and string

In [252]:
# list

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)
print('*'*100)
print("for on list :")

for x in list1:
    print(x)

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
****************************************************************************************************
for on list :
mango
cherry
papaya
bluberry
apple
banana

In [253]:
# String

str1 = "This is pythoin"

print(str1)

print("for on str1:-")

for x in str1:
    print(x)

This is pythoin
for on str1:-
T
h
i
s

i
s

p
y
t
h
o
i
n

In [254]:
# Tuple

tup = ("mango","cherry","papaya","bluberry","apple","banana")

print(tup)

print("for on Tuple:-")

for x in tup:
    print(x)

('mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana')
for on Tuple:-
mango
cherry
papaya
bluberry
apple
banana

In [255]:
# Dict

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
    
}

print(dict1)

{'name': 'Nitn', 'mobile': 9975923975, 'address': 'sangola', 'job': 'Data', 'salary': 550000.2, 1: 10000}

In [256]:
print("for on dict printing keys:")
for x in dict1:
    print(x)

for on dict printing keys:
name
mobile
address
job
salary
1

In [257]:
print("for on dict printing keys:")
for x in dict1.keys():
    print(x)

for on dict printing keys:
name
mobile
address
job
salary
1

In [258]:
print("for on dict printing values:")
for x in dict1.values():
    print(x)

for on dict printing values:
Nitn
9975923975
sangola
Data
550000.2
10000

In [259]:
print("for on dict printing values:")
for x,y in dict1.items():
    print("(",x,",",y,")")

for on dict printing values:
( name , Nitn )
( mobile , 9975923975 )
( address , sangola )
( job , Data )
( salary , 550000.2 )
( 1 , 10000 )

In [260]:
# set

set1 = {"mango","cherry","papaya","bluberry","apple","banana"}

print(set1)

print("for on set:-")

for x in set1:  # randomly takes as per set property
    print(x)

{'mango', 'papaya', 'cherry', 'banana', 'apple', 'bluberry'}
for on set:-
mango
papaya
cherry
banana
apple
bluberry

### range 

The range() function in Python is used to generate a sequence of numbers within a specified range. The function takes up to three arguments:
range(start, stop[, step])

returns a sequence of numbers , starting from 0 by default and increments by 1 (bydefault), and ends at a specified number

In [261]:
#for i in range(10):

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [262]:
# range(20,30)- starting from 20, to 29, exclude 30

for i in range(20,30):
    print(i)

20
21
22
23
24
25
26
27
28
29

In [263]:
# range(10,100,5)

for i in range(100,200,10):
    print(i)

100
110
120
130
140
150
160
170
180
190

In [264]:
# else in for

for i in range(100,200,10):
    print(i)
else:
    print("There is nothing to print in for now")

100
110
120
130
140
150
160
170
180
190
There is nothing to print in for now

In [265]:
# take two list or tuples and use nested for loop

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

for i in list1:
    for j in list2:
        print(i, j)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [271]:
# wrinting and removing every third element from a list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

i = 2 # starting index for removal, since indices start at 0

while i < len(my_list):
    del my_list[i]
    i += 2 # increment by 2 to skip the next element that was shifted left

print("Removed every 3rd element from list :",my_list)

Removed every 3rd element from list : [1, 2, 4, 5, 7, 8]

In [272]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

i = 2 # starting index for removal, since indices start at 0

removed = []

while i < len(my_list):
    removed.append(my_list.pop(i))
    i += 2 # increment by 2 to skip the next element that was shifted left

print("My list after removals:", my_list)
print("Removed elements:", removed)

My list after removals: [1, 2, 4, 5, 7, 8]
Removed elements: [3, 6, 9]

### Function

Function is a block of statement which will get executed when we call that function (Function is block of code that performs a perticular task)

unless and untill when you call that function it will not perform perticular task

syntax:

def function_name():  # def is defination of function
    statement-1
    statement-2
    statement-3

In [276]:
def display():
    print("This is inside my function")

In [277]:
# calling the function
display()

This is inside my function

In [278]:
print("statement above function")

def display():
    print("This is inside my function")

display()

statement above function
This is inside my function

In [279]:
print('Here this is normal execution block')

def Myfun():
    print('I am inside the function..!')
    
print('Calling my function')
Myfun()
print('Function execution is over')

Here this is normal execution block
Calling my function
I am inside the function..!
Function execution is over

In [280]:
def add():
    x = int(input("Enter 1st Number"))
    y = int(input("Enetr 2nd Number"))
    sum = x + y
    print("The addition is",sum)

add()

Enter 1st Number1000
Enetr 2nd Number1000
The addition is 2000

In [283]:
# Argument in function

def display(name): # argument = name
    print(name)
    
display('Digvijay')
display('Abhimanyu')
display('Shourya')
print('*'*100)

myname='Digvijay Mohite'   
display(myname)

Digvijay
Abhimanyu
Shourya
****************************************************************************************************
Digvijay Mohite

In [285]:
# passing two arguments to function

def add(a,b):
    addition=a+b
    print('The sum is :',addition)
    
x = float(input('enter first number'))
y = float(input('enter second number'))

add(x,y)

enter first number9197.4734779
enter second number84747.6574383
The sum is : 93945.1309162

In [286]:
# return values

def Mul(x,y):
    res = x * y
    return res # difference

print("Do addition using function:")
a = 100
b = 100

result = Mul(a,b) # a is store in x / b is store in y
print("Multiplication is :",result)

Do addition using function:
Multiplication is : 10000

In [291]:
def register_student():
    name = input('Enter name :')
    sname = input('Enter surname :')
    tenth = float(input('Enter 10th percentage :'))
    twelth = float(input('Enter 12th percentage :'))
    mobile = int(input('Enter mobile number :'))
    print('*'*100)
    
    print(name,"\n",sname,"\n",tenth,"\n",twelth,"\n",mobile)
    print("$"*100)
    
for i in range(0,5):
    register_student()

Enter name :Digvi
Enter surname :Mohite
Enter 10th percentage :65.86
Enter 12th percentage :74.73
Enter mobile number :9175535381
****************************************************************************************************
Digvi
 Mohite
 65.86
 74.73
 9175535381
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Enter name :sachin
Enter surname :mohite
Enter 10th percentage :70
Enter 12th percentage :98
Enter mobile number :987654321
****************************************************************************************************
sachin
 mohite
 70.0
 98.0
 987654321
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Enter name :abhimanyu
Enter surname :mohite
Enter 10th percentage :888
Enter 12th percentage :999
Enter mobile number :65565631969
****************************************************************************************************
abhimanyu
 mohite
 888.0
 999.0
 65565631969
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Enter name :shourya
Enter surname :mohite
Enter 10th percentage :977
Enter 12th percentage :989
Enter mobile number :996769769
****************************************************************************************************
shourya
 mohite
 977.0
 989.0
 996769769
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Enter name :Atharv
Enter surname :mohite
Enter 10th percentage :889
Enter 12th percentage :9887
Enter mobile number :818872727
****************************************************************************************************
Atharv
 mohite
 889.0
 9887.0
 818872727
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [11]:
# Unknown Parameters
# Sometimes there may be the case where you dont know the parameters
# "*": indicates we dont know the parameters

def my_function(*letter):
    print("This letter at 2nd loc is :",letter)
    print('The letter at 2nd loc is :',letter[3])
    
my_function('A','B','C','D')

This letter at 2nd loc is : ('A', 'B', 'C', 'D')
The letter at 2nd loc is : D

In [14]:
def display(*letter):
    print(letter)
display('A','B','C')

('A', 'B', 'C')

In [15]:
def display(*letter):
    print('Printing all parameters :',letter)
    l =len(letter)
    print('No of parameter are :',l)
    for x in letter:
        print(x)
        
display('C','H','A','T','R','A','P','A','T','I')

Printing all parameters : ('C', 'H', 'A', 'T', 'R', 'A', 'P', 'A', 'T', 'I')
No of parameter are : 10
C
H
A
T
R
A
P
A
T
I

In [17]:
# ARGUMENT AS KEY VALUE PAIR WHERE ORDER DOES NOT MATTER

def my_function(child2,child1,child4,child3):
    print('The first youngest child is :',child4)
#     print('The sencond youngest child is:',child3)
#     print('The third youngest child is:',child2)
#     print('The fourth yougnest child is:',child1)
    
my_function(child4='Amey',child3='Abhimanyu',child2='Atharv',child1='Shourya')

The first youngest child is : Amey

In [18]:
def display(val1,val3,val2):
    print('The third value is:',val3)
    
display(val2=200,val3=300,val1=100)

The third value is: 300

In [21]:
# if dont know number of para then add ** before identifier
# "**" : indicate no. of para dont know

def my_function(**name): 
    print('His name is :',name)
    print("His last name is ",name['lname'])

my_function(fname = "Sachin", lname = "Mohite")

His name is : {'fname': 'Sachin', 'lname': 'Mohite'}
His last name is  Mohite

In [24]:
# Default value to parameter

def AltEmail(email='default@email.com'):
    print("Alternate email is : ",email)

print("Alternate email of student :")

AltEmail("abc@gmail.com")
AltEmail('digvi@email.com')

Alternate email of student :
Alternate email is :  abc@gmail.com
Alternate email is :  digvi@email.com

# write a program to swap any two values from a list using function swap()
input : list1=[1,2,3,4,5,8,10]
output :list2=[1,2,10,4,5,8,3]

12.pass list as argument and get the sum of list
list1=[1,2,3,7,4,5,8,10]

13. pass tuple and count number of elemnt in tuple
tup=(1,2,3,7,4,5,8,10)

### Lambda Function

1. lambda is a small anonymous function

2. lambda function can take any number of arguments, but can only have one expression

syntax: lambda arguments : expression
    
why lambda?

Lambda is anonymous and small function but it is very powerful. we can know its power if we use it inside other function

In [25]:
# example : a lambda function which takes an argument and returns a square of  that number 

square = lambda a: a ** 2

print("Square of 4 is: ")
print(square(4))

print("Square of 10 is: ")
square(10)

Square of 4 is:
16
Square of 10 is:

100

In [27]:
# Any number of arguments

add = lambda a,b,c,d : a + b + c + d

print("Add four numbers: 12,13,40 and 15 >> Sum is:")

add(12,13,40,15)

Add four numbers: 12,13,40 and 15 >> Sum is:

80

# why lambda is powerful?

In [31]:
# why lambda is powerful?
# >> use it lambda inside another function


# lets understand that it is added with some other unknown number

def myfun(n):
    print('value of N is :',n)
    
    return (lambda a : a * n)

# add 10 with other number which is unknown
# myfunc(10) # this will not give any result as it will be multiplied with none
# now call our lambda function inside other function

myfun(10)

otherfun = myfun(5)

print(otherfun(20)) # 20*5

# you can create calling function in many ways

otherfun_1 = myfun(10)
print(otherfun_1(20))  # 20*10

value of N is : 10
value of N is : 5
100
value of N is : 10
200

In [32]:
# any number of argumrnts

add = lambda x,y,z : x+y+z

print('find additon of three numbers : ')
print(add(10,20,30))

find additon of three numbers :
60

In [34]:
double = lambda x : x*2
print("double of number :",double(10))

tripple = lambda y : y*3
print("tripple of number :",tripple(10))

double of number : 20
tripple of number : 30

In [38]:
def fun(y):
    print('The value of y:',y)
    return (lambda x : x * y) 

double=fun(2)
print(double(10))

The value of y: 2
20

### Python Class

In python everything is object , which has its properties and methods/function

python is object oriented programming language

class is blue print of an object, from which objects can be created.

syntax:
        class ClassName:
            class body

class : 
        TE

properties :

            1. rollno
            2. name
            3. marks

methods:

        display()


object:

      o1 ::

           name = Abhimanyu
           rollno = 3
           marks = 92
       
      o2 ::

           name = Shourya
           rollno = 14
           marks = 90

class : 
        Employee

properties :
            1. id
            2. name
            3. salary
            4. department

methods:
        printsalary()
        printPdetails()

object:
      o1 ::
           id = 53545
           name = DIGVIJAY
           salary = 920000
           department = DSS
       
      o2 ::
           id = 54647
           name = ABHIMANYU
           salary = 900000
           department = ML

Features of OOP:
1. Inheritance (data science purpose)
2. Abstarction
3. Polymorphism

In [45]:
# create a class student
class Stud:
    name= "Digvijay"
    
# create a object of class student
# n no of objects will be there in class

s1= Stud()
s=Stud()
print(s1.name)
print('*'*100)
print(s.name)

Digvijay
****************************************************************************************************
Digvijay

In [47]:
class employee:
    eid='emp-1'
    ename='John'
    salary= 20000
    
# create object
e =employee()
print('Details of employee :')
print('ID :',e.eid)
print('Name :',e.ename)
print('Salary :',e.salary)

Details of employee :
ID : emp-1
Name : John
Salary : 20000

In [57]:
# How the real class works

# **__init__() Function**

# 1. All classes will have a method called __init__()
# 2. This function gets called when an object is being created.
# 3. This function is used to assign the values to the properties of 
#    the class
# 4. It means that, we can do all operations which are neccessary 
#    to do at the time of the object creation.
# 5. __init__() method get called automatiucally when an object is 
#    initiated


# methods in class
# self:
# self is default parameter to be used to access 
# the values in current object
# we can give any name instead of the self but it has to be the 1st parameter



class employee:
    def __init__(self,id_1, name_1, salary_1, mobile_1):
        self.id_1 = id_1
        self.name_1 = name_1
        self.salary_1 = salary_1
        self.mobile_1 = mobile_1

o1 = employee(45,"Rohit",1050000, 123456789)       
        
print('Employee details are :')
print('ID :',o1.id_1)
print('Name :',o1.name_1)
print('Salary :',o1.salary_1)
print('Mobile :',o1.mobile_1)

print('*'*100)

o2 = employee(18,"Virat",1150000, 987654321)      
        
print('Employee details are :')
print('ID :',o2.id_1)
print('Name :',o2.name_1)
print('Salary :',o2.salary_1)
print('Mobile :',o2.mobile_1)

print('*'*100)

print('in this way we can take n no of object...!')

Employee details are :
ID : 45
Name : Rohit
Salary : 1050000
Mobile : 123456789
****************************************************************************************************
Employee details are :
ID : 18
Name : Virat
Salary : 1150000
Mobile : 987654321
****************************************************************************************************
in this way we can take n no of object...!

In [56]:
class Student:
    def __init__(self, name, clas, rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno

k = Student("Rohit",  "BE-ECE",   45) # object creation
v = Student("Virat",  "BE-IT",    18)
n = Student("Hardik", "BE-Comp", 33)

print(k.name,":",k.clas,":", k.rollno)
print(v.name,":",v.clas,":", v.rollno)
print(n.name,":", n.clas, ":",n.rollno)

Rohit : BE-ECE : 45
Virat : BE-IT : 18
Hardik : BE-Comp : 33

In [70]:
# methods in class
# self:
# self is default parameter to be used to access 
# the values in current object
# we can give any name instead of the self but it has to be the 1st parameter


class Student:
    def __init__(self, nm, cls, rln):
        self.name = nm
        self.clas = cls
        self.rollno = rln
    
    def Display(self):
        print("Name of student is: ",self.name)
        print("Clas of student is: ",self.clas)
        print("Roll No of the students: ",self.rollno)

  

r = Student("Rahul", "BE", 13)
v = Student("Vaibhav","BE-Mech", 2)

print("Rahul's Details:")
r.Display()

print('*'*100)

print("Vaibhav Details:")
v.Display()

Rahul's Details:
Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13
****************************************************************************************************
Vaibhav Details:
Name of student is:  Vaibhav
Clas of student is:  BE-Mech
Roll No of the students:  2

In [68]:
class Student:
    def __init__(self,fnm,lnm):
        self.fname = fnm
        self.lname = lnm
        
    def Display(self):
        print('The first name is :',self.fname)
        print('The last name is :',self.lname)
    
s=Student('Digvijay','Mohite')
s.Display() # object.method()

print('*'*100)

s1=Student('Abhimanyu','Mohite')
s1.Display()

print('*'*100)

s3=Student('Hindavi','Swaraj')
s3.Display()

The first name is : Digvijay
The last name is : Mohite
****************************************************************************************************
The first name is : Abhimanyu
The last name is : Mohite
****************************************************************************************************
The first name is : Hindavi
The last name is : Swaraj

In [72]:
# accessing values and modifying it

class Student:
    def __init__(self, name, clas, rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno
    
    def Display(self):
        print("Name of student is: ",self.name)
        print("Clas of student is: ",self.clas)
        print("Roll No of the students: ",self.rollno)
      
    
    def ChangeName(self,ch_name):
        self.name = ch_name
        print("\n")
        print("Calling Display from ChangeName():\n ")
        self.Display()

  

r = Student("Rahul", "BE", 13)

r.Display()

r.ChangeName("Sai") # name changed

Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13


Calling Display from ChangeName():

Name of student is:  Sai
Clas of student is:  BE
Roll No of the students:  13

### Inheritance

Inheritance is a property of object oriented language that allows a class to derive properties of other/parent class

parent / Base class :
It is the class which gets inherited

Derived / child class :
It is the class which inherits properties from other class or parent class

class Parent:
            name
            mobile
            address
            email

class kidz(Parent):

In [75]:
# Base class 

class Person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
        
    def Display(self):
        print('First Name :',self.fname)
        print('Last Name :',self.lname)
        
o1=Person('Sachin','Tendulkar')
print(o1.fname)
print(o1.lname)

Sachin
Tendulkar

In [76]:
# child class
class Student(Person):
    pass

s = Student("Rahul","Dravid")

s.Display()

First Name : Rahul
Last Name : Dravid

In [79]:
class person:
    def __init__(self,flm,lnm):
        self.fname=fnm
        self.lname=lnm
        
    def Display(self):
        print('First Name :',self.fname)
        print('Last Name  :',self.lname)
        
class Student(Person):
    pass

s=Student('Sunil','Gavaskar')
s.Display() # child class inherit properties of person class

First Name : Sunil
Last Name : Gavaskar

In [85]:
# example
# Base class 
class Person:
    def __init__(self,fname,lname,addr):
        self.first_name=fname
        self.last_name=lname
        self.address=addr
        
    def Display(self):
        print('First Name :',self.first_name)
        print('Last Name :',self.last_name)
        print('Address :',self.address)
        
# obj=Person('MS','Dhoni','Zarkhand')
# obj.Display()

class Employee(Person):
    def __init__(self,fname,lname,addr,id1):
        self.first_name=fname
        self.last_name=lname
        self.address=addr
        self.eid=id1
    # overriding the base class method   
    
    def Display(self):
        print('First Name :',self.first_name)
        print('Last Name :',self.last_name)
        print('Address :',self.address)
        print('Employee ID :',self.eid)
        
        
e = Employee('Virat','Kolhi','Delhi',18)
e.Display()

First Name : Virat
Last Name : Kolhi
Address : Delhi
Employee ID : 18

In [89]:
# Add other properties to child class

class Student(Person):
      def __init__(self, fname, lname, addr,id1,grd):
        Person.__init__(self, fname, lname,addr)
        self.eid = id1
        self.grade =grd
        
      def Display(self):
        print('First Name :',self.first_name)
        print('Last Name :',self.last_name)
        print('Address :',self.address)
        print('Employee ID :',self.eid)
        print('Grade :',self.grade)
    
s1 = Student("Hardik", "Pandya", "Gujarat",33,'A')
s1.Display()

First Name : Hardik
Last Name : Pandya
Address : Gujarat
Employee ID : 33
Grade : A

### Python Iterator

Iterator are used to traverse the iterables: like List, Tuple, Set and Dictionary, string
    
Iterable has countable number of values

Iterable are used to traverse through the values one by one

It has two methods :
                    __iter__
                    __next__
                  
iter() method is used to get an iterator over iterable like string, list , tuple , set and dictionary

In [90]:
# example of list 
tup = (10,20,30,40,50)

print(type(tup))

itr = iter(tup) # create an iterator object

print(next(itr))
print(next(itr))
print(next(itr))

<class 'tuple'>
10
20
30

In [91]:
list1 = [10,20,30,40,50]

print(type(list1))

itr = iter(list1) # create an iterator object

print(next(itr))
print(next(itr))
print(next(itr))

<class 'list'>
10
20
30

In [96]:
# Iterator on string

string = "I love python"

itr = iter(string)

print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

print('*'*100)
# for loop
print("Iterations using for loop:\n")
for x in string:
    print(x)

I

l
o
v
e
****************************************************************************************************
Iterations using for loop:

I

l
o
v
e

p
y
t
h
o
n

In [97]:
# loop on iterables like list
# for loop internally creates an iterator object and then 
# it traverse using that object
list1 = [10,20,30,40,50,60]

for x in list1:
    print(x)

10
20
30
40
50
60

###### How does for loop work on iterables

In [100]:
# use for loop for demonstration of __iter__() and __next()__

# Problem Under Consideration
# print a series of numbers from 1

class Counter:
    def __iter__(self):
        self.val = 1
        return self`
    
    
    def __next__(self):
        x = self.val
        self.val += 1
        
        if x == 21:
            raise StopIteration # StopIteration method will stop to our iteration
        return x

counter = Counter()

itr = iter(counter)

for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Python scope of Variable

Types of variables are :
                        
1. Local Variable : A local variable is a variable that is declared inside a function or a block of code. It can only be accessed within that function or block of code and is destroyed when the function or block of code ends. Local variables are useful when you only need to use the variable within a specific part of the program and don't want to clutter up the rest of the code.
                       
2. Global Variable : A global variable is a variable that is declared outside of any function or block of code. It can be accessed from anywhere in the program, including inside functions or blocks of code. Global variables are useful when you need to use the same variable in multiple parts of the program

In [9]:
# Example of local variable

def my_function():
    x = 9 # local variable
    print('local variable inside function :',x)
    
my_function()

print('Local variable outside the function : Not possible because "NameError: name x is not defined "')

local variable inside function : 9
Local variable outside the function : Not possible because "NameError: name x is not defined "

In [10]:
# Example of global variable (defined outside the function)
global x
x = 1000

def my_function2():
    print('Global variable inside the function :',x)
    
my_function2()
print('Global variable outside the function :',x)

Global variable inside the function : 1000
Global variable outside the function : 1000

In [21]:
# Example of global variable (defined inside the function)

def my_function2():
    global x
    x = 9000
    print('Global variable inside the my_function2 :',x)
    
def my_function3():
    print("Global variable inside the my_function3 :", x)
    
my_function2()
print('Global variable outside the function :',x)

print('*'*100)

my_function3()
print('Global variable outside the function :',x)

Global variable inside the my_function2 : 9000
Global variable outside the function : 9000
****************************************************************************************************
Global variable inside the my_function3 : 9000
Global variable outside the function : 9000

In [35]:
# nested functions and scope
z = 200 # global scope
def Myfun():
    
    def Display_z():
        print(z)
    z = 10 # local variable
    print(z)
    Display_z()
    
    
def Display():
    print("Printing Outside scope",x)
    
print(z)
Myfun()
Display()

200
10
10
Printing Outside scope 9000

In [37]:
d = 500
e = 600

def add():
    # local variable
    d = 10
    e = 20
    
    global pi  # we can access any where
    pi = 3.14
    
    print('Inside Add :')
    print(d)
    print(e)
    
def display():
    print('Inside Display Function :')
    print(d)
    print(e)
    
add()
display()
print('Outside Display Function :')
print(d)
print(e)

Inside Add :
10
20
Inside Display Function :
500
600
Outside Display Function :
500
600

### Modules

A module is a file containing Python code that defines functions, classes, and variables that can be used in other Python programs.

Modules are used to organize code and make it reusable across different programs.

Python has a large number of built-in modules that provide useful functionality, such as math, random, datetime, and os. You can also create your own modules by writing Python code in a separate file and then importing it into your program using the import statement.

General steps for creating a Python module:

1. Create a new Python file with a .py extension. This file will contain the code for your module.

2. Define the functions, classes, and/or variables that you want to include in your module. Save the file with a descriptive name that reflects the purpose of your module. For example, if your module contains functions for working with dates and times, you might name it datetime_module.py


def Display:
        print('Hello this is Display method in       datetime_module')
  

3. Calling modules method is :
   import datetime_module
   datetime_module.Display()
    
# It will give result as printed string in display

In [40]:
# # Module creation
# def Display():
#     print('Hello this is Display method in datetime_module')
    
# # calling module 

# import mymodule

# # module name. function()
# mymodule.Display()

In [41]:
# importing modules with alias name
# like
#  import mymodule as mm


# you can also use other built in modules like

import platform

op_sys = platform.system()

print(op_sys)

Windows

###### Datetime Module

In [43]:
import datetime 

datetime.datetime.now()

datetime.datetime(2023, 4, 16, 12, 49, 7, 724446)

(year, month, day, hour, minutes, second, microsecond)

In [46]:
print(datetime.MAXYEAR)

9999

In [47]:
print(datetime.MINYEAR)

1

In [65]:
x= datetime.datetime.now()

print(x.year)    # 2023
print(x.month)   # 4
print(x.day)     # 16
print(x.hour)    # 9
print(x.minute)  # 27
print(x.second)  # 53

print(x.max)
print(x.min)
print(x.strftime('%m'))

2023
4
16
13
6
9
9999-12-31 23:59:59.999999
0001-01-01 00:00:00
04

In [52]:
# datetime() class takes 3 mandatory paramters and hour,minute,seconds,
# microseconds and tzone as optional parameters.
# all takes defaulkt value of 0 and tzone takes none values as default
dt_ = dt.datetime(2021,4,16,12,55,12,93838)
dt_1 = dt.datetime(2021,4,16)

print(dt_) 

print(dt_1)

2021-04-16 12:55:12.093838
2021-04-16 00:00:00

You can also create date, time, and timedelta objects using the date(), time(), and timedelta() constructors, respectively. For example:

In [66]:
from datetime import date, time, timedelta

d = date(2023, 4, 16)
t = time(9, 30)
td = timedelta(hours=1)

print(d)    # 2023-04-16
print(t)    # 09:30:00
print(td)   # 1:00:00

2023-04-16
09:30:00
1:00:00

###### python math function

In [67]:
x = min(100,200,50)
print(x)

50

In [68]:
x = max(100,200,50)
print(x)

200

In [70]:
# Returns absolute positive value
x = abs(-50) # only argumnet required
print(x)

50

In [72]:
x = pow(2,4) # 2^4
print(x)

16

###### Math Module

The math module is a built-in Python module that provides access to a set of mathematical functions and constants.

The math module includes several functions, including:

1. sqrt: Returns the square root of a given number.
2. pow: Returns the result of raising a given number to a given power.
3. log: Returns the natural logarithm of a given number.
4. sin, cos, tan: Returns the sine, cosine, and tangent of a given angle (in radians).
5. degrees, radians: Converts between degrees and radians.

In [88]:
import math

x = 16
sqrt_x = math.sqrt(x)
print(sqrt_x)

4.0

In [89]:
x = 16
pow_x = math.pow(x,2) # 2^16
print(pow_x)

256.0

In [90]:
x=999.999
floor_x = math.floor(x) 
print(floor_x)

999

In [92]:
x = 999.999
ceil_x = math.ceil(x) 
print(ceil_x)

1000

In [93]:
# well-known mathematical constant called "Euler's number" or "Euler's constant" denoted by the symbol "e". It is a mathematical constant approximately equal to 2.71828, 
eluers_no = math.e
print(eluers_no)

2.718281828459045

In [94]:
p = math.pi
print(p)

3.141592653589793

In [95]:
s = math.sin(10)
print(s)

-0.5440211108893698

In [96]:
s = math.cos(10)
print(s)

-0.8390715290764524

In [97]:
s = math.tan(10)
print(s)

0.6483608274590866

In [101]:
x=100
s = math.log(x,10) # log10(100)
print(s)

2.0

In [103]:
val = math.nan # not a number is of type float
print(val)
print(type(val)) # bydefauly data type in python is float

nan
<class 'float'>

### Python JSON (JavaScript Object Notation)

JSON is javascript object notation storing and exchanging data

Python has built in package json

JSON is in string format

JSON to send data from a server to web page

JSON is a lightweight data interchange format

JSON is language undependent

SON is "self-describing" and easy to understand

JSON Syntax Rules:
     
     Data is in name/value pairs
     Data is separated object
     Curly braces hold objects
     Square brackets hold arrays/list

In [104]:
import json

In [109]:
# conversion of json to python
# json object

student = '{"Name":"Abhi", "Class":"First","School":"Vision","Mobile":9175535381,"City":"Pune"}'
print(type(student))
print(student)

print('*'*100)

stud=json.loads(student) # converted in python dictionary
print(stud)
print(type(stud))

<class 'str'>
{"Name":"Abhi", "Class":"First","School":"Vision","Mobile":9175535381,"City":"Pune"}
****************************************************************************************************
{'Name': 'Abhi', 'Class': 'First', 'School': 'Vision', 'Mobile': 9175535381, 'City': 'Pune'}
<class 'dict'>

In [113]:
# convert a dictionary to json object using json.dumps()

print('Dictionary creation...!')
employee = {
    "Name": "Digvijay",
    "emp_id": 27,
    "email": "a@b.com",
    "salary": 90000
}

print('Created dictionary is:')

print(employee)
print(type(employee))

print('Access the dictionary')
print(employee['emp_id'])

print("*"*100)

emp_json = json.dumps(employee)
print('Coversion dictionary to JSON OBJECT')
print(emp_json)
print(type(emp_json))
print('accessing the json')
print(emp_json[10])

Dictionary creation...!
Created dictionary is:
{'Name': 'Digvijay', 'emp_id': 27, 'email': 'a@b.com', 'salary': 90000}
<class 'dict'>
Access the dictionary
27
****************************************************************************************************
Coversion dictionary to JSON OBJECT
{"Name": "Digvijay", "emp_id": 27, "email": "a@b.com", "salary": 90000}
<class 'str'>
accessing the json
D

In [116]:
# Apply on Tuple
tup = ('Digvijay',100,200,300,'Abhimanyu')
print(tup)
print(type(tup))

print("*"*100)

print('Conversion tuple to json object')
tup_json = json.dumps(tup)
print(tup_json)
print(type(tup_json)) # it will convert tuple into json's list

('Digvijay', 100, 200, 300, 'Abhimanyu')
<class 'tuple'>
****************************************************************************************************
Conversion tuple to json object
["Digvijay", 100, 200, 300, "Abhimanyu"]
<class 'str'>

In [127]:
# Testout same on other data types

import json

x = {
      "name": "Digvijay",
      "age": 31,
      "vegeterian": True,
      "non_veg": False,
      "food": ("paneer","kabab"),
      "owns_chopper": None,
      "cars": [
                {"model": "kia-143", "mpg": 27.5},
                {"model": "tata", "mpg": 24.1},
                ("scoda","ford"),
                20
              ]
     }

l = x['cars']
print(l)
print(l[0])
print('*'*100)

m = x['food']
print(m)
print('*'*100)

n= x['vegeterian']
print(n)
print('*'*100)

o = x['owns_chopper']
print(o)
print('*'*100)

x_json = json.dumps(x)
print(x_json)
print(type(x_json))

[{'model': 'kia-143', 'mpg': 27.5}, {'model': 'tata', 'mpg': 24.1}, ('scoda', 'ford'), 20]
{'model': 'kia-143', 'mpg': 27.5}
****************************************************************************************************
('paneer', 'kabab')
****************************************************************************************************
True
****************************************************************************************************
None
****************************************************************************************************
{"name": "Digvijay", "age": 31, "vegeterian": true, "non_veg": false, "food": ["paneer", "kabab"], "owns_chopper": null, "cars": [{"model": "kia-143", "mpg": 27.5}, {"model": "tata", "mpg": 24.1}, ["scoda", "ford"], 20]}
<class 'str'>

^ this is difficult to read it, In python to read json files we have facilites

when we convert python object to json then it will be like shown below:
        1. dict  >>  object
        2. list  >>  Array
        3. tuple >>  array
        4. str   >>  string
        5. int   >>  number
        6. float >>  number
        7. true  >>  true
        8. false >>  false 
        9. none  >>  null

###### Result Formatting

To make json more readable we can some adiional parameters like indent=4, seperators=(".",  ",", "=" ), sort_keys=True

In [128]:
import json

x = {
          "name": "Sagar",
          "age": 31,
          "vegeterian": True,
          "non_veg": False,
          "food": ("paneer","kabab"),
          "owns_chopper": None,
          "cars": [
                    {"model": "kia-143", "mpg": 27.5},
                    {"model": "tata", "mpg": 24.1}
                  ]
    }

print(json.dumps(x,indent=4))

{
    "name": "Sagar",
    "age": 31,
    "vegeterian": true,
    "non_veg": false,
    "food": [
        "paneer",
        "kabab"
    ],
    "owns_chopper": null,
    "cars": [
        {
            "model": "kia-143",
            "mpg": 27.5
        },
        {
            "model": "tata",
            "mpg": 24.1
        }
    ]
}

In [131]:
import json

x = {
  "name": "Sagar",
  "age": 31,
  "vegeterian": True,
  "non_veg": False,
  "food": ("paneer","kabab"),
  "owns_chopper": None,
  "cars": [
    {"model": "kia-143", "mpg": 27.5},
    {"model": "tata", "mpg": 24.1}
  ]
}

print(json.dumps(x, indent=4, separators=("-","= "))) # - every object seperate, = every keys sepearte

{
    "name"= "Sagar"-
    "age"= 31-
    "vegeterian"= true-
    "non_veg"= false-
    "food"= [
        "paneer"-
        "kabab"
    ]-
    "owns_chopper"= null-
    "cars"= [
        {
            "model"= "kia-143"-
            "mpg"= 27.5
        }-
        {
            "model"= "tata"-
            "mpg"= 24.1
        }
    ]
}

In [133]:
import json

x = {
  "name": "Sagar",
  "age": 31,
  "vegeterian": True,
  "non_veg": False,
  "food": ("paneer","kabab"),
  "owns_chopper": None,
  "cars": [
    {"model": "kia-143", "mpg": 27.5},
    {"model": "tata", "mpg": 24.1}
  ]
}

print(json.dumps(x, indent=4, separators=(",","= "), sort_keys= True))

{
    "age"= 31,
    "cars"= [
        {
            "model"= "kia-143",
            "mpg"= 27.5
        },
        {
            "model"= "tata",
            "mpg"= 24.1
        }
    ],
    "food"= [
        "paneer",
        "kabab"
    ],
    "name"= "Sagar",
    "non_veg"= false,
    "owns_chopper"= null,
    "vegeterian"= true
}

### RegEx or Regular Expression

RE is a special sequence of characters which helps you to match or find other patterns in a string, using special syntax

python has re module which gives way to work with regEx

In [146]:
import re

In [156]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.search("^The.*Rossom$",txt)

            # RegEx: ^The.*Rossom$
            # ^ - start with 'The'
            # . - Any character
            # * - Any number of occurances
            # $ - Ends with 'Rossom'

if x:
    print("Yes string starts with 'The' Ends with 'Rossom'")
else:
    print("Doesn't have match")

Yes string starts with 'The' Ends with 'Rossom'

In [157]:
# x - Match Object

# Match Object
print(x.span())
# it returns the tuple(start, end) of the match object

(0, 64)

In [158]:
print(x.start())
# It returns the start location of the match object

0

In [159]:
print(x.end())
# It returns the end location of match object

64

In [160]:
print(x.string)
# input string to match object

The python programming was developed in 1991 by Guido Van Rossom

In [161]:
print(x.group())
# serch pattern which matched in a string

The python programming was developed in 1991 by Guido Van Rossom

In [162]:
print(x.span())
print(x.start())
print(x.end())
print(x.string)
print(x.group())

(0, 64)
0
64
The python programming was developed in 1991 by Guido Van Rossom
The python programming was developed in 1991 by Guido Van Rossom

1. findall >> Returns a list containing all matches

2. search  >> Returns a match object if there is a match anywhere in the string

3. split   >> Returns a list where the string has been split at each match

4. sub >> Replaces one or many matches with a string

In [164]:
# findall function returns the list of all matches

txt = "The python programming was developed in 1991 by Guido Van Rossom"

x = re.findall("r",txt)
print(x)

['r', 'r']

In [168]:
x = re.findall('p',txt)
print(x)
print(len(x))

['p', 'p', 'p']
3

In [177]:
# find the list of words and its occurance in a string
def count_char():
    count=[]
    import re
    list1=['The','o','python']
    txt = "The python programming was developed in 1991 by Guido Van Rossom"
    for i in list1:
        cnt=re.findall(i,txt)
        count.append(len(cnt))
    return count

count_char()

[1, 6, 1]

In [182]:
# search function

# search returns the first occurance of the match

txt = "The python proramming"
x = re.search("\s", txt)
print("object :>",x)
# x is a match object
print("The first white-space character is located in position:", x.start())

object :> <re.Match object; span=(3, 4), match=' '>
The first white-space character is located in position: 3

In [195]:
txt = "The rain in Spain"
x = re.search("rain",txt)
print("The searh character is located in position:", x.start())

The searh character is located in position: 4

In [194]:
import re

pattern = "Hello"
string1 = "Hello World"
string2 = "World Hello"

match1 = re.search(pattern, string1)
match2 = re.search(pattern, string2)

print(match1)  # <re.Match object; span=(0, 5), match='Hello'>
print(match2)  # None
print("searched word postion is :",match1.start())

<re.Match object; span=(0, 5), match='Hello'>
<re.Match object; span=(6, 11), match='Hello'>
searched word postion is : 0

In [199]:
# split function

txt = "The python programming was devloped in 1991"
x = re.split("\s",txt,2)
print(x)

['The', 'python', 'programming was devloped in 1991']

In [204]:
txt = "The python programming was devloped in 1991"
x = re.split("",txt,10)
print(x)

['', 'T', 'h', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n programming was devloped in 1991']

In [206]:
# sub function

txt = "The python programming was devloped in 1991"
x = re.sub("\s","--",txt)
print(x)

The--python--programming--was--devloped--in--1991

In [207]:
txt = "The python prohramming was devloped in 1991 by Guido Van Rossom"
x = re.search("\was", txt)
print(x.span())
print(x.start())
print(x.end())
print(x.string)
print(x.group())

(23, 26)
23
26
The python prohramming was devloped in 1991 by Guido Van Rossom
was

most commonly used special characters in regex:

"." (dot) - Matches any single character except for a newline character.
"^"       - Matches the start of a string.
"$"       - Matches the end of a string.
"|"       - Matches either the pattern before or after the pipe character.
"+"       - Matches one or more of the preceding pattern.
"*"       - Matches zero or more of the preceding pattern.
"?"       - Matches zero or one of the preceding pattern.
"[]"      - Matches any character within the brackets.
"[^ ]"    - Matches any character not within the brackets.
"\d"      - Matches any digit (0-9).
"\s"      - Matches any whitespace character.
"\w"      - Matches any word character (a-z, A-Z, 0-9, and underscore).

\A	      - Returns a match if the specified characters are at the beginning of the string	Example : "\AThe"	
\b	      - Returns a match where the specified characters are at the beginning or at the end of a    word (the "r" in the beginning is making sure that the string is being treated as a "raw string")	Example : r"\bain", r"ain\b"	
\B	      - Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word (the "r" in the beginning is making sure that the string is being treated as a "raw string")	Example : r"\Bain", r"ain\B"	
\d	      - Returns a match where the string contains digits (numbers from 0-9)	Example : "\d"	
\D	      - Returns a match where the string DOES NOT contain digits Example : "\D"	
\s	      - Returns a match where the string contains a white space character Example : "\s"	
\S	      - Returns a match where the string DOES NOT contain a white space character Example : "\S"	
\w	      - Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character) Example : "\w"	
\W	      - Returns a match where the string DOES NOT contain any word characters Example : "\W"	
\Z	      - Returns a match if the specified characters are at the end of the string Example : "Spain\Z"

### Python Exception Handling

Exception handling is a mechanism in Python to handle errors that occur during program execution.

In Python, an exception is an error that occurs during program execution that interrupts the normal flow of the program.

The syntax for handling exceptions in Python is as follows:

try:
    # Code that might cause an exception
except ExceptionType1:
    # Code to handle ExceptionType1
except ExceptionType2: 
    # Code to handle ExceptionType2
else:
    # Code to execute if no exceptions occur in the try block
finally: 
    # Code that will always execute, regardless of whether an exception occurred or not
    
Error:
    syntax error and exception
    
    syntax error also known as parsing erroe, are perhaps the most common kind of complaint get while you are still learning python
    
Exception:
        error detected during execution are allled exception

In [227]:
# syntax error:
# while True print("Hello")

SyntaxError: invalid syntax (3698993668.py, line 2)

In [226]:
# error detected during execution are allled exception

l=[10,20,30]
# for x in range(0,4):
#     print(l[x])

10
20
30

IndexError: list index out of range

In [230]:
while True:
    try:
        x=int(input('Please enter a number: '))
        break
    except ValueError:
        print("Oops! That was no valid number,Try again..!")

Please enter a number: 99.9
Oops! That was no valid number,Try again..!
Please enter a number: 100

In [232]:
# Value Error
try:
    print(value)
except NameError:
    print('Variable not declare')
except:
    print("Nothing is wrong in above statement")

Variable not declare

In [237]:
# you can use the else keyword to define a block of code to be executed
# If no error were raised:

try:
    print('Hello')
    print(a)
except:
    print('Something went wrong')
else:
    print('Nothing went wrong')

Hello
Something went wrong

In [238]:
a=10000000000000
try:
    print('Hello')
    print(a)
except:
    print('Something went wrong')
else:
    print('Nothing went wrong')

Hello
10000000000000
Nothing went wrong

In [239]:
try:
    print('Hello')
except:
    print('Something went wrong')
finally:
    print("The 'try except' is finished")

Hello
The 'try except' is finished

In [245]:
# for i in range(0,6): else will get executed when there is no exception
try:
    ls = [10,20,3,0]
    for i in range(0,6):
        print(ls[i])
except:
    print("Something went wrong") # will execute due to out of range
else:
    print("Will execute after try block exceution,There was no error in try block")

10
20
3
0
Something went wrong

In [244]:
try:
    f = open("myfile.txt")
    # Code to read or write to the file
except FileNotFoundError:
    print("File not found")
except:
    print("An error occurred")
finally:
    print("Try-Except run, we are in finally block") # will execute after execution of try-except block

File not found
Try-Except run, we are in finally block

In [246]:
zz = 10
try:
    print(zz)
except:
    print("Something went wrong")
finally:
    print("This is finally bloack: to be executed mandatory")

10
This is finally bloack: to be executed mandatory

In [249]:
# Raise an error and stop the program if x is lower than 0:
x = -1

# if x < 0:
#     raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [250]:
x = "Hello"
# if not type(x) is int:
#     raise TypeError('Only integers are allowed')

TypeError: Only integers are allowed

### String Formatting

In [252]:
p = 100

text = "The value is {}"
print(text.format(p))

print("The values of p is {}".format(p))

fname="Abhimanyu"
lname='Mohite'
print("Name is {} {}".format(fname,lname))

The value is 100
The values of p is 100
Name is Abhimanyu Mohite

In [253]:
p=100
text ="The value is {:.3f}"

print(text.format(p))

The value is 100.000

In [255]:
quantity = 3
itemno = 500
price = 70

print("I want {} pieces of item no {} for {:.2f} rupees".format(quantity,itemno,price))

I want 3 pieces of item no 500 for 70.00 rupees

In [256]:
quantity = 3 # 0
itemno = 500 # 1
price = 70 # 2

print("I want {0} pieces of item no {1} for {2:.2f} rupees".format(quantity,itemno,price))

I want 3 pieces of item no 500 for 70.00 rupees

In [257]:
age = 23
name = "Digvijay"

txt = "His name is {0}. {0} is {1} years old."
print(txt.format(name,age))

His name is Digvijay. Digvijay is 23 years old.

In [259]:
brand = 'TATA Nexon'
mod = "EV"

myorder = "I have a {carname}, it is a {model}."
print(myorder.format(model=mod,carname=brand))

I have a TATA Nexon, it is a EV.

### Python File Handling

File handling is an important concept in python.

Python has many for creating, reading, updating and deleting files

###### Open File


The open() function: The open() function takes two parameters 1. filename 2. mode of opening a file.

There are four different modes to open file:

    "r" = Read - Default value. opens in reading  mode, gives error if file not exists

    "a" = Append Opens in appending mode, 
      Creates new file if it does not exist

    "w" = Write  Opens in writing mode, 
      Creates new file if it does not exist

    "x" = Create Creates the specified file, 
      Gives an error if the file already exists

###### Reading a file

Functions We Use to handle files:

    read()- To read files - read all contents 
    readline()- To read contents line by line
    close()- to close the file.
    f = f is a file handle

In [265]:
f = open('demo.txt') # bydefault read mode 
print(f.read())

My Name is Digvijay
My Village name is Manjarde
My Village is in SANGLI district

I am trying to transit my career in data science

In [266]:
f = open('demo.txt','r') 
print(f.read())

My Name is Digvijay
My Village name is Manjarde
My Village is in SANGLI district

I am trying to transit my career in data science

In [267]:
# Reading files in parts
# 1. Read first 10 characters

f = open('demo.txt','r')
print(f.read(10))

My Name is

In [269]:
# 2. Read line by line
f=open('demo.txt','r')
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())

My Name is Digvijay

My Village name is Manjarde

My Village is in SANGLI district



I am trying to transit my career in data science

In [270]:
# 3. read using for loop

f = open('demo.txt','r')
for x in f:
    print(x)
f.close()

My Name is Digvijay

My Village name is Manjarde

My Village is in SANGLI district



I am trying to transit my career in data science

###### Writing to existing file
    
    f.write()- writes contents to file
    1. "a"
    2. "w"
    3. "x"

In [271]:
# 1. Append ("a")

f=open('demo.txt','a')
txt = "This is new string added"
f.write(txt)
f.close()

print('*'*100)

f=open('demo.txt','r')
print(f.read())

****************************************************************************************************
My Name is Digvijay
My Village name is Manjarde
My Village is in SANGLI district

I am trying to transit my career in data scienceThis is new string added

In [274]:
# 2. Write ("w")

f=open('demo.txt','w') # this will overwrite the existing file
f.write("This is my new file\n It is created using write mode\nThis is last line")
f.close()

f=open('demo.txt','r')
print(f.read())
f.close()

This is my new file
 It is created using write mode
This is last line

In [280]:
# 3. Create Mode ('x')

f=open('demo22.txt','x')
f.write("This file is created in x mode\n So we have now many files created")
f.close()

f=open('demo22.txt','r')
print(f.read())

This file is created in x mode
 So we have now many files created

###### Removing file / Directory(folder)

import os - Module

use:

    os.remove() function to delete file
    os.rmdir() function to remove directory / folder

In [287]:
import os

f=open('demo22.txt')
print(f.read())
f.close()

os.remove('demo22.txt')

This file is created in x mode
 So we have now many files created

In [288]:
# f.read('demo22.txt') # will get error

TypeError: argument should be integer or None, not 'str'

###### removing folder:

os.rmdir() is a method in Python's built-in os module that allows you to remove (delete) a directory. 

    Note that os.rmdir() can only delete empty directories. If the directory contains any files or subdirectories, the method will raise an OSError exception. To delete a non-empty directory, you can use the shutil module's shutil.rmtree() method instead.

In [289]:
os.rmdir('sample')

###### creating folder

os.mkdir() is a method in the os module that allows you to create a new directory.

    Note that if the directory already exists, os.mkdir() will raise an OSError exception. To create a new directory only if it doesn't already exist, you can use the os.makedirs() method instead.

In [290]:
os.mkdir('sample2')

In [291]:
os.rmdir('sample2')