                                                                               Date: 16_April-2023

###### 1. WAP for finding common & uncommon element from list and dictionary

In [1]:
list1=['A','B','C']
dict1={'A':10,'B':20,'C':30,'D':40,'E':50}

com=[]
uncom=[]
com_keys=[]
uncom_keys=[]

for i in list1:
    if i in dict1:
        com.append(dict1[i])      

for i in dict1:
    if i not in list1:
        uncom.append(dict1[i])
            
for i in list1:
    if i in dict1:
        com_keys.append(i)
             
for i in dict1:
    if i not in list1:
        uncom_keys.append(i)
          
        
print('Values of Common elements from list & dictionary :',com)
print('*'*90)

print("Values of uncommon elements from list & dictionary :",uncom)     
print('*'*90)

print('Keys of common elements from list & dictionary :',com_keys)     
print('*'*90)

print('Keys of uncommon elements from list & dictionary :',uncom_keys)

Values of Common elements from list & dictionary : [10, 20, 30]
******************************************************************************************
Values of uncommon elements from list & dictionary : [40, 50]
******************************************************************************************
Keys of common elements from list & dictionary : ['A', 'B', 'C']
******************************************************************************************
Keys of uncommon elements from list & dictionary : ['D', 'E']

###### 2. WAP for finding even and odd numbers from range 1 to 100

In [2]:
even_number=[]
odd_number=[]

for i in range(1,101):
    if i%2==0:
        even_number.append(i)
    else:
        odd_number.append(i)
        
print("Even numbers are :",even_number)
print('*'*100)
print("Odd numbers are :",odd_number)

Even numbers are : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
****************************************************************************************************
Odd numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

###### 3.  Program for finding given number is prime or not

###### Prime Numbers

    A prime number is a positive integer greater than 1 that has only two factors, 1 and itself. In other words, it is a number that is divisible by only 1 and itself. For example, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97 are all prime numbers.

In [3]:
num=int(input('Enter number'))

for i in range(2,num):
    if num%i == 0:
        print(num,'is not Prime number')
        break
    else:
        print(num,'is Prime number')

Enter number100
100 is not Prime number

###### 4. Program for sorting prime /unprime numbers from given range

In [4]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True

prime_num=[]
not_prime=[]

for i in range(0,101):
    if is_prime(i):
        prime_num.append(i)
    else:
        not_prime.append(i)
        
print('not_prime list :',not_prime)
print('*'*100)
print('prime_num list :',prime_num)

not_prime list : [0, 1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]
****************************************************************************************************
prime_num list : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

###### 5. Addition of string and integer Using Explicit Conversion

In [5]:
str_var='1000'
int_var=2000

print('string value :',str_var)
print(type(str_var))

print('Integer value :',int_var)
print(type(int_var))

print('*'*100)

print('explicit conversion str_var to int_var :')
new_str_var=int(str_var) # explicit conversion string to int
print('New converted str_var :',new_str_var)
print(type(new_str_var))

print('*'*100)

print('Addition of new_str_var and int_var :',new_str_var+int_var)

string value : 1000
<class 'str'>
Integer value : 2000
<class 'int'>
****************************************************************************************************
explicit conversion str_var to int_var :
New converted str_var : 1000
<class 'int'>
****************************************************************************************************
Addition of new_str_var and int_var : 3000

                                                                             Date : 17_April-2023

###### 6. Python program output of two print statemets in single line.

In [6]:
# print with end whitespace
print('Do it now, sometimes later becomes never..!', end= ' ')
print('Practice makes man perfect..!')

Do it now, sometimes later becomes never..! Practice makes man perfect..!

In [7]:
# print with the help of variables
pr1='Do it now, sometimes later becomes never..!'
pr2='Practice makes man perfect..!'

print(pr1,pr2)

Do it now, sometimes later becomes never..! Practice makes man perfect..!

###### 7. Python Program to Generate a Random Number

In [8]:
import random

var= random.randint(0,9)
print(var)

7

###### 8. Python program to check if year is a leap year or not

        divided by 100 means century year (ending with 00)
        century year divided by 400 is leap year

        not divided by 100 means not a century year
        year divided by 4 is a leap year

        if not divided by both 400 (century year) and 4 (not century year)
        year is not leap year

In [9]:
year=int(input('Enter year to check leep or not :'))

if (year % 400 == 0) and (year % 100 == 0):
    print(year,'is a leep year..!')
    
elif (year % 4 == 0) and (year % 100 != 0):
    print(year,'is a leep year..!')
    
else:
    print(year,'is not a leep year..!')

Enter year to check leep or not :100
100 is not a leep year..!

###### 9. Python Program to Check if a Number is Positive, Negative or 0

In [10]:
num = float(input('Enter required number to check +ve, -ve or zero : '))

if num > 0:
    print(num, "is a positive number")
elif num == 0:
    print(num, "is a zero number")
else:
    print(num, 'is negative number')

Enter required number to check +ve, -ve or zero : 100
100.0 is a positive number

###### 10. Python Program to Find the Largest Among Three Numbers

In [11]:
a=float(input("Enter 1st number : "))
b=float(input("Enter 2nd number : "))
c=float(input("Enter 3rd number : "))

if (a>=b) and (a>=c):
    largest=a
    
elif (b>=a) and (b>=c):
    largest=b
    
else:
    largest=c
    
print("The largest number is :",largest)

Enter 1st number : 10
Enter 2nd number : 20
Enter 3rd number : 30
The largest number is : 30.0

                                                                            Date : 18_April-2023

###### 11. Cast integer number into str/float/complex/bool

In [12]:
int_num=1000
print('Integer value',int_num)
print('*'*100)

str_num=str(int_num)
print('Str value :',str_num)
print('*'*100)

flt_num=float(int_num)
print('Float value :',flt_num)
print('*'*100)

comp_num=complex(int_num)
print('Complex value :',comp_num)
print('*'*100)

bool_num=bool(int_num)
print('Boolean value :',bool_num)
print('*'*100)

Integer value 1000
****************************************************************************************************
Str value : 1000
****************************************************************************************************
Float value : 1000.0
****************************************************************************************************
Complex value : (1000+0j)
****************************************************************************************************
Boolean value : True
****************************************************************************************************

###### 12. Take two numbers and display output on operator functions

In [13]:
x=14
y=4

print('x + y =',x+y)
print('.'*100)

print('x - y =',x-y)
print('.'*100)

print('x * y =',x*y)
print('.'*100)

print('x / y =',x/y)
print('.'*100)

print('x // y =',x//y)
print('.'*100)

print('x % y =',x%y)
print('.'*100)

print('x ** y =',x**y)

x + y = 18
....................................................................................................
x - y = 10
....................................................................................................
x * y = 56
....................................................................................................
x / y = 3.5
....................................................................................................
x // y = 3
....................................................................................................
x % y = 2
....................................................................................................
x ** y = 38416

###### 13. create list by using user input, display ascending and descending order and access that elemets

In [11]:
numbers = []
n = int(input("Enter the number of elements in the list: "))

for i in range(n):
    num = int(input("Enter a number: "))
    numbers.append(num)

print("Original list:", numbers)

print("List in ascending order:", sorted(numbers))

print("List in descending order:", sorted(numbers, reverse=True))
print(len(numbers))
print(numbers[5:7])

Enter the number of elements in the list: 10
Enter a number: 100
Enter a number: 2
Enter a number: 6
Enter a number: 2
Enter a number: 200
Enter a number: 334455
Enter a number: 6
Enter a number: 7
Enter a number: 89
Enter a number: 30
Original list: [100, 2, 6, 2, 200, 334455, 6, 7, 89, 30]
List in ascending order: [2, 2, 6, 6, 7, 30, 89, 100, 200, 334455]
List in descending order: [334455, 200, 100, 89, 30, 7, 6, 6, 2, 2]
10
[334455, 6]

###### 14. Create the tuple and append any number in tuple

In [12]:
tup=(1,2,55,66,600)
print(tup,type(tup))
print('*'*100)

print('converting tup to list for append function:')
list1=list(tup)
list1.append('Digvijay')
print(list1,type(list1))
print('*'*100)

tup=tuple(list1)
print(tup,type(tup))

(1, 2, 55, 66, 600) <class 'tuple'>
****************************************************************************************************
converting tup to list for append function:
[1, 2, 55, 66, 600, 'Digvijay'] <class 'list'>
****************************************************************************************************
(1, 2, 55, 66, 600, 'Digvijay') <class 'tuple'>

###### 15. create a tuple and display one element seperate from tuple

In [22]:
tup=('apple','banana','chiku','mango')
(a,*b)=tup
print(a)
print(b)

print('*'*100)

tup1=('a','b','c','d','e')
tup2=('d','s','m')
tup=(*tup1,*tup2)
print(tup1)
print(tup2)
print("merging two tuples:",tup)

apple
['banana', 'chiku', 'mango']
****************************************************************************************************
('a', 'b', 'c', 'd', 'e')
('d', 's', 'm')
merging two tuples: ('a', 'b', 'c', 'd', 'e', 'd', 's', 'm')

                                                                            Date : 19_April-2023

###### 16. create set and update one set to another

In [29]:
set1=set([1,2,3,4,5])
set2=set((6,7,8,9,10))
set3=set([11,22,33,44,55])

print(set1)
print(set2)
print('*'*100)
set1.update(set2)
print('Updating set1 to set2 :',set1)
set2.update(set3)
print('Updating set2 to set1 :',set2)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}
****************************************************************************************************
Updating set1 to set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Updating set2 to set1 : {33, 6, 7, 8, 9, 10, 11, 44, 22, 55}

###### 17. create a dictionary and access it in different ways

In [6]:
dict1={'a':1,'b':2,'c':3,'d':4,'e':5}
print('Created Dictionary is :',dict1)
print('*'*100)

print('Accesing element by using given key :',dict1['a'])
print('Accesing element by using index :',dict1.get('a'))
print('Accesing all keys :',dict1.keys())
print('Accesing all values :',dict1.values())
print('Accesing all key-value pair :',dict1.items())

Created Dictionary is : {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
****************************************************************************************************
Accesing element by using given key : 1
Accesing element by using index : 1
Accesing all keys : dict_keys(['a', 'b', 'c', 'd', 'e'])
Accesing all values : dict_values([1, 2, 3, 4, 5])
Accesing all key-value pair : dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

###### 18. write a program to swap any two values from a list using function swap()
input  : list1=[1,2,3,4,5,8,10]
output :list2=[1,2,10,4,5,8,3]

In [12]:
def swap(lst,i, j):
    temp = lst[i]
    lst[i] = lst[j]
    lst[j] = temp
    return lst[i], lst[j]



list1=[1,2,3,4,5,8,10] 
print('Input List :',list1)
swap(list1,2,6) # input, index num, index num
print('Output List :',list1)

Input List : [1, 2, 3, 4, 5, 8, 10]
Output List : [1, 2, 10, 4, 5, 8, 3]

###### 19. pass list as argument and get the sum of list
list1=[1,2,3,7,4,5,8,10]

In [15]:
def sum_list(lst):
    total=0
    for num in lst:
        total+=num
    return total 
    
list1=[1,2,3,7,4,5,8,10]
print('inlput list:',list1)
print('sum of list :',sum_list(list1))

inlput list: [1, 2, 3, 7, 4, 5, 8, 10]
sum of list : 40

###### 20. pass tuple and count number of elemnt in tuple
tup=(1,2,3,7,4,5,8,10)

In [17]:
def count_ele(tup):
    count=len(tup)
    return count

tup=(1,2,3,4,5,67,99,77)
print('count of tuple is :',count_ele(tup))

count of tuple is : 8

                                                                               Date: 20_April-2023

###### 21. Create nested dictionary and acces element

In [14]:
nested_dict = {
    'person1': {'name': 'Rohit', 'age': 35, 'address': {'city': 'Mumbai', 'state': 'MH'}},
    'person2': {'name': 'Virat', 'age': 34, 'address': {'city': 'Delhi', 'state': 'DL'}}
              }

print(nested_dict)
print('*'*100)

# Accessing element from nested dictionary

print('accessing address for Person1:',nested_dict['person1']['address'])
print('accessing state for Person1:',nested_dict['person1']['address']['state'])
print('accessing address for Person1:',nested_dict['person2']['name'])

{'person1': {'name': 'Rohit', 'age': 35, 'address': {'city': 'Mumbai', 'state': 'MH'}}, 'person2': {'name': 'Virat', 'age': 34, 'address': {'city': 'Delhi', 'state': 'DL'}}}
****************************************************************************************************
accessing address for Person1: {'city': 'Mumbai', 'state': 'MH'}
accessing state for Person1: MH
accessing address for Person1: Virat

In [18]:
grandson = { 'g_name':'grans_son_name'} 

son = { 's_key' : grandson,'s_name': 'son_name'} 

parent = {'p_key':son,'p_name':'Parent_name'}

family ={'f_key':parent}

print(family)

{'f_key': {'p_key': {'s_key': {'g_name': 'grans_son_name'}, 's_name': 'son_name'}, 'p_name': 'Parent_name'}}

In [20]:
print(parent['p_name'])

Parent_name

###### 22. For example, assigning grades (A, B, C) based on marks obtained by a student.
if the percentage is above 90, assign grade A, if the percentage is above 75, assign grade B,
if the percentage is above 65, assign grade C

In [40]:
lst=[99,100,56,75,88,34,30,50]

final_res=[]

def result(lst):
    for i in lst:
        if i<=100 and i>90:
            final_res.append('A')
        
        elif i<90 and i>=75:
            final_res.append('B')
    
        elif i<75 and i>=60:
            final_res.append('C')
                
        elif i<60 and i>=35:
            final_res.append('PASS')
                
        else:
            final_res.append('FAIL')
    
    
result(lst)
print(lst)
print('*'*100)
print(final_res)

[99, 100, 56, 75, 88, 34, 30, 50]
****************************************************************************************************
['A', 'A', 'PASS', 'B', 'B', 'FAIL', 'FAIL', 'PASS']

In [46]:
dict1={'MAR':99,'HINDI':100,'ENG':56,'SCI':75,'SPORT':88,'HIST':34,'GEO':30,'SOCIAL':50}

def result(dict1):
    for sub, marks in dict1.items():
        if marks<=100 and marks>90:
            print(sub,": A")
        
        elif marks<90 and marks>=75:
            print(sub,": B")
    
        elif marks<75 and marks>=60:
            print(sub,": C")
                
        elif marks<60 and marks>=35:
            print(sub,": PASS")
                
        else:
            print(sub,": FAIL")
    
    

print(dict1)
print('*'*100)
result(dict1)

{'MAR': 99, 'HINDI': 100, 'ENG': 56, 'SCI': 75, 'SPORT': 88, 'HIST': 34, 'GEO': 30, 'SOCIAL': 50}
****************************************************************************************************
MAR : A
HINDI : A
ENG : PASS
SCI : B
SPORT : B
HIST : FAIL
GEO : FAIL
SOCIAL : PASS

###### 23. Python program to find the sum of all items in a dictionary

In [47]:
dict1={'MAR':99,'HINDI':100,'ENG':56,'SCI':75,'SPORT':88,'HIST':34,'GEO':30,'SOCIAL':50}

sum_of_values=sum(dict1.values())

print(sum_of_values)

532

###### 24. Python program to remove a key from a dictionary

In [52]:
my_dict={'IND':438,'AUS':476,'SA':434,'NZ':380}

print("Before removing a key:", my_dict)

# we need to remove 'AUS' from dictionary
remove_key='AUS'

if remove_key in my_dict:
    del my_dict[remove_key]
    print('Key',remove_key ,'removed from the dictionary')
else:
    print('Key',remove_key ,'not found in the dictionary')
    
print("After removing a key:", my_dict)

Before removing a key: {'IND': 438, 'AUS': 476, 'SA': 434, 'NZ': 380}
Key AUS removed from the dictionary
After removing a key: {'IND': 438, 'SA': 434, 'NZ': 380}

###### 25. Python program to merge two Dictionaries

In [62]:
dict1={'A':10, 'B':20, 'C':30}
dict2={'D':40, 'E':50, 'F':50}

merged_dict={**dict1,**dict2}
print('Dictionary 1:',dict1)
print('Dictionary 2:',dict2)
print('*'*100)
print('Merged Dictionary :',merged_dict)

Dictionary 1: {'A': 10, 'B': 20, 'C': 30}
Dictionary 2: {'D': 40, 'E': 50, 'F': 50}
****************************************************************************************************
Merged Dictionary : {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50, 'F': 50}

                                                                               Date: 21-April-2023

###### 26. Sort a list of tuples by the second Item

In [19]:
my_list = [('Rohit', 45), ('Virat', 18), ('Hardik', 33), ('Rhaul', 1)]

sorted_list = sorted(my_list, key=lambda x: x[1])

print(sorted_list)

[('Rhaul', 1), ('Virat', 18), ('Hardik', 33), ('Rohit', 45)]

In [20]:
my_list = [(2, 5), (1, 2), (4, 1), (3, 7)]

sorted_list = sorted(my_list, key=lambda x: x[1])

print(sorted_list)

[(4, 1), (1, 2), (2, 5), (3, 7)]

In [38]:
# Write a Python program to sort a list of dictionaries using Lambda

my_dict_list = [
    {'name': 'John', 'age': 25},
    {'name': 'Kate', 'age': 18},
    {'name': 'Bob', 'age': 32},
    {'name': 'Alice', 'age': 20}
]

sorted_dict = sorted(my_dict_list,key=lambda x: x['age'])

print(sorted_dict)

[{'name': 'Kate', 'age': 18}, {'name': 'Alice', 'age': 20}, {'name': 'John', 'age': 25}, {'name': 'Bob', 'age': 32}]

###### 27. Write a Python program to find square and cube every number in a given list of integers using Lambda

In [29]:
list1=[1,3,5,7,9,11]

# one way
funcition_square_cube=lambda x:(x**2,x**3)

result=map(funcition_square_cube, list1) # map(function, iterable)

print(list(result))

[(1, 1), (9, 27), (25, 125), (49, 343), (81, 729), (121, 1331)]

In [31]:
list1=[1,2,3,4]

# another way
function=lambda x:[x**2,x**3]

result=list(map(function,list1))

print(result)

[[1, 1], [4, 8], [9, 27], [16, 64]]

###### 28. Write a Python program to find if a given string starts with a given character using Lambda

In [33]:
string = 'Digvijay'
my_char = 'D'

function = lambda x: True if string.startswith(my_char) else False

result=function(string)

print(result)

True

In [36]:
str1='India is my country'
my_char='i'

function= lambda x: True if str1.startswith(my_char.upper()) else False

print(function(str1))

True

###### 29. Write a Python program to check whether a given string is number or not using Lambda

In [44]:
string='1231'

function = lambda x: True if string.isnumeric() else False

print("Given string is number :",function(string))

Given string is number : True

###### 30. Write a Python program to add two given lists using map and lambda

In [48]:
list1=[1,2,3,4,5]
list2=[1,2,3,4,5]

list12=list1 and list2

function = lambda x: x+x

result=list(map(function,(list12)))

print(list1)
print(list2)
print('*'*100)
print('Addition of two list :',result)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
****************************************************************************************************
Addition of two list : [2, 4, 6, 8, 10]

                                                                               Date: 22-April-2023

###### 31. Write a Python program to create Fibonacci series using Lambda


    The Fibonacci series is a sequence of numbers that starts with 0 and 1, and each subsequent number in the sequence is the sum of the previous two. The first few numbers in the Fibonacci series are:

    0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...

In [50]:
# programmed by using "for loop" but not understanding in "lambda"

def fibonacci(num):
    first=0
    second=1
    print(first,end=' ')
    print(second,end=' ')
    for i in range(num-2):
        third=first+second
        first=second
        second=third
        print(third,end=" ")
        
fibonacci(9)

0 1 1 2 3 5 8 13 21

###### 32. create set , modify it and access that set elements

In [54]:
sett={1,2,44,4,45,5,5,55,50,6,7,7,8,8,8,9}
print(sett)

# we can modify set by using add method because set is mutable but unordered
sett.add(100)
print(sett)

# accessing modified element
access= 100 in sett
print('Accessed element is in set:',access)

{1, 2, 4, 5, 6, 7, 8, 9, 44, 45, 50, 55}
{1, 2, 4, 5, 6, 7, 8, 9, 100, 44, 45, 50, 55}
Accessed element is in set: True

###### 33. create two sets and display common elements and uncommon elements from both

In [57]:
s1={1,2,3,4}
s2={3,4,5,6,7}

print(s1)
print(s2)
print('*'*100)
common_ele = s1.intersection(s2)
print('Common elements from both sets are:',common_ele)

uncommon_ele=s1.symmetric_difference(s2)
print('Uncommon elemets from both sets are:',uncommon_ele)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
****************************************************************************************************
Common elements from both sets are: {3, 4}
Uncommon elemets from both sets are: {1, 2, 5, 6, 7}

###### 34. create a series of 0 to 30 but skip the 15 and 25

In [65]:
x=1

while x<=30:
    
    if x==15 or x==25:
        x+=1
        print('Skiped Value :',x-1)
        continue
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
Skiped Value : 15
16
17
18
19
20
21
22
23
24
Skiped Value : 25
26
27
28
29
30

###### 35. create a dictionary and display iteration of keys

In [72]:
dict1 = {
    'Name' : 'Rohit',
    'Team' : 'Mumbai Indians',
    'Jourcy No' : 45,
    'Role' : 'Batter',
    'Sold Value' : 160000000 
       }
for i in dict1:
    print(i)

Name
Team
Jourcy No
Role
Sold Value

                                                                               Date: 23-April-2023

###### 36. create a dictionary with unique key-value pair and assign common value to each key

In [1]:
dict1={'A':10, 'B': 20, 'C':30, 40:'D', 50:'E', 60:'F' }
print(dict1)

print('Assigning same value ("Common") to each key :')

newdict=dict.fromkeys(dict1,'Common')
print(newdict)

{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E', 60: 'F'}
Assigning same value ("Common") to each key
{'A': 'Common', 'B': 'Common', 'C': 'Common', 40: 'Common', 50: 'Common', 60: 'Common'}

###### 37. write a program and for removing every third element from list

In [25]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

i=2
while i <len(lst):
    del lst[i]
    i+=2
    
print('Sorted list:',lst)

Sorted list: [1, 2, 4, 5, 7, 8, 10, 11, 13, 14]

In [9]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

removed_elements=[]
i=2
while i <len(lst):
    removed_elements.append(lst.pop(i))
    i+=2
    
print('Sorted list:',lst)
print('Removed elements',removed_elements)

Sorted list: [1, 2, 4, 5, 7, 8, 10, 11, 13, 14]
Removed elements [3, 6, 9, 12, 15]

###### 38. write a program for display five students record by using user input

In [32]:
def stud_record():
    name=input('Name of student : ')
    age=int(input('Age of student :'))
    score=float(input('Score in percentage : '))
    print('*'*100)
    print('Student Record :')
    print('Name:',name,'Age:',age,'Score(%)',score)
    print('@'*100)
    
for i in range(0,5):
    stud_record()

Name of student : Abhimanyu
Age of student :6
Score in percentage : 91.91
****************************************************************************************************
Student Record :
Name: Abhimanyu Age: 6 Score(%) 91.91
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Shourya
Age of student :7
Score in percentage : 93.91
****************************************************************************************************
Student Record :
Name: Shourya Age: 7 Score(%) 93.91
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Atharv
Age of student :7
Score in percentage : 94.91
****************************************************************************************************
Student Record :
Name: Atharv Age: 7 Score(%) 94.91
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Amey
Age of student :2
Score in percentage : 99
****************************************************************************************************
Student Record :
Name: Amey Age: 2 Score(%) 99.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Aditi
Age of student :12
Score in percentage : 95
****************************************************************************************************
Student Record :
Name: Aditi Age: 12 Score(%) 95.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

###### 39. write program for addition of n no of unknown numbers

In [33]:
def add(*numbers):
    print('Addition of unknwokn numbers :',sum(numbers))
    
add(4555,54353,6466,774747,77457,777,757,223,445)

Addition of unknwokn numbers : 919780

###### 40. write a program forargument is key-value pair where order does not matter

In [34]:
def my_display(kid1,kid3,kid5,kid2,kid4):
    print('first std kid is :',kid1)
    print('second std kid is :',kid2)
    print('third std kid is :',kid3)
    print('fourth std kid is :',kid4)
    print('fifth std kid is :',kid5)
    
my_display(kid3='VIRAT',kid2='Rohit',kid1='Akashay',kid4='Dhoni',kid5='Hardik')

first std kid is : Akashay
second std kid is : Rohit
third std kid is : VIRAT
fourth std kid is : Dhoni
fifth std kid is : Hardik

                                                                               Date: 24-April-2023

###### 41. write a program to create dictionary without manually and dict function  and acces that elements

In [1]:
def dictionary(**name):
    print('My user defined dictionary :',name)
    print('Accessing dictionary elements :',name['Age'])
    
dictionary(Team='Mumbai',Captan='Rohit',Age=36,Role='Batter')

My user defined dictionary : {'Team': 'Mumbai', 'Captan': 'Rohit', 'Age': 36, 'Role': 'Batter'}
Accessing dictionary elements : 36

###### 42. write  aprogram for to pass unlimited letters, display lenth of letters and iterate that letters

In [2]:
def display(*letters):
    print('My letters are :',letters)
    l=len(letters)
    print('Length of letters :',l)
    
    for i in letters:
        print(i)
        
display('C','H','A','T','R','A','P','A','T','I','S','H','I','V','A','J','I','M','A','H','A','R','A','J')

My letters are : ('C', 'H', 'A', 'T', 'R', 'A', 'P', 'A', 'T', 'I', 'S', 'H', 'I', 'V', 'A', 'J', 'I', 'M', 'A', 'H', 'A', 'R', 'A', 'J')
Length of letters : 24
C
H
A
T
R
A
P
A
T
I
S
H
I
V
A
J
I
M
A
H
A
R
A
J

###### 43. write program for display record of student by using init method

In [7]:
class Stud_record:
    
    def __init__(self,name,cls,rollno,school):
        self.name=name
        self.cls=cls
        self.rollno=rollno
        self.school=school
        
    def display_record(self):
        print('Name :',self.name)
        print('Class :',self.cls)
        print('Roll No:',self.rollno)
        print('School Name :',self.school)
        

number_of_stud=int(input('Total number of student records ='))

object_list=[]

for i in range(number_of_stud):
    name=input('Name of student {} ='.format(i+1))
    cls=input('Class name of student {} ='.format(i+1))
    rollno=int(input('Roll No of student {} ='.format(i+1)))
    school=input('School Name of student {} ='.format(i+1))
    object_list.append(Stud_record(name,cls,rollno,school))
    print('.'*100)
    
print('Displaying Student Record .......')
print('.'*100)

for student in object_list:
    student.display_record()
    print('*'*100)

Total number of student records =3
Name of student 1 =A
Class name of student 1 =F
Roll No of student 1 =10
School Name of student 1 =VISION
....................................................................................................
Name of student 2 =B
Class name of student 2 =S
Roll No of student 2 =20
School Name of student 2 =BLOSSOM
....................................................................................................
Name of student 3 =C
Class name of student 3 =S
Roll No of student 3 =30
School Name of student 3 =ZP
....................................................................................................
Name : A
Class : F
Roll No: 10
School Name : VISION
****************************************************************************************************
Name : B
Class : S
Roll No: 20
School Name : BLOSSOM
****************************************************************************************************
Name : C
Class : S
Roll No: 30
School Name : ZP
****************************************************************************************************

###### 44. write program for "how for loop internally work" by using iter and next.

In [5]:
class internal_code_forloop:
    
    def __iter__(self):
        self.val=1
        return self
    
    def __next__(self):
        x=self.val
        self.val+=1
        
        if x>10:
            raise StopIteration
        return x
    
loop = internal_code_forloop()

itr=iter(loop)

for i in itr:
    print(i)

1
2
3
4
5
6
7
8
9
10

###### 45. write a program for class 2 inherit properties of class 1

In [6]:
class base:
    
    def __init__(self,name,team,city):
        self.name=name
        self.team=team
        self.city=city
        
    def pdisplay(self):
        print('Player Name:',self.name)
        print('Team Name :',self.team)
        print('City Name :',self.city)
        
class child(base):
    
    def __init__(self,name,team,city,jersey):
        self.name=name
        self.team=team
        self.city=city
        self.jersey=jersey
        
    def cdisplay(self):
        print('Player Name:',self.name)
        print('Team Name :',self.team)
        print('City Name :',self.city)
        print('Jersey Number:',self.jersey)
        

print('Accessing through paratent class:')    
obj=base('Rohit','Mumbai Indians','Mumbai')
obj.pdisplay()

print('.'*100)

print('Accessing parent through child class:')    
obj=child('Rohit','Mumbai Indians','Mumbai',45)
obj.pdisplay()

print('.'*100)

print('Accessing child through child class:')    
obj=child('Rohit','Mumbai Indians','Mumbai',45)
obj.cdisplay()

Accessing through paratent class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
....................................................................................................
Accessing parent through child class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
....................................................................................................
Accessing child through child class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
Jersey Number: 45

                                                                               Date: 25-April-2023

###### 46. write program for match object of "is" and "who" for given string and also display start and end location of above object
“Progress is impossible without change, and those who cannot change their minds cannot change anything”

In [10]:
import re
txt = "Progress is impossible without change, and those who cannot change their minds cannot change anything"
x=re.search("^Progress.*anything$",txt)

if x:
    print("Yes string starts with 'Progress' Ends with 'anything'")
else:
    print('Does not have match')
    
print('input string for above string :',x.string)
print('start index',x.start())
print('end index',x.end())
print('start and end index for above object',x.span())

Yes string starts with 'Progress' Ends with 'anything'
input string for above string : Progress is impossible without change, and those who cannot change their minds cannot change anything
start index 0
end index 101
start and end index for above object (0, 101)

###### 47. write the program for to find the perticular characters occurance in a string.

In [25]:
def occurance():
    import re
    count=[]
    txt=input('Enter string to findout perticular words: ')
    print('txt :',txt)
    list1=input('Enter word to find :')
    
    for i in list1:
        cnt=re.findall(i,txt)
        count.append(len(cnt))
    return count

occurance()

Enter string to findout perticular words: After spending five years in this organization
txt : After spending five years in this organization
Enter word to find :i

[6]

###### 48. write the program for to find the words occurance in a string.

In [28]:
def word():
    import re
    count=[]
    txt='I strongly believe that this new change in my career will be my new beginning towards advancement'
    list1=['in','my','be']
    
    for i in list1:
        cnt=re.findall(i,txt)
        count.append(len(cnt))
    return count

word()

[3, 2, 3]

###### 49. write the program on try and except error on division opeartion

In [31]:
def divide(x,y):
    try:
        result=x//y
        print('Yeah..! your answer is = ',result)
        
    except ZeroDivisionError:
        print('Sorry ! You are dividing by zero')
        
divide(10,10)

Yeah..! your answer is =  1

In [32]:
def divide(x,y):
    try:
        result=x//y
        print('Yeah..! your answer is = ',result)
        
    except ZeroDivisionError:
        print('Sorry ! You are dividing by zero')
        
divide(10,0)

Sorry ! You are dividing by zero

###### 50. write program for findout value error by using try except method

In [34]:
while True:
    try:
        x=int(input('Enter number :'))
        break
    except ValueError:
        print("Oops! That was no valid number,Try again..!")

Enter number :99.99
Oops! That was no valid number,Try again..!
Enter number :100

                                                                                                 Date: 26-April-2023

###### 51. . Create a null vector of size 10

In [1]:
import numpy as np

arr=np.zeros(10)
print(arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

###### 52.  How to find the memory size of an array

In [10]:
arr=np.arange(1,10)
print(arr)
arr2=arr.reshape(1,3,3)
print(arr2)

# checking memory size of array

print('memory size of arr in bytes :',arr.itemsize)
print('memory size of arr2 in bytes :',arr2.itemsize)

[1 2 3 4 5 6 7 8 9]
[[[1 2 3]
  [4 5 6]
  [7 8 9]]]
memory size of arr in bytes : 4
memory size of arr2 in bytes : 4

###### 53. Create a null vector of size 10 but the fifth value which is 1

In [12]:
arr=np.zeros(10)
arr[5]=1
print(arr)

[0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]

###### 54.  Create a vector with values ranging from 15 to 45

In [13]:
arr=np.arange(15,46)
print(arr)

[15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38
 39 40 41 42 43 44 45]

###### 55. Reverse a vector (The first element becomes last)

In [17]:
arr=np.arange(1,10)
print('original array :',arr)
print('modified array :',arr[::-1])

original array : [1 2 3 4 5 6 7 8 9]
modified array : [9 8 7 6 5 4 3 2 1]

                                                                                                         Date: 27-April-2023

###### 56. . Write a NumPy program to add, subtract, multiply, divide arguments element-wise

In [1]:
import numpy as np

arr1=np.arange(1,6)
arr2=np.arange(6,11)
print('arr1 :',arr1)
print('arr2 :',arr2)

add=np.array(arr1+arr2)
print('addition of arr1 and arr2 :',add)

sub=np.array(arr1-arr2)
print('subsrtaction of arr1 and arr2 :',sub)

mul=np.array(arr1*arr2)
print('multiplication of arr1 and arr2 :',mul)

div=np.array(arr1/arr2)
print('division of arr1 and arr2 :',div)

arr1 : [1 2 3 4 5]
arr2 : [ 6  7  8  9 10]
addition of arr1 and arr2 : [ 7  9 11 13 15]
subsrtaction of arr1 and arr2 : [-5 -5 -5 -5 -5]
multiplication of arr1 and arr2 : [ 6 14 24 36 50]
division of arr1 and arr2 : [0.16666667 0.28571429 0.375      0.44444444 0.5       ]

###### 57. Write a NumPy program to round elements of the array to the nearest integer

In [3]:
arr=np.array([1.25, 1.55, 1.75, 1.99, 2.18, 10.77, 100.9])

print('Original array :',arr)

round_arr=np.round(arr)
print('Rounded array :',round_arr)

Original array : [  1.25   1.55   1.75   1.99   2.18  10.77 100.9 ]
Rounded array : [  1.   2.   2.   2.   2.  11. 101.]

###### 58. Write a NumPy program to get the floor and ceiling values of the elements of a NumPy array

In [7]:
arr = np.array([10, 20, 30, 40, 50])
divisors = np.array([3, 4, 5, 6, 7])
print('array of elements :',arr)
print('array of divisors elements :',divisors)

div_arr=np.array(arr/ divisors)
print('normal division :',div_arr)

floor_arr=np.floor_divide(arr, divisors)
print('floor division :',floor_arr)

ceiling_arr = np.ceil(arr/divisors)
print('ceiling division :',ceiling_arr)

array of elements : [10 20 30 40 50]
array of divisors elements : [3 4 5 6 7]
normal division : [3.33333333 5.         6.         6.66666667 7.14285714]
floor division : [3 5 6 6 7]
ceiling division : [4. 5. 6. 7. 8.]

###### 59. Write a NumPy program to calculate mean across dimensions, in a 2D NumPy array.

In [13]:
arr=np.array([[1,2,3],[4,5,6]])
print('2D array :',arr)

row_mean=np.mean(arr,axis=1)
print('Row means :',row_mean)

col_mean=np.mean(arr,axis=0)
print('Columns means :',col_mean)

2D array : [[1 2 3]
 [4 5 6]]
Row means : [2. 5.]
Columns means : [2.5 3.5 4.5]

In [16]:
odd_data_point_arr=np.array([10,20,30])
even_data_point_arr=np.array([20,40,60,80])
print('odd_array :',odd_data_point_arr)
print('even_array :',even_data_point_arr)

odd_mean = np.mean(odd_data_point_arr)
print('odd array mean :',odd_mean)

even_mean = np.mean(even_data_point_arr)
print('odd array mean :',even_mean)

odd_array : [10 20 30]
even_array : [20 40 60 80]
odd array mean : 20.0
odd array mean : 50.0

###### 60. Write a NumPy program to convert angles from degrees to radians for all elements in a given array.

A degree is a unit of angle measurement, where one full circle (360 degrees) represents a **complete rotation**. In NumPy, angles can be expressed in degrees using the deg unit.

A radian is another unit of angle measurement, where one full circle (360 degrees) is equal to **2*pi radians**. In NumPy, angles can be expressed in radians using the rad unit.

NumPy provides various functions to convert between degrees and radians, such as np.deg2rad() and np.rad2deg(). These functions can be used to convert an array of angles from one unit to another.

In [17]:
deg_arr=np.array([0, 30, 45 ,60, 90, 120, 180, 240, 300, 360])
print('degree element array :',deg_arr)

deg_to_rad_arr = np.deg2rad(deg_arr)

print('degree to radian converted array :',deg_to_rad_arr)

degree element array : [  0  30  45  60  90 120 180 240 300 360]
degree to radian converted array : [0.         0.52359878 0.78539816 1.04719755 1.57079633 2.0943951
 3.14159265 4.1887902  5.23598776 6.28318531]

                                                                                                         Date: 28-April-2023

###### 61. What is the use of all and any function in numpy?

The **all()** function returns **True** if **all elements in the array evaluate to True** for the given condition, and **False otherwise**

The **any()** function, on the other hand, returns **True if at least one element in the array** evaluates to True for the given condition, and **False otherwise**.

In [12]:
import numpy as np


arr1=np.array([True, False, True, 1 , 2, 3])
print(arr1)
arr2=np.array([True, True, True, True, 1, 2])
print(arr2)
arr3=np.array([0,0,0,0,0])
print(arr3)

print('*'*100)

print('np.any() operation for arr1:',np.any(arr1))
print('np.any() operation for arr2:',np.any(arr2))
print('np.any() operation for arr3:',np.any(arr3))

print('*'*100)

print('np.all() operation for arr1:',np.all(arr1))
print('np.all() operation for arr2:',np.all(arr2))
print('np.all() operation for arr3:',np.all(arr3))

[1 0 1 1 2 3]
[1 1 1 1 1 2]
[0 0 0 0 0]
****************************************************************************************************
np.any() operation for arr1: True
np.any() operation for arr2: True
np.any() operation for arr3: False
****************************************************************************************************
np.all() operation for arr1: False
np.all() operation for arr2: True
np.all() operation for arr3: False

###### 62. Create a 3x3 matrix with values ranging from 0 to 8
    [[0 1 2]
    [3 4 5]
    [6 7 8]]

In [24]:
arr=np.arange(0,9)
print(arr)
arr_2d=arr.reshape(3,3)
print('array for 3x3 matrix with values ranging from 0 to 8 :\n',arr_2d)

[0 1 2 3 4 5 6 7 8]
array for 3x3 matrix with values ranging from 0 to 8 :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]

###### 63. How to reverse the columns of a 2D array?
    ([[2, 1, 0],
    [5, 4, 3],
    [8, 7, 6]])

In [32]:
arr=np.arange(0,9)
arr_2d=arr.reshape(3,3)
print(arr_2d)
print('*'*100)
print('Printing reverse the columns of 2D array:')
arr_2d[:,::-1]

[[0 1 2]
 [3 4 5]
 [6 7 8]]
****************************************************************************************************
Printing reverse the columns of 2D array:

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

###### 64. How to reverse the rows of a 2D array?
    [[6, 7, 8],
    [3, 4, 5],
    [0, 1, 2]]

In [37]:
arr=np.arange(0,9)
print('original array :',arr)

# making the array reverse 
arr2 = arr[::-1]
print('reversed  array :',arr2)

# converting array into 2d
arr_2d=arr2.reshape(3,3)
print("Converted array :",arr_2d)

print('*'*100)

arr2=arr_2d[:,::-1]
print('Printing reverse the columns of 2D array:\n',arr2)

original array : [0 1 2 3 4 5 6 7 8]
reversed  array : [8 7 6 5 4 3 2 1 0]
Converted array : [[8 7 6]
 [5 4 3]
 [2 1 0]]
****************************************************************************************************
Printing reverse the columns of 2D array:
 [[6 7 8]
 [3 4 5]
 [0 1 2]]

###### 65.  Find indices of non-zero elements from [1,2,0,0,4,0]

In [39]:
arr=np.array([1,2,0,0,4,0])
print('Original Array :',arr)

non_zero_array=arr.nonzero()
print('non-zero elements in array :\n',non_zero_array)

Original Array : [1 2 0 0 4 0]
non-zero elements in array :
 (array([0, 1, 4], dtype=int64),)

                                                                                                         Date: 29-April-2023

###### 66. Write a NumPy program to compute the determinant of an array.

| a  b |
| c  d |

the determinant is defined as det(A) = ad - bc

**Note that the det() function can only be used to compute the determinant of a square matrix**

| 1  2 |
| 3  4 |

the determinant is defined as det(A) = 1*4 - 2*3 = 4 - 6 = -2

In [40]:
arr=np.array([[1,2],[3,4]])
print(arr)

determinant=np.linalg.det(arr)
print('Determinant of array :',determinant)

[[1 2]
 [3 4]]
Determinant of array : -2.0000000000000004

###### 67. Write a NumPy program to compute the inverse of a given matrix

In [43]:
arr=np.array([[1,2],[3,4]])
print(arr)

determinant=np.linalg.inv(arr)
print('Inverse of matrix:\n',determinant)

[[1 2]
 [3 4]]
Inverse of matrix:
 [[-2.   1. ]
 [ 1.5 -0.5]]

###### 68. Create a random vector of size 30 and find the mean value

In [49]:
random_vector=np.random.randint(1,31,30)
print('Random vector :\n',random_vector)
print('Size of random vector:',random_vector.size)
print('MEAN :',arr.mean())

Random vector :
 [ 3 28  1  8 24 15 19  4 17 11 20  8 26 13  8  5  3 28 20 13  3 23 13 26
 26 29 11  1 27  6]
Size of random vector: 30
MEAN : 2.5

###### 69. How to extract all numbers between a given range from a NumPy array?

In [50]:
import numpy as np

# Define an array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Define the range of values to extract
start = 3
end = 8

# Use boolean indexing to extract the values in the range
result = arr[(arr >= start) & (arr <= end)]

print(result)

[3 4 5 6 7 8]

###### 70.  Create a 3x3x3 array with random values

In [59]:
arr=np.random.randint(1,100,27)
arr_3x3x3=arr.reshape(3,3,3)

print('arr_3x3x3 array :',arr_3x3x3)

print('\nshape of array :',arr_3x3x3.shape)

arr_3x3x3 array : [[[97 89 88]
  [66 76 43]
  [78 68 66]]

 [[17 40 70]
  [16 71 94]
  [92 28 73]]

 [[93 36 21]
  [89 88 69]
  [42 49 85]]]

shape of array : (3, 3, 3)