                                                                               Date: 16_April-2023

###### 1. WAP for finding common & uncommon element from list and dictionary

In [1]:
list1=['A','B','C']
dict1={'A':10,'B':20,'C':30,'D':40,'E':50}

com=[]
uncom=[]
com_keys=[]
uncom_keys=[]

for i in list1:
    if i in dict1:
        com.append(dict1[i])      

for i in dict1:
    if i not in list1:
        uncom.append(dict1[i])
            
for i in list1:
    if i in dict1:
        com_keys.append(i)
             
for i in dict1:
    if i not in list1:
        uncom_keys.append(i)
          
        
print('Values of Common elements from list & dictionary :',com)
print('*'*90)

print("Values of uncommon elements from list & dictionary :",uncom)     
print('*'*90)

print('Keys of common elements from list & dictionary :',com_keys)     
print('*'*90)

print('Keys of uncommon elements from list & dictionary :',uncom_keys)

Values of Common elements from list & dictionary : [10, 20, 30]
******************************************************************************************
Values of uncommon elements from list & dictionary : [40, 50]
******************************************************************************************
Keys of common elements from list & dictionary : ['A', 'B', 'C']
******************************************************************************************
Keys of uncommon elements from list & dictionary : ['D', 'E']

###### 2. WAP for finding even and odd numbers from range 1 to 100

In [2]:
even_number=[]
odd_number=[]

for i in range(1,101):
    if i%2==0:
        even_number.append(i)
    else:
        odd_number.append(i)
        
print("Even numbers are :",even_number)
print('*'*100)
print("Odd numbers are :",odd_number)

Even numbers are : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
****************************************************************************************************
Odd numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

###### 3.  Program for finding given number is prime or not

###### Prime Numbers

    A prime number is a positive integer greater than 1 that has only two factors, 1 and itself. In other words, it is a number that is divisible by only 1 and itself. For example, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97 are all prime numbers.

In [3]:
num=int(input('Enter number'))

for i in range(2,num):
    if num%i == 0:
        print(num,'is not Prime number')
        break
    else:
        print(num,'is Prime number')

Enter number100
100 is not Prime number

###### 4. Program for sorting prime /unprime numbers from given range

In [4]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True

prime_num=[]
not_prime=[]

for i in range(0,101):
    if is_prime(i):
        prime_num.append(i)
    else:
        not_prime.append(i)
        
print('not_prime list :',not_prime)
print('*'*100)
print('prime_num list :',prime_num)

not_prime list : [0, 1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]
****************************************************************************************************
prime_num list : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

###### 5. Addition of string and integer Using Explicit Conversion

In [5]:
str_var='1000'
int_var=2000

print('string value :',str_var)
print(type(str_var))

print('Integer value :',int_var)
print(type(int_var))

print('*'*100)

print('explicit conversion str_var to int_var :')
new_str_var=int(str_var) # explicit conversion string to int
print('New converted str_var :',new_str_var)
print(type(new_str_var))

print('*'*100)

print('Addition of new_str_var and int_var :',new_str_var+int_var)

string value : 1000
<class 'str'>
Integer value : 2000
<class 'int'>
****************************************************************************************************
explicit conversion str_var to int_var :
New converted str_var : 1000
<class 'int'>
****************************************************************************************************
Addition of new_str_var and int_var : 3000

                                                                             Date : 17_April-2023

###### 6. Python program output of two print statemets in single line.

In [6]:
# print with end whitespace
print('Do it now, sometimes later becomes never..!', end= ' ')
print('Practice makes man perfect..!')

Do it now, sometimes later becomes never..! Practice makes man perfect..!

In [7]:
# print with the help of variables
pr1='Do it now, sometimes later becomes never..!'
pr2='Practice makes man perfect..!'

print(pr1,pr2)

Do it now, sometimes later becomes never..! Practice makes man perfect..!

###### 7. Python Program to Generate a Random Number

In [8]:
import random

var= random.randint(0,9)
print(var)

7

###### 8. Python program to check if year is a leap year or not

        divided by 100 means century year (ending with 00)
        century year divided by 400 is leap year

        not divided by 100 means not a century year
        year divided by 4 is a leap year

        if not divided by both 400 (century year) and 4 (not century year)
        year is not leap year

In [9]:
year=int(input('Enter year to check leep or not :'))

if (year % 400 == 0) and (year % 100 == 0):
    print(year,'is a leep year..!')
    
elif (year % 4 == 0) and (year % 100 != 0):
    print(year,'is a leep year..!')
    
else:
    print(year,'is not a leep year..!')

Enter year to check leep or not :100
100 is not a leep year..!

###### 9. Python Program to Check if a Number is Positive, Negative or 0

In [10]:
num = float(input('Enter required number to check +ve, -ve or zero : '))

if num > 0:
    print(num, "is a positive number")
elif num == 0:
    print(num, "is a zero number")
else:
    print(num, 'is negative number')

Enter required number to check +ve, -ve or zero : 100
100.0 is a positive number

###### 10. Python Program to Find the Largest Among Three Numbers

In [11]:
a=float(input("Enter 1st number : "))
b=float(input("Enter 2nd number : "))
c=float(input("Enter 3rd number : "))

if (a>=b) and (a>=c):
    largest=a
    
elif (b>=a) and (b>=c):
    largest=b
    
else:
    largest=c
    
print("The largest number is :",largest)

Enter 1st number : 10
Enter 2nd number : 20
Enter 3rd number : 30
The largest number is : 30.0

                                                                            Date : 18_April-2023

###### 11. Cast integer number into str/float/complex/bool

In [12]:
int_num=1000
print('Integer value',int_num)
print('*'*100)

str_num=str(int_num)
print('Str value :',str_num)
print('*'*100)

flt_num=float(int_num)
print('Float value :',flt_num)
print('*'*100)

comp_num=complex(int_num)
print('Complex value :',comp_num)
print('*'*100)

bool_num=bool(int_num)
print('Boolean value :',bool_num)
print('*'*100)

Integer value 1000
****************************************************************************************************
Str value : 1000
****************************************************************************************************
Float value : 1000.0
****************************************************************************************************
Complex value : (1000+0j)
****************************************************************************************************
Boolean value : True
****************************************************************************************************

###### 12. Take two numbers and display output on operator functions

In [13]:
x=14
y=4

print('x + y =',x+y)
print('.'*100)

print('x - y =',x-y)
print('.'*100)

print('x * y =',x*y)
print('.'*100)

print('x / y =',x/y)
print('.'*100)

print('x // y =',x//y)
print('.'*100)

print('x % y =',x%y)
print('.'*100)

print('x ** y =',x**y)

x + y = 18
....................................................................................................
x - y = 10
....................................................................................................
x * y = 56
....................................................................................................
x / y = 3.5
....................................................................................................
x // y = 3
....................................................................................................
x % y = 2
....................................................................................................
x ** y = 38416

###### 13. create list by using user input, display ascending and descending order and access that elemets

In [11]:
numbers = []
n = int(input("Enter the number of elements in the list: "))

for i in range(n):
    num = int(input("Enter a number: "))
    numbers.append(num)

print("Original list:", numbers)

print("List in ascending order:", sorted(numbers))

print("List in descending order:", sorted(numbers, reverse=True))
print(len(numbers))
print(numbers[5:7])

Enter the number of elements in the list: 10
Enter a number: 100
Enter a number: 2
Enter a number: 6
Enter a number: 2
Enter a number: 200
Enter a number: 334455
Enter a number: 6
Enter a number: 7
Enter a number: 89
Enter a number: 30
Original list: [100, 2, 6, 2, 200, 334455, 6, 7, 89, 30]
List in ascending order: [2, 2, 6, 6, 7, 30, 89, 100, 200, 334455]
List in descending order: [334455, 200, 100, 89, 30, 7, 6, 6, 2, 2]
10
[334455, 6]

###### 14. Create the tuple and append any number in tuple

In [12]:
tup=(1,2,55,66,600)
print(tup,type(tup))
print('*'*100)

print('converting tup to list for append function:')
list1=list(tup)
list1.append('Digvijay')
print(list1,type(list1))
print('*'*100)

tup=tuple(list1)
print(tup,type(tup))

(1, 2, 55, 66, 600) <class 'tuple'>
****************************************************************************************************
converting tup to list for append function:
[1, 2, 55, 66, 600, 'Digvijay'] <class 'list'>
****************************************************************************************************
(1, 2, 55, 66, 600, 'Digvijay') <class 'tuple'>

###### 15. create a tuple and display one element seperate from tuple

In [22]:
tup=('apple','banana','chiku','mango')
(a,*b)=tup
print(a)
print(b)

print('*'*100)

tup1=('a','b','c','d','e')
tup2=('d','s','m')
tup=(*tup1,*tup2)
print(tup1)
print(tup2)
print("merging two tuples:",tup)

apple
['banana', 'chiku', 'mango']
****************************************************************************************************
('a', 'b', 'c', 'd', 'e')
('d', 's', 'm')
merging two tuples: ('a', 'b', 'c', 'd', 'e', 'd', 's', 'm')

                                                                            Date : 19_April-2023

###### 16. create set and update one set to another

In [29]:
set1=set([1,2,3,4,5])
set2=set((6,7,8,9,10))
set3=set([11,22,33,44,55])

print(set1)
print(set2)
print('*'*100)
set1.update(set2)
print('Updating set1 to set2 :',set1)
set2.update(set3)
print('Updating set2 to set1 :',set2)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}
****************************************************************************************************
Updating set1 to set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Updating set2 to set1 : {33, 6, 7, 8, 9, 10, 11, 44, 22, 55}

###### 17. create a dictionary and access it in different ways

In [6]:
dict1={'a':1,'b':2,'c':3,'d':4,'e':5}
print('Created Dictionary is :',dict1)
print('*'*100)

print('Accesing element by using given key :',dict1['a'])
print('Accesing element by using index :',dict1.get('a'))
print('Accesing all keys :',dict1.keys())
print('Accesing all values :',dict1.values())
print('Accesing all key-value pair :',dict1.items())

Created Dictionary is : {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
****************************************************************************************************
Accesing element by using given key : 1
Accesing element by using index : 1
Accesing all keys : dict_keys(['a', 'b', 'c', 'd', 'e'])
Accesing all values : dict_values([1, 2, 3, 4, 5])
Accesing all key-value pair : dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

###### 18. write a program to swap any two values from a list using function swap()
input  : list1=[1,2,3,4,5,8,10]
output :list2=[1,2,10,4,5,8,3]

In [12]:
def swap(lst,i, j):
    temp = lst[i]
    lst[i] = lst[j]
    lst[j] = temp
    return lst[i], lst[j]



list1=[1,2,3,4,5,8,10] 
print('Input List :',list1)
swap(list1,2,6)
print('Output List :',list1)

Input List : [1, 2, 3, 4, 5, 8, 10]
Output List : [1, 2, 10, 4, 5, 8, 3]

###### 19. pass list as argument and get the sum of list
list1=[1,2,3,7,4,5,8,10]

In [15]:
def sum_list(lst):
    total=0
    for num in lst:
        total+=num
    return total 
    
list1=[1,2,3,7,4,5,8,10]
print('inlput list:',list1)
print('sum of list :',sum_list(list1))

inlput list: [1, 2, 3, 7, 4, 5, 8, 10]
sum of list : 40

###### 20. pass tuple and count number of elemnt in tuple
tup=(1,2,3,7,4,5,8,10)

In [17]:
def count_ele(tup):
    count=len(tup)
    return count

tup=(1,2,3,4,5,67,99,77)
print('count of tuple is :',count_ele(tup))

count of tuple is : 8